Repository getsentry/sentry, changes with the owners that .github/CODEOWNERS names for each.
All owners: @getsentry/owners-legal, @getsentry/owners-migrations, @getsentry/owners-snuba, @getsentry/owners-ingest, @getsentry/security

fix message
  src/sentry/eventstore/base.py
Owners: none

fix(billing-permissions) - Allow org:billing to access org details
  src/sentry/api/endpoints/organization_details.py
Owners: none

test: Remove SnubaEvent tests
  tests/sentry/api/serializers/test_event.py
  tests/snuba/models/test_event.py
Owners: none

ref(sentry-apps): Remove reference to SnubaEvent
  src/sentry/tasks/sentry_apps.py
Owners: none

ref: Use new Event for debug mail views
  src/sentry/web/frontend/debug/mail.py
Owners: none

ref(ts): Convert <ListLink> to typescript (#16206)
  src/sentry/static/sentry/app/components/links/listLink.jsx
  src/sentry/static/sentry/app/components/links/listLink.tsx
Owners: none

ref(ts): Convert <ListLink> to typescript (#16206)
  src/sentry/static/sentry/app/components/links/listLink.jsx
  src/sentry/static/sentry/app/components/links/listLink.tsx
Owners: none

fix test
  tests/sentry/web/frontend/test_auth_saml2.py
Owners: none

chore(AlertLink): Adds small prop to storybook
  docs-ui/components/alertLink.stories.js
Owners: none

ref(AlertLink): typing
  src/sentry/static/sentry/app/components/alertLink.tsx
Owners: none

fix(csharp-ui): after review fixes
  src/sentry/static/sentry/app/components/events/interfaces/assembly.tsx
  src/sentry/static/sentry/app/components/events/interfaces/breadcrumbs/crumbTable.jsx
  src/sentry/static/sentry/app/components/events/interfaces/keyValueList.jsx
  tests/js/spec/components/events/interfaces/keyValueList.spec.jsx
Owners: none

ref(ts): Convert <BetaTag> to typescript
  src/sentry/static/sentry/app/components/betaTag.tsx
Owners: none

add safari extensions to filter
  src/sentry/message_filters.py
  tests/sentry/filters/test_browser_extensions.py
Owners: none

fix(discover) Fix permission denied errors logging to sentry
  src/sentry/static/sentry/app/views/eventsV2/eventDetails/content.tsx
  src/sentry/static/sentry/app/views/eventsV2/eventDetails/index.tsx
Owners: none

feat(discover) Switch trace and span id to use columns instead of context
  src/sentry/api/endpoints/organization_events.py
  src/sentry/api/event_search.py
  src/sentry/snuba/events.py
  tests/sentry/api/test_event_search.py
  tests/snuba/api/endpoints/test_organization_events_v2.py
  tests/snuba/search/test_backend.py
Owners: none

ref(ts): Convert <FeatureDisabled> to typescript
  src/sentry/static/sentry/app/components/acl/featureDisabled.tsx
  src/sentry/static/sentry/app/constants/index.tsx
Owners: none

ref(ts) Convert Gravatar to typescript (#16272)
  src/sentry/static/sentry/app/components/avatar/baseAvatar.tsx
  src/sentry/static/sentry/app/components/avatar/gravatar.tsx
Owners: none

ref(ts) Convert Gravatar to typescript (#16272)
  src/sentry/static/sentry/app/components/avatar/baseAvatar.tsx
  src/sentry/static/sentry/app/components/avatar/gravatar.tsx
Owners: none

Restore compatibility for old aliases with discover2
  src/sentry/api/endpoints/organization_events_stats.py
  tests/snuba/api/endpoints/test_organization_events_stats.py
Owners: none

ref(ts): Convert <FlowLayout> to typescript
  src/sentry/static/sentry/app/components/flowLayout.jsx
  src/sentry/static/sentry/app/components/flowLayout.tsx
Owners: none

test(FlowLayout): updated snap
  tests/js/spec/views/organizationGroupDetails/__snapshots__/groupSimilar.spec.jsx.snap
Owners: none

fix(discover) Fix permission denied errors logging to sentry (#16295)
  src/sentry/static/sentry/app/views/eventsV2/eventDetails/content.tsx
  src/sentry/static/sentry/app/views/eventsV2/eventDetails/index.tsx
Owners: none

fix(discover) Fix permission denied errors logging to sentry (#16295)
  src/sentry/static/sentry/app/views/eventsV2/eventDetails/content.tsx
  src/sentry/static/sentry/app/views/eventsV2/eventDetails/index.tsx
Owners: none

Restore compatibility for old aliases with discover2 (#16297)
  src/sentry/api/endpoints/organization_events_stats.py
  tests/snuba/api/endpoints/test_organization_events_stats.py
Owners: none

Restore compatibility for old aliases with discover2 (#16297)
  src/sentry/api/endpoints/organization_events_stats.py
  tests/snuba/api/endpoints/test_organization_events_stats.py
Owners: none

build(setup): Use a cleaned-up version of readme for PyPI
  setup.py
Owners: none

A change to the offset test in the hopes that it is more reliable (#16229)
  tests/sentry/incidents/endpoints/test_project_alert_rule_index.py
Owners: none

A change to the offset test in the hopes that it is more reliable (#16229)
  tests/sentry/incidents/endpoints/test_project_alert_rule_index.py
Owners: none

meta(readme): Switch to markdown for better compatibility
  README.md
  README.rst
  setup.py
Owners: none

license(date): Update license change date to 2023-01-07
  LICENSE
Owners: @getsentry/owners-legal

feat(discover) Switch trace and span id to use columns instead of context
  src/sentry/api/endpoints/organization_events.py
  src/sentry/api/event_search.py
  src/sentry/snuba/events.py
  tests/sentry/api/test_event_search.py
  tests/snuba/api/endpoints/test_organization_events_v2.py
  tests/snuba/search/test_backend.py
Owners: none

feat(discover) Switch trace and span id to use columns instead of context
  src/sentry/api/endpoints/organization_events.py
  src/sentry/api/event_search.py
  src/sentry/snuba/events.py
  tests/sentry/api/test_event_search.py
  tests/snuba/api/endpoints/test_organization_events_v2.py
  tests/snuba/search/test_backend.py
Owners: none

cleanup: Removing unused code (#16187)
  tests/sentry/incidents/endpoints/test_project_alert_rule_index.py
Owners: none

cleanup: Removing unused code (#16187)
  tests/sentry/incidents/endpoints/test_project_alert_rule_index.py
Owners: none

meta(readme): Switch to markdown for better compatibility (#16301)
  README.md
  README.rst
  setup.py
Owners: none

meta(readme): Switch to markdown for better compatibility (#16301)
  README.md
  README.rst
  setup.py
Owners: none

perf: Do not retry Snuba Query on ReadTimeout (#16261)
  src/sentry/utils/snuba.py
  tests/sentry/utils/test_urllib3_timeout.py
Owners: @getsentry/owners-snuba

perf: Do not retry Snuba Query on ReadTimeout (#16261)
  src/sentry/utils/snuba.py
  tests/sentry/utils/test_urllib3_timeout.py
Owners: @getsentry/owners-snuba

layout(footer): Add build information to footer version
  src/sentry/templates/sentry/layout.html
Owners: none

license(date): Update license change date to 2023-01-07 (#16302)
  LICENSE
Owners: @getsentry/owners-legal

.github/CODEOWNERS:

# Legal
/LICENSE  @getsentry/owners-legal

# Migrations
/src/sentry/south_migrations/  @getsentry/owners-migrations

# Snuba
/src/sentry/eventstream/        @getsentry/owners-snuba
/src/sentry/utils/snuba.py      @getsentry/owners-snuba
/src/sentry/tsdb/snuba.py       @getsentry/owners-snuba
/src/sentry/tsdb/redissnuba.py  @getsentry/owners-snuba
/src/sentry/search/snuba/       @getsentry/owners-snuba
/src/sentry/tagstore/snuba/     @getsentry/owners-snuba
/src/sentry/interfaces/security.py @getsentry/owners-ingest

# Security
/src/sentry/net/  @getsentry/security
