Repository getsentry/sentry, changes with the owners that .github/CODEOWNERS names for each.
All owners: @getsentry/owners-legal, @getsentry/owners-migrations, @getsentry/owners-snuba, @getsentry/owners-ingest, @getsentry/security, @getsentry/releases, @getsentry/owners-python-build, @getsentry/owners-js-build, @getsentry/owners-sentry-dev, @getsentry/workflow

Fixing tests, some nit picking
  src/sentry/incidents/endpoints/serializers.py
  src/sentry/incidents/logic.py
  tests/sentry/incidents/endpoints/test_project_alert_rule_details.py
  tests/sentry/incidents/endpoints/test_serializers.py
Owners: @getsentry/workflow

fix(discover): Allowing function style aggregates
  src/sentry/snuba/discover.py
  tests/snuba/api/endpoints/test_organization_events_v2.py
Owners: none

feat(discover): Adding aggregates to the autocomplete
  src/sentry/static/sentry/app/views/events/searchBar.jsx
  src/sentry/static/sentry/app/views/eventsV2/results.tsx
  src/sentry/static/sentry/app/views/performance/landing.tsx
  src/sentry/static/sentry/app/views/performance/transactionSummary/content.tsx
Owners: none

fix(discover): Allowing function style aggregates
  src/sentry/snuba/discover.py
  tests/snuba/api/endpoints/test_organization_events_v2.py
Owners: none

feat(discover): Adding aggregates to the autocomplete
  src/sentry/static/sentry/app/views/events/searchBar.jsx
  src/sentry/static/sentry/app/views/eventsV2/results.tsx
  src/sentry/static/sentry/app/views/performance/landing.tsx
  src/sentry/static/sentry/app/views/performance/transactionSummary/content.tsx
Owners: none

lol x3
  .travis.yml
Owners: none

lol x4
  .travis.yml
Owners: none

wip
  src/sentry/static/sentry/app/components/events/interfaces/breadcrumbsV2/badgeCollapsed.tsx
  src/sentry/static/sentry/app/components/events/interfaces/breadcrumbsV2/badgeIcon.tsx
  src/sentry/static/sentry/app/components/events/interfaces/breadcrumbsV2/breadcrumb.tsx
  src/sentry/static/sentry/app/components/events/interfaces/breadcrumbsV2/breadcrumbBadge.tsx
  src/sentry/static/sentry/app/components/events/interfaces/breadcrumbsV2/styles.tsx
Owners: none

Fixing tests
  tests/sentry/incidents/endpoints/test_serializers.py
Owners: @getsentry/workflow

wip
  src/sentry/static/sentry/app/components/events/interfaces/breadcrumbsV2/collapseCrumbSameType.tsx
  src/sentry/static/sentry/app/components/events/interfaces/breadcrumbsV2/level.tsx
Owners: none

fix(breadcrumb): Removed typo
  src/sentry/static/sentry/app/components/events/interfaces/breadcrumbsV2/level.tsx
Owners: none

test(percy): Fix flakey percy snapshot on User Feedback
  tests/acceptance/test_project_user_feedback.py
Owners: none

wip
  src/sentry/static/sentry/app/components/events/interfaces/breadcrumbsV2/breadcrumbs.tsx
  src/sentry/static/sentry/app/components/events/interfaces/breadcrumbsV2/listBody.tsx
  src/sentry/static/sentry/app/components/events/interfaces/breadcrumbsV2/topCollapsedInfo.tsx
Owners: none

i am the world's biggest idiot
  .travis.yml
Owners: none

since we don't have nvmrc anymore, storybook needs to be made generic
  .travis.yml
Owners: none

add XXX
  src/sentry/auth/providers/saml2/provider.py
Owners: none

dedupe
  .travis.yml
Owners: none

feat(api): Log session_expiration (#19070)
  src/sentry/auth/providers/saml2/provider.py
Owners: none

feat(api): Log session_expiration (#19070)
  src/sentry/auth/providers/saml2/provider.py
Owners: none

fix bin/yarn here too
  src/sentry/utils/distutils/commands/base.py
Owners: none

another fix
  src/sentry/utils/distutils/commands/build_assets.py
Owners: none

fix(ui): add new alert status icons
  src/sentry/static/sentry/app/views/alerts/status.tsx
Owners: @getsentry/workflow

port GHA to volta
  .github/workflows/acceptance.yml
Owners: none

use new color name
  src/sentry/static/sentry/app/views/alerts/details/header.tsx
Owners: @getsentry/workflow

switch to negative margin to prevent larger buttons
  src/sentry/static/sentry/app/views/alerts/status.tsx
Owners: @getsentry/workflow

ref(org): Reorder props for withOrganization
  src/sentry/static/sentry/app/utils/withOrganization.tsx
Owners: none

fixed blue/green colors
  src/sentry/static/sentry/app/utils/theme.tsx
Owners: none

tests
  tests/js/spec/components/__snapshots__/tag.spec.jsx.snap
  tests/js/spec/components/events/__snapshots__/sdkUpdates.spec.jsx.snap
  tests/js/spec/components/sidebar/__snapshots__/index.spec.jsx.snap
  tests/js/spec/views/__snapshots__/accountSubscriptions.spec.jsx.snap
  tests/js/spec/views/inviteMember/__snapshots__/inviteMember.spec.jsx.snap
  tests/js/spec/views/projectPlugins/__snapshots__/projectPlugins.spec.jsx.snap
Owners: none

fix(breadcrumb): Removed typo (#19073)
  src/sentry/static/sentry/app/components/events/interfaces/breadcrumbsV2/level.tsx
Owners: none

fix(breadcrumb): Removed typo (#19073)
  src/sentry/static/sentry/app/components/events/interfaces/breadcrumbsV2/level.tsx
Owners: none

feat(ui): Split proguard from other DIFs (#18592)
  src/sentry/api/endpoints/debug_files.py
  src/sentry/conf/server.py
  src/sentry/features/__init__.py
  src/sentry/static/sentry/app/routes.jsx
  src/sentry/static/sentry/app/views/settings/project/navigationConfiguration.tsx
  src/sentry/static/sentry/app/views/settings/projectAndroidMappings/index.tsx
  src/sentry/static/sentry/app/views/settings/projectAndroidMappings/projectAndroidMappings.tsx
Owners: none

feat(ui): Split proguard from other DIFs (#18592)
  src/sentry/api/endpoints/debug_files.py
  src/sentry/conf/server.py
  src/sentry/features/__init__.py
  src/sentry/static/sentry/app/routes.jsx
  src/sentry/static/sentry/app/views/settings/project/navigationConfiguration.tsx
  src/sentry/static/sentry/app/views/settings/projectAndroidMappings/index.tsx
  src/sentry/static/sentry/app/views/settings/projectAndroidMappings/projectAndroidMappings.tsx
Owners: none

ref(ui): Object.entries instead of Object.keys
  src/sentry/static/sentry/app/views/releasesV2/detail/filesChanged/index.tsx
Owners: none

fix: Avoid nested transactions in ingest consumers tracing
  src/sentry/ingest/ingest_consumer.py
Owners: @getsentry/owners-ingest

feat(sdk): Allow to mark sdk scope as unsafe
  src/sentry/utils/sdk.py
Owners: none

feat(ingest) Tracing for ingest consumers
  src/sentry/conf/server.py
  src/sentry/ingest/ingest_consumer.py
  src/sentry/utils/sdk.py
  tests/relay_integration/test_sdk.py
Owners: @getsentry/owners-ingest

feat(ingest) Tracing for ingest consumers (#18479)
  src/sentry/conf/server.py
  src/sentry/ingest/ingest_consumer.py
  src/sentry/utils/sdk.py
  tests/relay_integration/test_sdk.py
Owners: @getsentry/owners-ingest

feat(ingest) Tracing for ingest consumers (#18479)
  src/sentry/conf/server.py
  src/sentry/ingest/ingest_consumer.py
  src/sentry/utils/sdk.py
  tests/relay_integration/test_sdk.py
Owners: @getsentry/owners-ingest

fix test
  src/sentry/api/endpoints/filechange.py
Owners: none

feat(ui): Limit release files and commits (#19066)
  src/sentry/api/endpoints/filechange.py
  src/sentry/static/sentry/app/views/releasesV2/detail/commits/index.tsx
  src/sentry/static/sentry/app/views/releasesV2/detail/filesChanged/index.tsx
  src/sentry/static/sentry/app/views/releasesV2/list/index.tsx
Owners: none

.github/CODEOWNERS:

# Legal
/LICENSE  @getsentry/owners-legal

# Migrations
/src/sentry/migrations/  @getsentry/owners-migrations

# Snuba
/src/sentry/eventstream/        @getsentry/owners-snuba
/src/sentry/utils/snuba.py      @getsentry/owners-snuba
/src/sentry/tsdb/snuba.py       @getsentry/owners-snuba
/src/sentry/tsdb/redissnuba.py  @getsentry/owners-snuba
/src/sentry/search/snuba/       @getsentry/owners-snuba
/src/sentry/tagstore/snuba/     @getsentry/owners-snuba

# Event Ingestion
/src/sentry/attachments/           @getsentry/owners-ingest
/src/sentry/coreapi.py             @getsentry/owners-ingest
/src/sentry/ingest/                @getsentry/owners-ingest
/src/sentry/interfaces/            @getsentry/owners-ingest
/src/sentry/message_filters.py     @getsentry/owners-ingest
/src/sentry/quotas/                @getsentry/owners-ingest
/src/sentry/relay/                 @getsentry/owners-ingest
/src/sentry/utils/data_filters.py  @getsentry/owners-ingest
/src/sentry/web/api.py             @getsentry/owners-ingest
/src/sentry/scripts/quotas/        @getsentry/owners-ingest
/src/sentry/scripts/tsdb/          @getsentry/owners-ingest

# Security
/src/sentry/net/    @getsentry/security

# Build & Releases
/docker             @getsentry/releases
setup.py            @getsentry/releases
setup.cfg           @getsentry/releases
# TODO: owners-build (for travis / gha)
requirements*.txt   @getsentry/owners-python-build
pyproject.toml      @getsentry/owners-python-build
tsconfig.*          @getsentry/owners-js-build
webpack.config.*    @getsentry/owners-js-build
package.json        @getsentry/owners-js-build
babel.config.*      @getsentry/owners-js-build
build-utils/        @getsentry/owners-js-build

# Dev
/config/hooks/              @getsentry/owners-sentry-dev
/scripts/                   @getsentry/owners-sentry-dev
Makefile                    @getsentry/owners-sentry-dev
.envrc                      @getsentry/owners-sentry-dev
.pre-commit-config.yaml     @getsentry/owners-sentry-dev
.git-blame-ignore-revs      @getsentry/owners-sentry-dev


# Owners by product feature


### Issue/Metric Alerts ###
/src/sentry/static/sentry/app/views/settings/projectAlerts/     @getsentry/workflow
/tests/js/spec/views/settings/projectAlerts/                    @getsentry/workflow

/src/sentry/static/sentry/app/views/settings/incidentRules/     @getsentry/workflow
/tests/js/spec/views/settings/incidentRules/                    @getsentry/workflow

/src/sentry/static/sentry/app/views/alerts/                     @getsentry/workflow
/tests/js/spec/views/alerts/                                    @getsentry/workflow

/src/sentry/templates/sentry/emails/incidents/                  @getsentry/workflow
/src/sentry/incidents/                                          @getsentry/workflow
/tests/sentry/incidents/                                        @getsentry/workflow
/tests/acceptance/test_incidents.py                             @getsentry/workflow

/src/sentry/snuba/models.py                                     @getsentry/workflow
/src/sentry/snuba/query_subscription_consumer.py                @getsentry/workflow
/src/sentry/snuba/subscriptions.py                              @getsentry/workflow
/tests/snuba/incidents/                                         @getsentry/workflow
/tests/sentry/snuba/test_query_subscription_consumer.py         @getsentry/workflow
/tests/sentry/snuba/test_subscriptions.py                       @getsentry/workflow
/tests/sentry/snuba/test_tasks.py                               @getsentry/workflow
/tests/snuba/snuba/test_query_subscription_consumer.py          @getsentry/workflow
### Endof Issue/Metric Alerts ###
