Repository getsentry/sentry, changes with the owners that .github/CODEOWNERS names for each.
All owners: @getsentry/owners-legal, @getsentry/owners-migrations, @getsentry/owners-snuba, @getsentry/owners-ingest, @getsentry/security, @getsentry/releases, @getsentry/owners-python-build, @getsentry/owners-js-build, @getsentry/owners-sentry-dev, @getsentry/workflow

ref(audit-logs): Migration for adding INTEGRATION_UPGRADE (#19084)
  migrations_lockfile.txt
  src/sentry/migrations/0081_add_integraiton_upgrade_audit_log.py
Owners: @getsentry/owners-migrations

dedupe yarn install
  .travis.yml
Owners: none

Add Netlify build plugin to integrations directory as document-based integration.
  src/sentry/static/sentry/app/plugins/components/pluginIcon.tsx
  src/sentry/static/sentry/app/views/organizationIntegrations/constants.tsx
  src/sentry/static/sentry/images/logos/logo-netlify.svg
  tests/js/spec/views/organizationIntegrations/integrationListDirectory.spec.jsx
Owners: none

ref(ts): Convert versionHoverCard (#19072)
  src/sentry/static/sentry/app/components/events/eventTags/eventTagsPill.tsx
  src/sentry/static/sentry/app/components/group/seenInfo.jsx
  src/sentry/static/sentry/app/components/versionHoverCard.tsx
  src/sentry/static/sentry/app/views/organizationActivity/activityFeedItem.tsx
Owners: none

ref(ts): Convert versionHoverCard (#19072)
  src/sentry/static/sentry/app/components/events/eventTags/eventTagsPill.tsx
  src/sentry/static/sentry/app/components/group/seenInfo.jsx
  src/sentry/static/sentry/app/components/versionHoverCard.tsx
  src/sentry/static/sentry/app/views/organizationActivity/activityFeedItem.tsx
Owners: none

better comment
  .travis.yml
Owners: none

dedupe yarn global bin
  .travis.yml
Owners: none

feat(discover) Add sorting to discover saved queries
  src/sentry/static/sentry/app/views/eventsV2/landing.tsx
Owners: none

fix: volta cache buster should only affect installing volta, lol
  .travis.yml
Owners: none

Fix documentation url
  src/sentry/static/sentry/app/views/organizationIntegrations/constants.tsx
Owners: none

Sort by name case insensitively.
  src/sentry/discover/endpoints/discover_saved_queries.py
Owners: none

Fix default too.
  src/sentry/discover/endpoints/discover_saved_queries.py
Owners: none

feat(ui): New alerts header with support for transactional alerts (#19058)
  src/sentry/static/sentry/app/components/subscribeButton.tsx
  src/sentry/static/sentry/app/icons/iconBell.tsx
  src/sentry/static/sentry/app/views/alerts/details/header.tsx
  tests/js/spec/views/alerts/details/index.spec.jsx
Owners: @getsentry/workflow

feat(ui): New alerts header with support for transactional alerts (#19058)
  src/sentry/static/sentry/app/components/subscribeButton.tsx
  src/sentry/static/sentry/app/icons/iconBell.tsx
  src/sentry/static/sentry/app/views/alerts/details/header.tsx
  tests/js/spec/views/alerts/details/index.spec.jsx
Owners: @getsentry/workflow

set svgIcon color type to only allow keys of our theme colors
  src/sentry/static/sentry/app/components/emptyStateWarning.tsx
  src/sentry/static/sentry/app/components/events/groupingInfo/groupingVariant.tsx
  src/sentry/static/sentry/app/components/gridEditable/index.tsx
  src/sentry/static/sentry/app/components/onboardingWizard/task.tsx
  src/sentry/static/sentry/app/icons/svgIcon.tsx
  src/sentry/static/sentry/app/views/alerts/details/header.tsx
  src/sentry/static/sentry/app/views/events/eventsChart.jsx
  src/sentry/static/sentry/app/views/eventsV2/miniGraph.tsx
  src/sentry/static/sentry/app/views/eventsV2/savedQuery/index.tsx
  src/sentry/static/sentry/app/views/eventsV2/table/cellAction.tsx
  src/sentry/static/sentry/app/views/eventsV2/table/columnEditCollection.tsx
  src/sentry/static/sentry/app/views/eventsV2/tags.tsx
  src/sentry/static/sentry/app/views/organizationGroupDetails/groupTagValues.tsx
  src/sentry/static/sentry/app/views/performance/charts/index.tsx
  src/sentry/static/sentry/app/views/performance/transactionSummary/durationChart.tsx
  src/sentry/static/sentry/app/views/performance/transactionSummary/durationPercentileChart.tsx
  src/sentry/static/sentry/app/views/performance/transactionSummary/keyTransactionButton.tsx
  src/sentry/static/sentry/app/views/performance/transactionSummary/latencyChart.tsx
  src/sentry/static/sentry/app/views/performance/transactionSummary/sidebarCharts.tsx
  src/sentry/static/sentry/app/views/releasesV2/detail/overview/chart/healthChartContainer.tsx
Owners: @getsentry/workflow

fix(async-csv): Handle unicode in log messages (#19071)
  src/sentry/data_export/tasks.py
  src/sentry/data_export/utils.py
  tests/sentry/data_export/test_tasks.py
Owners: none

fix(async-csv): Handle unicode in log messages (#19071)
  src/sentry/data_export/tasks.py
  src/sentry/data_export/utils.py
  tests/sentry/data_export/test_tasks.py
Owners: none

remove test error, update test snapshot
  src/sentry/static/sentry/app/icons/svgIcon.tsx
  tests/js/spec/components/sidebar/__snapshots__/index.spec.jsx.snap
Owners: none

test(percy): Fix flakey percy snapshot on User Feedback (#19074)
  tests/acceptance/test_project_user_feedback.py
Owners: none

test(percy): Fix flakey percy snapshot on User Feedback (#19074)
  tests/acceptance/test_project_user_feedback.py
Owners: none

install stuff to ~/bin
  .travis.yml
Owners: none

Add Netlify build plugin to integrations directory as document-based … (#19086)
  src/sentry/static/sentry/app/plugins/components/pluginIcon.tsx
  src/sentry/static/sentry/app/views/organizationIntegrations/constants.tsx
  src/sentry/static/sentry/images/logos/logo-netlify.svg
  tests/js/spec/views/organizationIntegrations/integrationListDirectory.spec.jsx
Owners: none

Add Netlify build plugin to integrations directory as document-based … (#19086)
  src/sentry/static/sentry/app/plugins/components/pluginIcon.tsx
  src/sentry/static/sentry/app/views/organizationIntegrations/constants.tsx
  src/sentry/static/sentry/images/logos/logo-netlify.svg
  tests/js/spec/views/organizationIntegrations/integrationListDirectory.spec.jsx
Owners: none

feat(alerts): Update issue/metric alerts intro texts (#19054)
  src/sentry/static/sentry/app/views/settings/projectAlerts/alertTypeChooser.tsx
Owners: @getsentry/workflow

feat(alerts): Update issue/metric alerts intro texts (#19054)
  src/sentry/static/sentry/app/views/settings/projectAlerts/alertTypeChooser.tsx
Owners: @getsentry/workflow

fix(discover): Saving queries with project
  src/sentry/discover/endpoints/serializers.py
  tests/snuba/api/endpoints/test_discover_saved_queries.py
Owners: none

use grid gap instead of margin
  src/sentry/static/sentry/app/views/alerts/status.tsx
Owners: @getsentry/workflow

does xenial already have this?
  .travis.yml
Owners: none

use undefined for current color
  src/sentry/static/sentry/app/components/subscribeButton.tsx
Owners: none

Handle reloads better.
  src/sentry/static/sentry/app/views/eventsV2/landing.tsx
Owners: none

Add more sort options and give them better names.
  src/sentry/static/sentry/app/views/eventsV2/landing.tsx
Owners: none

.github/CODEOWNERS:

# Legal
/LICENSE  @getsentry/owners-legal

# Migrations
/src/sentry/migrations/  @getsentry/owners-migrations

# Snuba
/src/sentry/eventstream/        @getsentry/owners-snuba
/src/sentry/utils/snuba.py      @getsentry/owners-snuba
/src/sentry/tsdb/snuba.py       @getsentry/owners-snuba
/src/sentry/tsdb/redissnuba.py  @getsentry/owners-snuba
/src/sentry/search/snuba/       @getsentry/owners-snuba
/src/sentry/tagstore/snuba/     @getsentry/owners-snuba

# Event Ingestion
/src/sentry/attachments/           @getsentry/owners-ingest
/src/sentry/coreapi.py             @getsentry/owners-ingest
/src/sentry/ingest/                @getsentry/owners-ingest
/src/sentry/interfaces/            @getsentry/owners-ingest
/src/sentry/message_filters.py     @getsentry/owners-ingest
/src/sentry/quotas/                @getsentry/owners-ingest
/src/sentry/relay/                 @getsentry/owners-ingest
/src/sentry/utils/data_filters.py  @getsentry/owners-ingest
/src/sentry/web/api.py             @getsentry/owners-ingest
/src/sentry/scripts/quotas/        @getsentry/owners-ingest
/src/sentry/scripts/tsdb/          @getsentry/owners-ingest

# Security
/src/sentry/net/    @getsentry/security

# Build & Releases
/docker             @getsentry/releases
setup.py            @getsentry/releases
setup.cfg           @getsentry/releases
# TODO: owners-build (for travis / gha)
requirements*.txt   @getsentry/owners-python-build
pyproject.toml      @getsentry/owners-python-build
tsconfig.*          @getsentry/owners-js-build
webpack.config.*    @getsentry/owners-js-build
package.json        @getsentry/owners-js-build
babel.config.*      @getsentry/owners-js-build
build-utils/        @getsentry/owners-js-build

# Dev
/config/hooks/              @getsentry/owners-sentry-dev
/scripts/                   @getsentry/owners-sentry-dev
Makefile                    @getsentry/owners-sentry-dev
.envrc                      @getsentry/owners-sentry-dev
.pre-commit-config.yaml     @getsentry/owners-sentry-dev
.git-blame-ignore-revs      @getsentry/owners-sentry-dev


# Owners by product feature


### Issue/Metric Alerts ###
/src/sentry/static/sentry/app/views/settings/projectAlerts/     @getsentry/workflow
/tests/js/spec/views/settings/projectAlerts/                    @getsentry/workflow

/src/sentry/static/sentry/app/views/settings/incidentRules/     @getsentry/workflow
/tests/js/spec/views/settings/incidentRules/                    @getsentry/workflow

/src/sentry/static/sentry/app/views/alerts/                     @getsentry/workflow
/tests/js/spec/views/alerts/                                    @getsentry/workflow

/src/sentry/templates/sentry/emails/incidents/                  @getsentry/workflow
/src/sentry/incidents/                                          @getsentry/workflow
/tests/sentry/incidents/                                        @getsentry/workflow
/tests/acceptance/test_incidents.py                             @getsentry/workflow

/src/sentry/snuba/models.py                                     @getsentry/workflow
/src/sentry/snuba/query_subscription_consumer.py                @getsentry/workflow
/src/sentry/snuba/subscriptions.py                              @getsentry/workflow
/tests/snuba/incidents/                                         @getsentry/workflow
/tests/sentry/snuba/test_query_subscription_consumer.py         @getsentry/workflow
/tests/sentry/snuba/test_subscriptions.py                       @getsentry/workflow
/tests/sentry/snuba/test_tasks.py                               @getsentry/workflow
/tests/snuba/snuba/test_query_subscription_consumer.py          @getsentry/workflow
### Endof Issue/Metric Alerts ###
