Repository getsentry/sentry, changes with the owners that .github/CODEOWNERS names for each.
All owners: @getsentry/owners-legal, @getsentry/owners-migrations, @getsentry/owners-snuba, @getsentry/owners-ingest, @getsentry/security, @getsentry/releases, @getsentry/owners-python-build, @getsentry/owners-js-build, @getsentry/owners-sentry-dev, @getsentry/workflow, @getsentry/visibility

.github/CODEOWNERS:

# Legal
/LICENSE  @getsentry/owners-legal

# Migrations
/src/sentry/migrations/  @getsentry/owners-migrations

# Snuba
/src/sentry/eventstream/        @getsentry/owners-snuba
/src/sentry/utils/snuba.py      @getsentry/owners-snuba
/src/sentry/tsdb/snuba.py       @getsentry/owners-snuba
/src/sentry/tsdb/redissnuba.py  @getsentry/owners-snuba
/src/sentry/search/snuba/       @getsentry/owners-snuba
/src/sentry/tagstore/snuba/     @getsentry/owners-snuba

# Event Ingestion
/src/sentry/attachments/           @getsentry/owners-ingest
/src/sentry/coreapi.py             @getsentry/owners-ingest
/src/sentry/ingest/                @getsentry/owners-ingest
/src/sentry/interfaces/            @getsentry/owners-ingest
/src/sentry/message_filters.py     @getsentry/owners-ingest
/src/sentry/quotas/                @getsentry/owners-ingest
/src/sentry/relay/                 @getsentry/owners-ingest
/src/sentry/utils/data_filters.py  @getsentry/owners-ingest
/src/sentry/web/api.py             @getsentry/owners-ingest
/src/sentry/scripts/quotas/        @getsentry/owners-ingest
/src/sentry/scripts/tsdb/          @getsentry/owners-ingest

# Security
/src/sentry/net/                    @getsentry/security
/src/sentry/auth/                   @getsentry/security
/src/sentry/api/permissions.py      @getsentry/security

# Build & Releases
/.github/workflows/release.yml  @getsentry/releases
/docker                         @getsentry/releases
setup.py                        @getsentry/releases
setup.cfg                       @getsentry/releases
# TODO: owners-build (for travis / gha)
requirements*.txt   @getsentry/owners-python-build
pyproject.toml      @getsentry/owners-python-build
tsconfig.*          @getsentry/owners-js-build
webpack.config.*    @getsentry/owners-js-build
package.json        @getsentry/owners-js-build
babel.config.*      @getsentry/owners-js-build
build-utils/        @getsentry/owners-js-build

# Dev
/config/hooks/              @getsentry/owners-sentry-dev
/scripts/                   @getsentry/owners-sentry-dev
Makefile                    @getsentry/owners-sentry-dev
.envrc                      @getsentry/owners-sentry-dev
.pre-commit-config.yaml     @getsentry/owners-sentry-dev
.git-blame-ignore-revs      @getsentry/owners-sentry-dev


# Owners by product feature


### Issue/Metric Alerts ###
/src/sentry/static/sentry/app/views/settings/projectAlerts/     @getsentry/workflow
/tests/js/spec/views/settings/projectAlerts/                    @getsentry/workflow

/src/sentry/static/sentry/app/views/settings/incidentRules/     @getsentry/workflow
/tests/js/spec/views/settings/incidentRules/                    @getsentry/workflow

/src/sentry/static/sentry/app/views/alerts/                     @getsentry/workflow
/tests/js/spec/views/alerts/                                    @getsentry/workflow

/src/sentry/templates/sentry/emails/incidents/                  @getsentry/workflow
/src/sentry/incidents/                                          @getsentry/workflow
/tests/sentry/incidents/                                        @getsentry/workflow
/tests/acceptance/test_incidents.py                             @getsentry/workflow

/src/sentry/snuba/models.py                                     @getsentry/workflow
/src/sentry/snuba/query_subscription_consumer.py                @getsentry/workflow
/src/sentry/snuba/subscriptions.py                              @getsentry/workflow
/tests/snuba/incidents/                                         @getsentry/workflow
/tests/sentry/snuba/test_query_subscription_consumer.py         @getsentry/workflow
/tests/sentry/snuba/test_subscriptions.py                       @getsentry/workflow
/tests/sentry/snuba/test_tasks.py                               @getsentry/workflow
/tests/snuba/snuba/test_query_subscription_consumer.py          @getsentry/workflow
### Endof Issue/Metric Alerts ###


### Perfomance/Discover ###
/src/sentry/snuba/                                              @getsentry/visibility
/tests/sentry/snuba/test_discover.py                            @getsentry/visibility

/src/sentry/discover/                                           @getsentry/visibility

/src/sentry/utils/snuba.py                                      @getsentry/visibility

/src/sentry/api/event_search.py                                 @getsentry/visibility
/src/sentry/api/issue_search.py                                 @getsentry/visibility
/tests/sentry/api/test_event_search.py                          @getsentry/visibility
/tests/sentry/api/test_issue_search.py                          @getsentry/visibility

/src/sentry/api/bases/organization_events.py                    @getsentry/visibility
/src/sentry/api/endpoints/organization_events.py                @getsentry/visibility
/src/sentry/api/endpoints/organization_events_stats.py          @getsentry/visibility
/src/sentry/api/endpoints/organization_events_meta.py           @getsentry/visibility
/src/sentry/api/endpoints/organization_events_facets.py         @getsentry/visibility

/src/sentry/api/endpoints/organization_tags.py                  @getsentry/visibility
/src/sentry/api/endpoints/organization_group_index.py           @getsentry/visibility
/src/sentry/api/endpoints/group_events.py                       @getsentry/visibility
/src/sentry/api/endpoints/organization_event_details.py         @getsentry/visibility
/tests/snuba/api/endpoints/                                     @getsentry/visibility

/src/sentry/api/helpers/events.py                               @getsentry/visibility
/src/sentry/api/helpers/group_index.py                          @getsentry/visibility
/src/sentry/api/serializers/snuba.py                            @getsentry/visibility

/src/sentry/search/                                             @getsentry/visibility
/tests/snuba/search/test_backend.py                             @getsentry/visibility

/src/sentry/data_export/                                        @getsentry/visibility
/tests/sentry/data_export/                                      @getsentry/visibility

/src/sentry/static/sentry/app/views/eventsV2/                   @getsentry/visibility
/tests/js/spec/views/eventsV2/                                  @getsentry/visibility
/src/sentry/static/sentry/app/views/discover/                   @getsentry/visibility
/tests/js/spec/views/discover/                                  @getsentry/visibility
/src/sentry/static/sentry/app/views/performance/                @getsentry/visibility
/tests/js/spec/views/performance/                               @getsentry/visibility
/src/sentry/static/sentry/app/utils/discover/                   @getsentry/visibility
/tests/js/spec/utils/discover/                                  @getsentry/visibility
### Endof Perfomance/Discover ###

re-record snapshots
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/combined@2019_04_07/custom_fingerprint.pysnap
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/legacy@2019_03_12/custom_fingerprint.pysnap
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/newstyle@2019_04_05/custom_fingerprint.pysnap
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/newstyle@2019_04_17/custom_fingerprint.pysnap
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/newstyle@2019_05_08/custom_fingerprint.pysnap
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/newstyle@2019_10_29/custom_fingerprint.pysnap
Owners: none

feat(grouping): Show non-contributing variants even in case of constant fingerprint (#20012)
  src/sentry/grouping/api.py
  src/sentry/static/sentry/app/components/events/groupingInfo/groupingVariant.tsx
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_exception_type.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_exception_type_and_module.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_exception_type_and_module2.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_exception_value.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_function.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_message.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_native.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_native_app.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_native_non_app.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_no_function.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_no_match.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_no_package.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_no_transaction.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_no_type_module.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_override_client.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_package.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_python.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_transaction.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_type_module.pysnap
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/combined@2019_04_07/custom_fingerprint.pysnap
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/legacy@2019_03_12/custom_fingerprint.pysnap
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/newstyle@2019_04_05/custom_fingerprint.pysnap
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/newstyle@2019_04_17/custom_fingerprint.pysnap
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/newstyle@2019_05_08/custom_fingerprint.pysnap
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/newstyle@2019_10_29/custom_fingerprint.pysnap
  tests/sentry/grouping/test_fingerprinting.py
Owners: none

feat(grouping): Show non-contributing variants even in case of constant fingerprint (#20012)
  src/sentry/grouping/api.py
  src/sentry/static/sentry/app/components/events/groupingInfo/groupingVariant.tsx
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_exception_type.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_exception_type_and_module.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_exception_type_and_module2.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_exception_value.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_function.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_message.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_native.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_native_app.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_native_non_app.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_no_function.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_no_match.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_no_package.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_no_transaction.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_no_type_module.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_override_client.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_package.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_python.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_transaction.pysnap
  tests/sentry/grouping/snapshots/test_fingerprinting/test_event_hash_variant/fingerprint_type_module.pysnap
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/combined@2019_04_07/custom_fingerprint.pysnap
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/legacy@2019_03_12/custom_fingerprint.pysnap
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/newstyle@2019_04_05/custom_fingerprint.pysnap
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/newstyle@2019_04_17/custom_fingerprint.pysnap
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/newstyle@2019_05_08/custom_fingerprint.pysnap
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/newstyle@2019_10_29/custom_fingerprint.pysnap
  tests/sentry/grouping/test_fingerprinting.py
Owners: none

feat(ui): Add attachments limit reached disclaimer
  src/sentry/static/sentry/app/components/events/eventAttachments.tsx
  src/sentry/static/sentry/app/components/events/eventEntries.jsx
Owners: none

add UI toggle to use new similarity
  src/sentry/api/endpoints/group_similar_issues.py
  src/sentry/static/sentry/app/views/organizationGroupDetails/groupSimilar/index.jsx
  tests/js/spec/views/organizationGroupDetails/groupSimilar.spec.jsx
Owners: none

fix linters
  tests/sentry/grouping/__init__.py
  tests/sentry/grouping/similarity/test_features.py
Owners: none

update snapshots again
  tests/sentry/grouping/snapshots/test_variants/test_event_hash_variant/similarity@2020_07_23/custom_fingerprint.pysnap
Owners: none

use a different integer logic
  .github/workflows/release.yml
Owners: @getsentry/releases

feat(workflow): Track Rule and AlertRule activity (#20065)
  migrations_lockfile.txt
  src/sentry/api/endpoints/project_rule_details.py
  src/sentry/api/endpoints/project_rules.py
  src/sentry/incidents/endpoints/project_alert_rule_details.py
  src/sentry/incidents/endpoints/project_alert_rule_index.py
  src/sentry/incidents/endpoints/serializers.py
  src/sentry/incidents/logic.py
  src/sentry/incidents/models.py
  src/sentry/migrations/0095_ruleactivity.py
  src/sentry/models/rule.py
  tests/sentry/api/endpoints/test_project_rule_details.py
  tests/sentry/api/endpoints/test_project_rules.py
  tests/sentry/incidents/test_models.py
Owners: @getsentry/workflow, @getsentry/owners-migrations

feat(workflow): Track Rule and AlertRule activity (#20065)
  migrations_lockfile.txt
  src/sentry/api/endpoints/project_rule_details.py
  src/sentry/api/endpoints/project_rules.py
  src/sentry/incidents/endpoints/project_alert_rule_details.py
  src/sentry/incidents/endpoints/project_alert_rule_index.py
  src/sentry/incidents/endpoints/serializers.py
  src/sentry/incidents/logic.py
  src/sentry/incidents/models.py
  src/sentry/migrations/0095_ruleactivity.py
  src/sentry/models/rule.py
  tests/sentry/api/endpoints/test_project_rule_details.py
  tests/sentry/api/endpoints/test_project_rules.py
  tests/sentry/incidents/test_models.py
Owners: @getsentry/workflow, @getsentry/owners-migrations

fix(search): Disallow suggestions for id and timestamp (#20113)
  src/sentry/tagstore/snuba/backend.py
  tests/snuba/api/endpoints/test_organization_tagkey_values.py
Owners: @getsentry/owners-snuba, @getsentry/visibility

fix(search): Disallow suggestions for id and timestamp (#20113)
  src/sentry/tagstore/snuba/backend.py
  tests/snuba/api/endpoints/test_organization_tagkey_values.py
Owners: @getsentry/owners-snuba, @getsentry/visibility

ref(ts) Convert Indicators to typescript. (#20148)
  src/sentry/static/sentry/app/actionCreators/indicator.tsx
  src/sentry/static/sentry/app/components/alerts/toastIndicator.tsx
  src/sentry/static/sentry/app/components/indicators.tsx
Owners: none

ref(ts) Convert Indicators to typescript. (#20148)
  src/sentry/static/sentry/app/actionCreators/indicator.tsx
  src/sentry/static/sentry/app/components/alerts/toastIndicator.tsx
  src/sentry/static/sentry/app/components/indicators.tsx
Owners: none

Adding projects to AlertRuleSerializer
  src/sentry/api/serializers/models/alert_rule.py
Owners: none

Removing comments
  src/sentry/api/serializers/models/alert_rule.py
Owners: none

Adding project to Rule serializer
  src/sentry/api/serializers/models/rule.py
Owners: none

fix(discover) Remove function translation code (#20149)
  src/sentry/snuba/discover.py
  tests/sentry/snuba/test_discover.py
  tests/snuba/api/endpoints/test_organization_events_meta.py
  tests/snuba/api/endpoints/test_organization_events_stats.py
  tests/snuba/api/endpoints/test_organization_events_v2.py
Owners: @getsentry/visibility

fix(discover) Remove function translation code (#20149)
  src/sentry/snuba/discover.py
  tests/sentry/snuba/test_discover.py
  tests/snuba/api/endpoints/test_organization_events_meta.py
  tests/snuba/api/endpoints/test_organization_events_stats.py
  tests/snuba/api/endpoints/test_organization_events_v2.py
Owners: @getsentry/visibility

fix(ui) Fix links to discover docs
  src/sentry/static/sentry/app/constants/index.tsx
  src/sentry/static/sentry/app/views/dashboards/exploreWidget.jsx
  src/sentry/static/sentry/app/views/dataExport/dataDownload.tsx
  src/sentry/static/sentry/app/views/eventsV2/landing.tsx
  src/sentry/static/sentry/app/views/eventsV2/table/columnEditModal.tsx
Owners: @getsentry/visibility

fix(tests) Clean up tests that were used to debug snuba inconsistency
  tests/snuba/api/endpoints/test_organization_events_v2.py
Owners: @getsentry/visibility

Replaced actionTypes with enum
  src/sentry/integrations/msteams/utils.py
  src/sentry/integrations/msteams/webhook.py
  tests/sentry/integrations/msteams/test_action_state_change.py
Owners: none

fix test
  src/sentry/static/sentry/app/components/group/sentryAppExternalIssueForm.tsx
  tests/js/sentry-test/fixtures/sentryAppComponent.js
  tests/js/sentry-test/select-new.js
  tests/js/spec/components/group/sentryAppExternalIssueActions.spec.jsx
Owners: none

adds file back
  tests/js/spec/components/group/sentryAppExternalIssueForm.spec.jsx
Owners: none

cleanup
  tests/js/spec/components/group/sentryAppExternalIssueForm.spec.jsx
Owners: none

cleanup
  src/sentry/static/sentry/app/components/group/sentryAppExternalIssueForm.tsx
Owners: none

feat(workflow): create filter category for rule conditions (#20083)
  src/sentry/api/endpoints/project_rules_configuration.py
  src/sentry/api/serializers/models/rule.py
  src/sentry/models/rule.py
  src/sentry/rules/filters/__init__.py
  src/sentry/rules/filters/base.py
  src/sentry/rules/processor.py
  tests/sentry/rules/test_processor.py
Owners: none

feat(workflow): create filter category for rule conditions (#20083)
  src/sentry/api/endpoints/project_rules_configuration.py
  src/sentry/api/serializers/models/rule.py
  src/sentry/models/rule.py
  src/sentry/rules/filters/__init__.py
  src/sentry/rules/filters/base.py
  src/sentry/rules/processor.py
  tests/sentry/rules/test_processor.py
Owners: none

Increase tooltip amount and switch tooltips back to global
  src/sentry/static/sentry/app/stores/tooltipStore.tsx
  src/sentry/utils/pytest/selenium.py
Owners: none

fix(ui) Increase space for charts
  src/sentry/static/sentry/app/utils/discover/charts.tsx
  src/sentry/static/sentry/app/utils/formatters.tsx
  tests/js/spec/utils/discover/charts.spec.jsx
Owners: @getsentry/visibility

build(github): Add getsentry tests
  .github/workflows/acceptance.yml
  .github/workflows/getsentry.yml
  .gitignore
  .travis.yml
Owners: none

restore ci
  .github/workflows/acceptance.yml
  .travis.yml
Owners: none

only run on PRs
  .github/workflows/getsentry.yml
Owners: none

fix(ui): Fix warning for nested <a> elements (#20166)
  src/sentry/static/sentry/app/components/events/eventDataSection.tsx
  src/sentry/static/sentry/app/components/events/interfaces/crashHeader.jsx
  tests/js/spec/views/sharedGroupDetails/__snapshots__/index.spec.jsx.snap
Owners: none

fix(ui): Fix warning for nested <a> elements (#20166)
  src/sentry/static/sentry/app/components/events/eventDataSection.tsx
  src/sentry/static/sentry/app/components/events/interfaces/crashHeader.jsx
  tests/js/spec/views/sharedGroupDetails/__snapshots__/index.spec.jsx.snap
Owners: none

fix(discover): Non Team projects weren't saveable
  src/sentry/discover/endpoints/serializers.py
  tests/snuba/api/endpoints/test_discover_saved_queries.py
Owners: @getsentry/visibility

adds filter
  src/sentry/static/sentry/app/components/group/sentryAppExternalIssueForm.tsx
Owners: none

fix(ui) Fix links to discover docs (#20171)
  src/sentry/static/sentry/app/constants/index.tsx
  src/sentry/static/sentry/app/views/dashboards/exploreWidget.jsx
  src/sentry/static/sentry/app/views/dataExport/dataDownload.tsx
  src/sentry/static/sentry/app/views/eventsV2/landing.tsx
  src/sentry/static/sentry/app/views/eventsV2/table/columnEditModal.tsx
Owners: @getsentry/visibility

fix(ui) Fix links to discover docs (#20171)
  src/sentry/static/sentry/app/constants/index.tsx
  src/sentry/static/sentry/app/views/dashboards/exploreWidget.jsx
  src/sentry/static/sentry/app/views/dataExport/dataDownload.tsx
  src/sentry/static/sentry/app/views/eventsV2/landing.tsx
  src/sentry/static/sentry/app/views/eventsV2/table/columnEditModal.tsx
Owners: @getsentry/visibility
