Repository getsentry/sentry, changes with the owners that .github/CODEOWNERS names for each.
All owners: @getsentry/owners-legal, @getsentry/owners-migrations, @getsentry/owners-snuba, @getsentry/owners-ingest, @getsentry/security, @getsentry/releases, @getsentry/owners-python-build, @getsentry/owners-js-build, @getsentry/owners-sentry-dev, @getsentry/workflow

.github/CODEOWNERS:

# Legal
/LICENSE  @getsentry/owners-legal

# Migrations
/src/sentry/migrations/  @getsentry/owners-migrations

# Snuba
/src/sentry/eventstream/        @getsentry/owners-snuba
/src/sentry/utils/snuba.py      @getsentry/owners-snuba
/src/sentry/tsdb/snuba.py       @getsentry/owners-snuba
/src/sentry/tsdb/redissnuba.py  @getsentry/owners-snuba
/src/sentry/search/snuba/       @getsentry/owners-snuba
/src/sentry/tagstore/snuba/     @getsentry/owners-snuba

# Event Ingestion
/src/sentry/attachments/           @getsentry/owners-ingest
/src/sentry/coreapi.py             @getsentry/owners-ingest
/src/sentry/ingest/                @getsentry/owners-ingest
/src/sentry/interfaces/            @getsentry/owners-ingest
/src/sentry/message_filters.py     @getsentry/owners-ingest
/src/sentry/quotas/                @getsentry/owners-ingest
/src/sentry/relay/                 @getsentry/owners-ingest
/src/sentry/utils/data_filters.py  @getsentry/owners-ingest
/src/sentry/web/api.py             @getsentry/owners-ingest
/src/sentry/scripts/quotas/        @getsentry/owners-ingest
/src/sentry/scripts/tsdb/          @getsentry/owners-ingest

# Security
/src/sentry/net/    @getsentry/security

# Build & Releases
/docker             @getsentry/releases
setup.py            @getsentry/releases
setup.cfg           @getsentry/releases
# TODO: owners-build (for travis / gha)
requirements*.txt   @getsentry/owners-python-build
pyproject.toml      @getsentry/owners-python-build
tsconfig.*          @getsentry/owners-js-build
webpack.config.*    @getsentry/owners-js-build
package.json        @getsentry/owners-js-build
babel.config.*      @getsentry/owners-js-build
build-utils/        @getsentry/owners-js-build

# Dev
/config/hooks/              @getsentry/owners-sentry-dev
/scripts/                   @getsentry/owners-sentry-dev
Makefile                    @getsentry/owners-sentry-dev
.envrc                      @getsentry/owners-sentry-dev
.pre-commit-config.yaml     @getsentry/owners-sentry-dev
.git-blame-ignore-revs      @getsentry/owners-sentry-dev


# Owners by product feature


### Issue/Metric Alerts ###
/src/sentry/static/sentry/app/views/settings/projectAlerts/     @getsentry/workflow
/tests/js/spec/views/settings/projectAlerts/                    @getsentry/workflow

/src/sentry/static/sentry/app/views/settings/incidentRules/     @getsentry/workflow
/tests/js/spec/views/settings/incidentRules/                    @getsentry/workflow

/src/sentry/static/sentry/app/views/alerts/                     @getsentry/workflow
/tests/js/spec/views/alerts/                                    @getsentry/workflow

/src/sentry/templates/sentry/emails/incidents/                  @getsentry/workflow
/src/sentry/incidents/                                          @getsentry/workflow
/tests/sentry/incidents/                                        @getsentry/workflow
/tests/acceptance/test_incidents.py                             @getsentry/workflow

/src/sentry/snuba/models.py                                     @getsentry/workflow
/src/sentry/snuba/query_subscription_consumer.py                @getsentry/workflow
/src/sentry/snuba/subscriptions.py                              @getsentry/workflow
/tests/snuba/incidents/                                         @getsentry/workflow
/tests/sentry/snuba/test_query_subscription_consumer.py         @getsentry/workflow
/tests/sentry/snuba/test_subscriptions.py                       @getsentry/workflow
/tests/sentry/snuba/test_tasks.py                               @getsentry/workflow
/tests/snuba/snuba/test_query_subscription_consumer.py          @getsentry/workflow
### Endof Issue/Metric Alerts ###

feat(ui): Limit release files and commits (#19066)
  src/sentry/api/endpoints/filechange.py
  src/sentry/static/sentry/app/views/releasesV2/detail/commits/index.tsx
  src/sentry/static/sentry/app/views/releasesV2/detail/filesChanged/index.tsx
  src/sentry/static/sentry/app/views/releasesV2/list/index.tsx
Owners: none

Revert "feat(ui): Limit release files and commits (#19066)"
  src/sentry/api/endpoints/filechange.py
  src/sentry/static/sentry/app/views/releasesV2/detail/commits/index.tsx
  src/sentry/static/sentry/app/views/releasesV2/detail/filesChanged/index.tsx
  src/sentry/static/sentry/app/views/releasesV2/list/index.tsx
Owners: none

Revert "feat(ui): Limit release files and commits (#19066)" (#19080)
  src/sentry/api/endpoints/filechange.py
  src/sentry/static/sentry/app/views/releasesV2/detail/commits/index.tsx
  src/sentry/static/sentry/app/views/releasesV2/detail/filesChanged/index.tsx
  src/sentry/static/sentry/app/views/releasesV2/list/index.tsx
Owners: none

Revert "feat(ui): Limit release files and commits (#19066)" (#19080)
  src/sentry/api/endpoints/filechange.py
  src/sentry/static/sentry/app/views/releasesV2/detail/commits/index.tsx
  src/sentry/static/sentry/app/views/releasesV2/detail/filesChanged/index.tsx
  src/sentry/static/sentry/app/views/releasesV2/list/index.tsx
Owners: none

feat(ui): Add empty source maps page behind feature flag
  src/sentry/conf/server.py
  src/sentry/features/__init__.py
  src/sentry/static/sentry/app/routes.jsx
  src/sentry/static/sentry/app/views/settings/project/navigationConfiguration.tsx
  src/sentry/static/sentry/app/views/settings/projectSourceMaps/index.tsx
  src/sentry/static/sentry/app/views/settings/projectSourceMaps/projectSourceMaps.tsx
Owners: none

feat(ui): Add source maps info to release details widget
  src/sentry/static/sentry/app/views/releasesV2/detail/overview/index.tsx
  src/sentry/static/sentry/app/views/releasesV2/detail/overview/projectReleaseDetails.tsx
Owners: none

feat(ui): Add info banner to artifacts section
  src/sentry/static/sentry/app/views/releasesV2/detail/artifacts/index.tsx
Owners: none

Fixing test
  src/sentry/incidents/endpoints/serializers.py
  tests/sentry/incidents/endpoints/test_serializers.py
Owners: @getsentry/workflow

feat(ui): Hide behind feature flag
  src/sentry/static/sentry/app/views/releasesV2/detail/artifacts/index.tsx
  src/sentry/static/sentry/app/views/releasesV2/detail/overview/projectReleaseDetails.tsx
Owners: none

ref(org): Reorder props for withOrganization (#19077)
  src/sentry/static/sentry/app/utils/withOrganization.tsx
Owners: none

ref(org): Reorder props for withOrganization (#19077)
  src/sentry/static/sentry/app/utils/withOrganization.tsx
Owners: none

display any span status
  src/sentry/static/sentry/app/components/events/interfaces/spans/spanDetail.tsx
Owners: none

eagerly display any unknown payload on the span
  src/sentry/static/sentry/app/components/events/interfaces/spans/spanDetail.tsx
  src/sentry/static/sentry/app/components/events/interfaces/spans/types.tsx
Owners: none

fix setdefault
  src/sentry/stacktraces/processing.py
  src/sentry/tasks/store.py
Owners: none

mass rename
  src/sentry/event_manager.py
  src/sentry/lang/java/plugin.py
  src/sentry/lang/javascript/errormapping.py
  src/sentry/lang/native/error.py
  src/sentry/stacktraces/processing.py
  src/sentry/tasks/store.py
Owners: none

ref(audit-logs): Migration for adding INTEGRATION_UPGRADE
  migrations_lockfile.txt
  src/sentry/migrations/0081_add_integraiton_upgrade_audit_log.py
Owners: @getsentry/owners-migrations

fix processing test failures
  tests/sentry/lang/native/test_processing.py
Owners: none

feat(workflow): Add translation layer for broken aggregation columns (#19052)
  src/sentry/api/serializers/models/alert_rule.py
  src/sentry/incidents/endpoints/serializers.py
  src/sentry/incidents/logic.py
  tests/sentry/incidents/endpoints/test_project_alert_rule_details.py
  tests/sentry/incidents/endpoints/test_serializers.py
  tests/sentry/incidents/test_logic.py
Owners: @getsentry/workflow

feat(workflow): Add translation layer for broken aggregation columns (#19052)
  src/sentry/api/serializers/models/alert_rule.py
  src/sentry/incidents/endpoints/serializers.py
  src/sentry/incidents/logic.py
  tests/sentry/incidents/endpoints/test_project_alert_rule_details.py
  tests/sentry/incidents/endpoints/test_serializers.py
  tests/sentry/incidents/test_logic.py
Owners: @getsentry/workflow

fix(apm): Display span status and any unknown keys within the span (#19082)
  src/sentry/static/sentry/app/components/events/interfaces/spans/spanDetail.tsx
  src/sentry/static/sentry/app/components/events/interfaces/spans/types.tsx
Owners: none

fix(apm): Display span status and any unknown keys within the span (#19082)
  src/sentry/static/sentry/app/components/events/interfaces/spans/spanDetail.tsx
  src/sentry/static/sentry/app/components/events/interfaces/spans/types.tsx
Owners: none

fix(breadcrumbsv2): Move transaction linkify from the exception breadcrumb to the default breadcrumb
  src/sentry/static/sentry/app/components/events/interfaces/breadcrumbsV2/data/data.tsx
  src/sentry/static/sentry/app/components/events/interfaces/breadcrumbsV2/data/default.tsx
  src/sentry/static/sentry/app/components/events/interfaces/breadcrumbsV2/data/exception.tsx
Owners: none

feat(workflow): Replicating alert rule action create logic into update logic (#18990)
  src/sentry/incidents/logic.py
  tests/sentry/incidents/test_logic.py
Owners: @getsentry/workflow

feat(workflow): Replicating alert rule action create logic into update logic (#18990)
  src/sentry/incidents/logic.py
  tests/sentry/incidents/test_logic.py
Owners: @getsentry/workflow

feat(sentry-apps): Added link to schema docs when creating new integration
  src/sentry/static/sentry/app/data/forms/sentryApplication.tsx
Owners: none

ref(ts): Convert versionHoverCard to .tsx
  src/sentry/static/sentry/app/components/versionHoverCard.tsx
Owners: none

ref(ts): Convert versionHoverCard
  src/sentry/static/sentry/app/components/events/eventTags/eventTagsPill.tsx
  src/sentry/static/sentry/app/components/group/seenInfo.jsx
  src/sentry/static/sentry/app/components/versionHoverCard.tsx
  src/sentry/static/sentry/app/views/organizationActivity/activityFeedItem.tsx
Owners: none

fixup! ref(ts): Convert versionHoverCard
  src/sentry/static/sentry/app/components/versionHoverCard.tsx
Owners: none

fix(breadcrumbsv2): Move transaction linkify from the exception breadcrumb to the default breadcrumb (#19079)
  src/sentry/static/sentry/app/components/events/interfaces/breadcrumbsV2/data/data.tsx
  src/sentry/static/sentry/app/components/events/interfaces/breadcrumbsV2/data/default.tsx
  src/sentry/static/sentry/app/components/events/interfaces/breadcrumbsV2/data/exception.tsx
Owners: none

fix(breadcrumbsv2): Move transaction linkify from the exception breadcrumb to the default breadcrumb (#19079)
  src/sentry/static/sentry/app/components/events/interfaces/breadcrumbsV2/data/data.tsx
  src/sentry/static/sentry/app/components/events/interfaces/breadcrumbsV2/data/default.tsx
  src/sentry/static/sentry/app/components/events/interfaces/breadcrumbsV2/data/exception.tsx
Owners: none

feat(sentry-apps): Added link to schema docs when creating new integration (#19085)
  src/sentry/static/sentry/app/data/forms/sentryApplication.tsx
Owners: none

feat(sentry-apps): Added link to schema docs when creating new integration (#19085)
  src/sentry/static/sentry/app/data/forms/sentryApplication.tsx
Owners: none

apply global views when searching for transactions by trace id; otherwise apply the event's project id
  src/sentry/static/sentry/app/components/events/interfaces/spans/spanDetail.tsx
Owners: none

pass organization prop
  src/sentry/static/sentry/app/components/events/interfaces/spans/index.tsx
  src/sentry/static/sentry/app/components/events/interfaces/spans/spanBar.tsx
  src/sentry/static/sentry/app/components/events/interfaces/spans/spanDetail.tsx
  src/sentry/static/sentry/app/components/events/interfaces/spans/spanGroup.tsx
  src/sentry/static/sentry/app/components/events/interfaces/spans/spanTree.tsx
  src/sentry/static/sentry/app/components/events/interfaces/spans/traceView.tsx
Owners: none

apply global views when searching for errors by trace id; otherwise apply the event's project id
  src/sentry/static/sentry/app/components/events/interfaces/spans/spanDetail.tsx
Owners: none

pass event prop
  src/sentry/static/sentry/app/components/events/interfaces/spans/spanBar.tsx
  src/sentry/static/sentry/app/components/events/interfaces/spans/spanDetail.tsx
  src/sentry/static/sentry/app/components/events/interfaces/spans/spanGroup.tsx
  src/sentry/static/sentry/app/components/events/interfaces/spans/spanTree.tsx
Owners: none

apply global views when searching for span children; otherwise apply the event's project id
  src/sentry/static/sentry/app/components/events/interfaces/spans/spanDetail.tsx
Owners: none

fix(async-csv): Handle unicode in log messages
  src/sentry/data_export/tasks.py
  src/sentry/data_export/utils.py
  tests/sentry/data_export/test_tasks.py
Owners: none

add tracking issue for the volta magic
  .travis.yml
Owners: none

ref(audit-logs): Migration for adding INTEGRATION_UPGRADE (#19084)
  migrations_lockfile.txt
  src/sentry/migrations/0081_add_integraiton_upgrade_audit_log.py
Owners: @getsentry/owners-migrations
