Repository getsentry/sentry, changes with the owners that .github/CODEOWNERS names for each.
All owners: @getsentry/owners-legal, @getsentry/owners-migrations, @getsentry/owners-snuba, @getsentry/owners-ingest, @getsentry/security, @getsentry/releases, @getsentry/owners-python-build, @getsentry/owners-js-build, @getsentry/owners-sentry-dev, @getsentry/workflow

.github/CODEOWNERS:

# Legal
/LICENSE  @getsentry/owners-legal

# Migrations
/src/sentry/migrations/  @getsentry/owners-migrations

# Snuba
/src/sentry/eventstream/        @getsentry/owners-snuba
/src/sentry/utils/snuba.py      @getsentry/owners-snuba
/src/sentry/tsdb/snuba.py       @getsentry/owners-snuba
/src/sentry/tsdb/redissnuba.py  @getsentry/owners-snuba
/src/sentry/search/snuba/       @getsentry/owners-snuba
/src/sentry/tagstore/snuba/     @getsentry/owners-snuba

# Event Ingestion
/src/sentry/attachments/           @getsentry/owners-ingest
/src/sentry/coreapi.py             @getsentry/owners-ingest
/src/sentry/ingest/                @getsentry/owners-ingest
/src/sentry/interfaces/            @getsentry/owners-ingest
/src/sentry/message_filters.py     @getsentry/owners-ingest
/src/sentry/quotas/                @getsentry/owners-ingest
/src/sentry/relay/                 @getsentry/owners-ingest
/src/sentry/utils/data_filters.py  @getsentry/owners-ingest
/src/sentry/web/api.py             @getsentry/owners-ingest
/src/sentry/scripts/quotas/        @getsentry/owners-ingest
/src/sentry/scripts/tsdb/          @getsentry/owners-ingest

# Security
/src/sentry/net/    @getsentry/security

# Build & Releases
/docker             @getsentry/releases
setup.py            @getsentry/releases
setup.cfg           @getsentry/releases
# TODO: owners-build (for travis / gha)
requirements*.txt   @getsentry/owners-python-build
pyproject.toml      @getsentry/owners-python-build
tsconfig.*          @getsentry/owners-js-build
webpack.config.*    @getsentry/owners-js-build
package.json        @getsentry/owners-js-build
babel.config.*      @getsentry/owners-js-build
build-utils/        @getsentry/owners-js-build

# Dev
/config/hooks/              @getsentry/owners-sentry-dev
/scripts/                   @getsentry/owners-sentry-dev
Makefile                    @getsentry/owners-sentry-dev
.envrc                      @getsentry/owners-sentry-dev
.pre-commit-config.yaml     @getsentry/owners-sentry-dev
.git-blame-ignore-revs      @getsentry/owners-sentry-dev


# Owners by product feature


### Issue/Metric Alerts ###
/src/sentry/static/sentry/app/views/settings/projectAlerts/     @getsentry/workflow
/tests/js/spec/views/settings/projectAlerts/                    @getsentry/workflow

/src/sentry/static/sentry/app/views/settings/incidentRules/     @getsentry/workflow
/tests/js/spec/views/settings/incidentRules/                    @getsentry/workflow

/src/sentry/static/sentry/app/views/alerts/                     @getsentry/workflow
/tests/js/spec/views/alerts/                                    @getsentry/workflow

/src/sentry/templates/sentry/emails/incidents/                  @getsentry/workflow
/src/sentry/incidents/                                          @getsentry/workflow
/tests/sentry/incidents/                                        @getsentry/workflow
/tests/acceptance/test_incidents.py                             @getsentry/workflow

/src/sentry/snuba/models.py                                     @getsentry/workflow
/src/sentry/snuba/query_subscription_consumer.py                @getsentry/workflow
/src/sentry/snuba/subscriptions.py                              @getsentry/workflow
/tests/snuba/incidents/                                         @getsentry/workflow
/tests/sentry/snuba/test_query_subscription_consumer.py         @getsentry/workflow
/tests/sentry/snuba/test_subscriptions.py                       @getsentry/workflow
/tests/sentry/snuba/test_tasks.py                               @getsentry/workflow
/tests/snuba/snuba/test_query_subscription_consumer.py          @getsentry/workflow
### Endof Issue/Metric Alerts ###

fix(colorupdate): wrong green (#19067)
  src/sentry/static/sentry/app/utils/theme.tsx
Owners: none

fix(colorupdate): wrong green (#19067)
  src/sentry/static/sentry/app/utils/theme.tsx
Owners: none

Revert "ref(devservices): Rename reverse_proxy to proxy (#18948)" (#19060)
  src/sentry/conf/server.py
  src/sentry/runner/commands/devserver.py
Owners: none

Revert "ref(devservices): Rename reverse_proxy to proxy (#18948)" (#19060)
  src/sentry/conf/server.py
  src/sentry/runner/commands/devserver.py
Owners: none

Writing some tests, cleaning up some logic
  tests/sentry/incidents/endpoints/test_serializers.py
Owners: @getsentry/workflow

Writing some tests, cleaning up some logic
  tests/sentry/incidents/endpoints/test_serializers.py
Owners: @getsentry/workflow

use isPropValid with column style prop, consolidate some styles
  src/sentry/static/sentry/app/views/alerts/details/header.tsx
Owners: @getsentry/workflow

ref(ui) Consolidate onboarding state styles (#19018)
  docs-ui/components/onboardingPanel.stories.js
  src/sentry/static/sentry/app/components/onboardingPanel.tsx
  src/sentry/static/sentry/app/views/performance/onboarding.tsx
  src/sentry/static/sentry/app/views/releases/list/releaseLanding.tsx
  src/sentry/static/sentry/app/views/releases/list/releaseLandingCard.jsx
  src/sentry/static/sentry/app/views/releasesV2/list/releasePromo.tsx
Owners: none

ref(ui) Consolidate onboarding state styles (#19018)
  docs-ui/components/onboardingPanel.stories.js
  src/sentry/static/sentry/app/components/onboardingPanel.tsx
  src/sentry/static/sentry/app/views/performance/onboarding.tsx
  src/sentry/static/sentry/app/views/releases/list/releaseLanding.tsx
  src/sentry/static/sentry/app/views/releases/list/releaseLandingCard.jsx
  src/sentry/static/sentry/app/views/releasesV2/list/releasePromo.tsx
Owners: none

use preferred date format
  src/sentry/static/sentry/app/views/alerts/details/header.tsx
Owners: @getsentry/workflow

color name conversion
  src/sentry/static/sentry/app/views/alerts/details/header.tsx
Owners: @getsentry/workflow

translate triggered
  src/sentry/static/sentry/app/views/alerts/details/header.tsx
Owners: @getsentry/workflow

Add log call
  src/sentry/auth/providers/saml2/provider.py
Owners: none

feat(discover): Adding aggregates to the autocomplete
  src/sentry/static/sentry/app/views/events/searchBar.jsx
  src/sentry/static/sentry/app/views/eventsV2/results.tsx
  src/sentry/static/sentry/app/views/performance/landing.tsx
  src/sentry/static/sentry/app/views/performance/transactionSummary/content.tsx
Owners: none

fix(discover): TopEvents with aggregate conditions (#19043)
  src/sentry/snuba/discover.py
  tests/snuba/api/endpoints/test_organization_events_stats.py
Owners: none

fix(discover): TopEvents with aggregate conditions (#19043)
  src/sentry/snuba/discover.py
  tests/snuba/api/endpoints/test_organization_events_stats.py
Owners: none

remove vendored yarn
  Makefile
Owners: @getsentry/owners-sentry-dev

replace remaining ./bin/yarn paths
  .pre-commit-config.yaml
  .travis.yml
  .yarnrc
  Makefile
  src/sentry/lint/engine.py
  src/sentry/runner/commands/devserver.py
Owners: @getsentry/owners-sentry-dev

install volta in ci
  .nvmrc
  .travis.yml
Owners: none

hardcode node-version-check for now
  Makefile
Owners: @getsentry/owners-sentry-dev

not sure if deduping this will actually work
  .travis.yml
Owners: none

this isn't needed anymore
  .travis.yml
Owners: none

Revert "not sure if deduping this will actually work"
  .travis.yml
Owners: none

lol
  .travis.yml
Owners: none

lol x2
  .travis.yml
Owners: none

replaced blue colors
  src/sentry/static/sentry/app/components/badge.tsx
  src/sentry/static/sentry/app/components/events/errorLevel.tsx
  src/sentry/static/sentry/app/components/events/interfaces/breadcrumbs/getBreadcrumbDetails.tsx
  src/sentry/static/sentry/app/components/events/interfaces/breadcrumbsV2/filter/optionsGroup.tsx
  src/sentry/static/sentry/app/components/events/interfaces/togglableAddress.tsx
  src/sentry/static/sentry/app/components/footer.tsx
  src/sentry/static/sentry/app/components/issueSyncListElement.tsx
  src/sentry/static/sentry/app/components/onboardingWizard/task.tsx
  src/sentry/static/sentry/app/components/subscribeButton.tsx
  src/sentry/static/sentry/app/views/discover/styles.tsx
  src/sentry/static/sentry/app/views/eventsV2/table/cellAction.tsx
  src/sentry/static/sentry/app/views/organizationIntegrations/integrationRow.tsx
  src/sentry/static/sentry/app/views/releasesV2/detail/overview/otherProjects.tsx
Owners: none

replaced blue
  src/sentry/static/sentry/app/components/eventOrGroupHeader.jsx
  src/sentry/static/sentry/app/components/globalSelectionHeaderRow.jsx
Owners: none

replaced gray6
  src/sentry/static/sentry/app/components/events/interfaces/request.jsx
  src/sentry/static/sentry/app/views/events/events.jsx
Owners: none

tests
  tests/js/spec/components/events/__snapshots__/sdkUpdates.spec.jsx.snap
  tests/js/spec/components/modals/__snapshots__/helpSearchModal.spec.jsx.snap
  tests/js/spec/views/__snapshots__/organizationTeamProjects.spec.jsx.snap
  tests/js/spec/views/projectsDashboard/__snapshots__/projectCard.spec.jsx.snap
  tests/js/spec/views/settings/__snapshots__/organizationProjects.spec.jsx.snap
Owners: none

replaced gray3
  src/sentry/static/sentry/app/components/activity/note/input.jsx
  src/sentry/static/sentry/app/components/charts/baseChart.jsx
  src/sentry/static/sentry/app/components/dropdownAutoCompleteMenu.jsx
  src/sentry/static/sentry/app/components/eventOrGroupExtraDetails.jsx
  src/sentry/static/sentry/app/components/eventOrGroupHeader.jsx
  src/sentry/static/sentry/app/components/events/errors.jsx
  src/sentry/static/sentry/app/components/events/interfaces/request.jsx
  src/sentry/static/sentry/app/components/organizations/projectSelector.jsx
  src/sentry/static/sentry/app/components/organizations/timeRangeSelector/timePicker.jsx
  src/sentry/static/sentry/app/components/passwordStrength.jsx
  src/sentry/static/sentry/app/components/platformPicker.jsx
  src/sentry/static/sentry/app/components/stream/group.jsx
  src/sentry/static/sentry/app/views/alerts/details/body.tsx
  src/sentry/static/sentry/app/views/onboarding/onboarding.jsx
  src/sentry/static/sentry/app/views/onboarding/welcome.jsx
  src/sentry/static/sentry/app/views/projectInstall/createProject.jsx
  src/sentry/static/sentry/app/views/settings/account/accountSubscriptions.jsx
  src/sentry/static/sentry/app/views/settings/account/apiTokenRow.jsx
  src/sentry/static/sentry/app/views/settings/components/forms/choiceMapperField.jsx
  src/sentry/static/sentry/app/views/settings/components/settingsBreadcrumb/crumb.jsx
  src/sentry/static/sentry/app/views/settings/components/settingsBreadcrumb/index.jsx
  src/sentry/static/sentry/app/views/settings/project/projectFilters/projectFiltersSettings.jsx
Owners: @getsentry/workflow

replaced gray5
  docs-ui/components/colors.stories.js
  src/sentry/static/sentry/app/components/alerts/toastIndicator.jsx
  src/sentry/static/sentry/app/components/charts/baseChart.jsx
  src/sentry/static/sentry/app/components/forms/selectControl.jsx
  src/sentry/static/sentry/app/components/group/suggestedOwnerHovercard.jsx
  src/sentry/static/sentry/app/components/hovercard.jsx
  src/sentry/static/sentry/app/views/auth/loginForm.jsx
  src/sentry/static/sentry/app/views/auth/registerForm.jsx
  src/sentry/static/sentry/app/views/issueList/savedSearchSelector.jsx
  src/sentry/static/sentry/app/views/onboarding/onboarding.jsx
  src/sentry/static/sentry/app/views/settings/components/settingsBreadcrumb/crumb.jsx
  src/sentry/static/sentry/app/views/settings/components/settingsBreadcrumb/index.jsx
  src/sentry/static/sentry/app/views/settings/components/settingsWrapper.jsx
Owners: none

replaced more gray2
  src/sentry/static/sentry/app/components/alerts/toastIndicator.jsx
  src/sentry/static/sentry/app/components/charts/baseChart.jsx
  src/sentry/static/sentry/app/components/charts/percentageTableChart.jsx
  src/sentry/static/sentry/app/components/dropdownAutoCompleteMenu.jsx
  src/sentry/static/sentry/app/components/dropdownButton.tsx
  src/sentry/static/sentry/app/components/eventOrGroupHeader.jsx
  src/sentry/static/sentry/app/components/events/eventCauseEmpty.jsx
  src/sentry/static/sentry/app/components/events/interfaces/debugmeta.jsx
  src/sentry/static/sentry/app/components/forms/selectControl.jsx
  src/sentry/static/sentry/app/components/group/suggestedOwnerHovercard.jsx
  src/sentry/static/sentry/app/components/idBadge/baseBadge.jsx
  src/sentry/static/sentry/app/components/organizations/multipleProjectSelector.jsx
  src/sentry/static/sentry/app/components/organizations/projectSelector.jsx
  src/sentry/static/sentry/app/components/organizations/timeRangeSelector/dateRange/index.jsx
  src/sentry/static/sentry/app/components/organizations/timeRangeSelector/timePicker.jsx
  src/sentry/static/sentry/app/components/stackedBarChart.jsx
  src/sentry/static/sentry/app/components/versionHoverCard.jsx
  src/sentry/static/sentry/app/views/auth/loginForm.jsx
  src/sentry/static/sentry/app/views/auth/registerForm.jsx
  src/sentry/static/sentry/app/views/dashboards/exploreWidget.jsx
  src/sentry/static/sentry/app/views/events/eventsChart.jsx
  src/sentry/static/sentry/app/views/events/eventsTable.jsx
  src/sentry/static/sentry/app/views/onboarding/onboarding.jsx
  src/sentry/static/sentry/app/views/organizationStats/projectTable.jsx
  src/sentry/static/sentry/app/views/projectsDashboard/deploys.jsx
  src/sentry/static/sentry/app/views/projectsDashboard/noEvents.jsx
  src/sentry/static/sentry/app/views/releases/list/latestDeployOrReleaseTime.jsx
  src/sentry/static/sentry/app/views/settings/account/accountAuthorizations.jsx
  src/sentry/static/sentry/app/views/settings/account/accountSubscriptions.jsx
  src/sentry/static/sentry/app/views/settings/components/forms/richListField.jsx
  src/sentry/static/sentry/app/views/settings/project/projectTeams.jsx
Owners: none

tests
  tests/js/spec/components/__snapshots__/tag.spec.jsx.snap
  tests/js/spec/components/events/__snapshots__/sdkUpdates.spec.jsx.snap
Owners: none

replaced blue colors
  src/sentry/static/sentry/app/components/events/interfaces/imageForBar.tsx
  src/sentry/static/sentry/app/components/smartSearchBar/index.tsx
  src/sentry/static/sentry/app/utils/theme.tsx
Owners: none

tests
  tests/js/spec/components/modals/__snapshots__/helpSearchModal.spec.jsx.snap
  tests/js/spec/components/sidebar/__snapshots__/index.spec.jsx.snap
  tests/js/spec/views/__snapshots__/accountSubscriptions.spec.jsx.snap
  tests/js/spec/views/inviteMember/__snapshots__/inviteMember.spec.jsx.snap
  tests/js/spec/views/projectPlugins/__snapshots__/projectPlugins.spec.jsx.snap
Owners: none

replaced blueLight
  src/sentry/static/sentry/app/components/smartSearchBar/index.tsx
  src/sentry/static/sentry/app/utils/theme.tsx
Owners: none

tests
  tests/js/spec/components/group/__snapshots__/externalIssueActions.spec.jsx.snap
  tests/js/spec/components/sidebar/__snapshots__/index.spec.jsx.snap
  tests/js/spec/views/sharedGroupDetails/__snapshots__/index.spec.jsx.snap
Owners: none

replaced gray colors
  src/sentry/static/sentry/app/components/alerts/toastIndicator.jsx
  src/sentry/static/sentry/app/components/charts/baseChart.jsx
  src/sentry/static/sentry/app/components/charts/components/xAxis.jsx
  src/sentry/static/sentry/app/components/charts/components/yAxis.jsx
  src/sentry/static/sentry/app/components/charts/percentageTableChart.jsx
  src/sentry/static/sentry/app/components/charts/worldMapChart.jsx
  src/sentry/static/sentry/app/components/dropdownAutoCompleteMenu.jsx
  src/sentry/static/sentry/app/components/events/interfaces/request.jsx
  src/sentry/static/sentry/app/components/forms/selectControl.jsx
  src/sentry/static/sentry/app/components/group/suggestedOwnerHovercard.jsx
  src/sentry/static/sentry/app/components/modalDialog.jsx
  src/sentry/static/sentry/app/components/projects/bookmarkStar.tsx
  src/sentry/static/sentry/app/components/search/sources/helpSource.jsx
  src/sentry/static/sentry/app/views/issueList/savedSearchSelector.jsx
Owners: none

replaced green colors
  src/sentry/static/sentry/app/components/alerts/toastIndicator.jsx
  src/sentry/static/sentry/app/components/badge.tsx
  src/sentry/static/sentry/app/components/charts/percentageTableChart.jsx
  src/sentry/static/sentry/app/components/eventOrGroupExtraDetails.jsx
  src/sentry/static/sentry/app/components/events/groupingInfo/groupingVariant.tsx
  src/sentry/static/sentry/app/components/group/releaseChart.jsx
  src/sentry/static/sentry/app/components/group/suggestedOwnerHovercard.jsx
  src/sentry/static/sentry/app/components/modals/inviteMembersModal/index.tsx
  src/sentry/static/sentry/app/components/modals/inviteMembersModal/renderEmailValue.tsx
  src/sentry/static/sentry/app/components/onboardingWizard/task.tsx
  src/sentry/static/sentry/app/components/passwordStrength.jsx
  src/sentry/static/sentry/app/components/pill.tsx
  src/sentry/static/sentry/app/components/progressRing.tsx
  src/sentry/static/sentry/app/components/radio.tsx
  src/sentry/static/sentry/app/components/search/sources/helpSource.jsx
  src/sentry/static/sentry/app/components/sidebar/onboardingStatus.tsx
  src/sentry/static/sentry/app/components/switch.tsx
  src/sentry/static/sentry/app/utils/theme.tsx
  src/sentry/static/sentry/app/views/alerts/details/header.tsx
  src/sentry/static/sentry/app/views/alerts/status.tsx
  src/sentry/static/sentry/app/views/onboarding/projectSetup/firstEventIndicator.tsx
  src/sentry/static/sentry/app/views/releasesV2/list/releaseHealth.tsx
  src/sentry/static/sentry/app/views/releasesV2/utils/index.tsx
  src/sentry/static/sentry/app/views/settings/components/forms/field/controlState.tsx
  src/sentry/static/sentry/app/views/settings/incidentRules/triggers/chart/thresholdsChart.tsx
  src/sentry/static/sentry/app/views/settings/organizationAuth/providerItem.jsx
Owners: @getsentry/workflow

replaced gray4
  src/sentry/static/sentry/app/components/alerts/toastIndicator.jsx
  src/sentry/static/sentry/app/components/eventOrGroupExtraDetails.jsx
  src/sentry/static/sentry/app/components/events/errors.jsx
  src/sentry/static/sentry/app/components/events/eventCauseEmpty.jsx
  src/sentry/static/sentry/app/components/organizations/projectSelector.jsx
  src/sentry/static/sentry/app/components/organizations/timeRangeSelector/dateRange/index.jsx
  src/sentry/static/sentry/app/components/platformPicker.jsx
  src/sentry/static/sentry/app/views/settings/organizationMembers/organizationMemberRow.jsx
Owners: none
