Repository getsentry/sentry, changes with the owners that .github/CODEOWNERS names for each.
All owners: @getsentry/owners-legal, @getsentry/owners-migrations, @getsentry/owners-snuba, @getsentry/owners-ingest, @getsentry/security, @getsentry/releases, @getsentry/owners-python-build, @getsentry/owners-sentry-dev

.github/CODEOWNERS:

# Legal
/LICENSE  @getsentry/owners-legal

# Migrations
/src/sentry/migrations/  @getsentry/owners-migrations

# Snuba
/src/sentry/eventstream/        @getsentry/owners-snuba
/src/sentry/utils/snuba.py      @getsentry/owners-snuba
/src/sentry/tsdb/snuba.py       @getsentry/owners-snuba
/src/sentry/tsdb/redissnuba.py  @getsentry/owners-snuba
/src/sentry/search/snuba/       @getsentry/owners-snuba
/src/sentry/tagstore/snuba/     @getsentry/owners-snuba

# Event Ingestion
/src/sentry/attachments/           @getsentry/owners-ingest
/src/sentry/coreapi.py             @getsentry/owners-ingest
/src/sentry/ingest/                @getsentry/owners-ingest
/src/sentry/interfaces/            @getsentry/owners-ingest
/src/sentry/message_filters.py     @getsentry/owners-ingest
/src/sentry/quotas/                @getsentry/owners-ingest
/src/sentry/relay/                 @getsentry/owners-ingest
/src/sentry/utils/data_filters.py  @getsentry/owners-ingest
/src/sentry/web/api.py             @getsentry/owners-ingest
/src/sentry/scripts/quotas/        @getsentry/owners-ingest
/src/sentry/scripts/tsdb/          @getsentry/owners-ingest

# Security
/src/sentry/net/    @getsentry/security

# Build & Releases
/docker             @getsentry/releases
setup.py            @getsentry/releases
setup.cfg           @getsentry/releases
# TODO: owners-js-build, owners-build (for travis / gha)
requirements*.txt   @getsentry/owners-python-build
pyproject.toml      @getsentry/owners-python-build

# Dev
/config/hooks/              @getsentry/owners-sentry-dev
/scripts/                   @getsentry/owners-sentry-dev
Makefile                    @getsentry/owners-sentry-dev
.envrc                      @getsentry/owners-sentry-dev
.pre-commit-config.yaml     @getsentry/owners-sentry-dev
.git-blame-ignore-revs      @getsentry/owners-sentry-dev

Revert "feat: Bump to beta SDK (#18896)"
  package.json
  src/sentry/static/sentry/app/bootstrap.tsx
  tests/js/setup.js
  yarn.lock
Owners: none

test(sessions): Add snuba session tests (#18897)
  src/sentry/snuba/sessions.py
  src/sentry/testutils/cases.py
  tests/snuba/sessions/__init__.py
  tests/snuba/sessions/test_sessions.py
Owners: none

test(sessions): Add snuba session tests (#18897)
  src/sentry/snuba/sessions.py
  src/sentry/testutils/cases.py
  tests/snuba/sessions/__init__.py
  tests/snuba/sessions/test_sessions.py
Owners: none

PYENV_VERSION=3.6.7 for make setup-git
  Makefile
Owners: @getsentry/owners-sentry-dev

setup-pyenv
  .python-version
  Makefile
Owners: @getsentry/owners-sentry-dev

Revert "feat: Bump to beta SDK (#18896)" (#18905)
  package.json
  src/sentry/static/sentry/app/bootstrap.tsx
  tests/js/setup.js
  yarn.lock
Owners: none

Revert "feat: Bump to beta SDK (#18896)" (#18905)
  package.json
  src/sentry/static/sentry/app/bootstrap.tsx
  tests/js/setup.js
  yarn.lock
Owners: none

add pyenv python3 resolution check
  Makefile
Owners: @getsentry/owners-sentry-dev

feat(ui): Replace plus/minus with proper icons
  src/sentry/static/sentry/app/components/events/groupingInfo/groupingComponentFrames.tsx
Owners: none

test: Fix performance percy snapshot (#18901)
  tests/acceptance/test_performance_summary.py
Owners: none

test: Fix performance percy snapshot (#18901)
  tests/acceptance/test_performance_summary.py
Owners: none

ref(ts) Convert TagStore to typescript (#18871)
  src/sentry/static/sentry/app/stores/tagStore.tsx
Owners: none

ref(ts) Convert TagStore to typescript (#18871)
  src/sentry/static/sentry/app/stores/tagStore.tsx
Owners: none

Update src/sentry/static/sentry/app/utils/discover/fieldRenderers.tsx
  src/sentry/static/sentry/app/utils/discover/fieldRenderers.tsx
Owners: none

ref(slack): Render multi-org note to users (#18890)
  src/sentry/integrations/slack/integration.py
  src/sentry/templates/sentry/integrations/slack-reauth-introduction.html
  tests/sentry/integrations/slack/test_migration_flow.py
Owners: none

ref(slack): Render multi-org note to users (#18890)
  src/sentry/integrations/slack/integration.py
  src/sentry/templates/sentry/integrations/slack-reauth-introduction.html
  tests/sentry/integrations/slack/test_migration_flow.py
Owners: none

misc: Enable sending Transactions to /envelope
  src/sentry/static/sentry/app/bootstrap.tsx
Owners: none

fix(perf-views) Use grid editable in performance overview (#18861)
  docs-ui/components/gridEditable.stories.js
  src/sentry/static/sentry/app/components/gridEditable/index.tsx
  src/sentry/static/sentry/app/components/gridEditable/styles.tsx
  src/sentry/static/sentry/app/components/scoreBar.jsx
  src/sentry/static/sentry/app/utils/discover/fieldRenderers.tsx
  src/sentry/static/sentry/app/views/eventsV2/table/headerCell.tsx
  src/sentry/static/sentry/app/views/eventsV2/table/tableView.tsx
  src/sentry/static/sentry/app/views/performance/table.tsx
  src/sentry/static/sentry/app/views/performance/transactionSummary/table.tsx
  tests/js/spec/views/organizationGroupDetails/__snapshots__/groupSimilar.spec.jsx.snap
Owners: none

fix(perf-views) Use grid editable in performance overview (#18861)
  docs-ui/components/gridEditable.stories.js
  src/sentry/static/sentry/app/components/gridEditable/index.tsx
  src/sentry/static/sentry/app/components/gridEditable/styles.tsx
  src/sentry/static/sentry/app/components/scoreBar.jsx
  src/sentry/static/sentry/app/utils/discover/fieldRenderers.tsx
  src/sentry/static/sentry/app/views/eventsV2/table/headerCell.tsx
  src/sentry/static/sentry/app/views/eventsV2/table/tableView.tsx
  src/sentry/static/sentry/app/views/performance/table.tsx
  src/sentry/static/sentry/app/views/performance/transactionSummary/table.tsx
  tests/js/spec/views/organizationGroupDetails/__snapshots__/groupSimilar.spec.jsx.snap
Owners: none

ref(api): Add to instrumentation spans in base Endpoint class (#18895)
  src/sentry/api/base.py
Owners: none

ref(api): Add to instrumentation spans in base Endpoint class (#18895)
  src/sentry/api/base.py
Owners: none

print email
  src/sentry/migrations/0078_dedupe_email_matches.py
Owners: @getsentry/owners-migrations

remove unnecessary fragment
  src/sentry/static/sentry/app/views/issueList/actions.jsx
Owners: none

fix(ui): Fix exception order when toggling full/raw
  src/sentry/static/sentry/app/components/events/interfaces/exceptionContent.tsx
  tests/js/spec/components/events/__snapshots__/crashContent.spec.jsx.snap
Owners: none

fix(monitors): Correct arguments passed to generic_delete
  src/sentry/api/endpoints/monitor_details.py
Owners: none

Initial commit of additional SLO logs
  src/sentry/api/endpoints/group_details.py
  src/sentry/tasks/base.py
  src/sentry/tasks/deletion.py
  src/sentry/tasks/integrations.py
  src/sentry/tasks/merge.py
Owners: none

cleanup
  src/sentry/migrations/0078_dedupe_email_matches.py
Owners: @getsentry/owners-migrations

refs(alert_rules): Centralize alert_rule/incident query building logic (#18845)
  src/sentry/incidents/logic.py
  src/sentry/snuba/tasks.py
Owners: none

refs(alert_rules): Centralize alert_rule/incident query building logic (#18845)
  src/sentry/incidents/logic.py
  src/sentry/snuba/tasks.py
Owners: none

refs(alert_rules): Switch alert rule create/update code to use aggregate.
  bin/load-mocks
  src/sentry/incidents/endpoints/serializers.py
  src/sentry/incidents/logic.py
  src/sentry/snuba/subscriptions.py
  src/sentry/testutils/factories.py
  tests/acceptance/test_incidents.py
  tests/sentry/api/serializers/test_alert_rule.py
  tests/sentry/incidents/endpoints/test_organization_alert_rule_index.py
  tests/sentry/incidents/endpoints/test_project_alert_rule_details.py
  tests/sentry/incidents/endpoints/test_project_alert_rule_index.py
  tests/sentry/incidents/endpoints/test_serializers.py
  tests/sentry/incidents/test_logic.py
  tests/sentry/incidents/test_subscription_processor.py
  tests/sentry/snuba/test_query_subscription_consumer.py
  tests/sentry/snuba/test_subscriptions.py
  tests/sentry/snuba/test_tasks.py
  tests/snuba/incidents/test_tasks.py
  tests/snuba/snuba/test_query_subscription_consumer.py
Owners: none

feat(ui): Add tooltip to event and user counts on issues page (#18832)
  src/sentry/static/sentry/app/views/issueList/actions.jsx
Owners: none

feat(ui): Add tooltip to event and user counts on issues page (#18832)
  src/sentry/static/sentry/app/views/issueList/actions.jsx
Owners: none

ref(ui): Fix styling of discover column-editor parameter inputs (#18874)
  src/sentry/static/sentry/app/views/eventsV2/table/queryField.tsx
Owners: none

ref(ui): Fix styling of discover column-editor parameter inputs (#18874)
  src/sentry/static/sentry/app/views/eventsV2/table/queryField.tsx
Owners: none

feat: Add sort by users in issue stream (#18846)
  src/sentry/search/snuba/executors.py
  src/sentry/static/sentry/app/views/issueList/sortOptions.jsx
  tests/snuba/search/test_backend.py
Owners: @getsentry/owners-snuba

feat: Add sort by users in issue stream (#18846)
  src/sentry/search/snuba/executors.py
  src/sentry/static/sentry/app/views/issueList/sortOptions.jsx
  tests/snuba/search/test_backend.py
Owners: @getsentry/owners-snuba

refs(alert_rules): Switch alert rule create/update code to use aggregate. (#18847)
  bin/load-mocks
  src/sentry/incidents/endpoints/serializers.py
  src/sentry/incidents/logic.py
  src/sentry/snuba/subscriptions.py
  src/sentry/testutils/factories.py
  tests/acceptance/test_incidents.py
  tests/sentry/api/serializers/test_alert_rule.py
  tests/sentry/incidents/endpoints/test_organization_alert_rule_index.py
  tests/sentry/incidents/endpoints/test_project_alert_rule_details.py
  tests/sentry/incidents/endpoints/test_project_alert_rule_index.py
  tests/sentry/incidents/endpoints/test_serializers.py
  tests/sentry/incidents/test_logic.py
  tests/sentry/incidents/test_subscription_processor.py
  tests/sentry/snuba/test_query_subscription_consumer.py
  tests/sentry/snuba/test_subscriptions.py
  tests/sentry/snuba/test_tasks.py
  tests/snuba/incidents/test_tasks.py
  tests/snuba/snuba/test_query_subscription_consumer.py
Owners: none

refs(alert_rules): Switch alert rule create/update code to use aggregate. (#18847)
  bin/load-mocks
  src/sentry/incidents/endpoints/serializers.py
  src/sentry/incidents/logic.py
  src/sentry/snuba/subscriptions.py
  src/sentry/testutils/factories.py
  tests/acceptance/test_incidents.py
  tests/sentry/api/serializers/test_alert_rule.py
  tests/sentry/incidents/endpoints/test_organization_alert_rule_index.py
  tests/sentry/incidents/endpoints/test_project_alert_rule_details.py
  tests/sentry/incidents/endpoints/test_project_alert_rule_index.py
  tests/sentry/incidents/endpoints/test_serializers.py
  tests/sentry/incidents/test_logic.py
  tests/sentry/incidents/test_subscription_processor.py
  tests/sentry/snuba/test_query_subscription_consumer.py
  tests/sentry/snuba/test_subscriptions.py
  tests/sentry/snuba/test_tasks.py
  tests/snuba/incidents/test_tasks.py
  tests/snuba/snuba/test_query_subscription_consumer.py
Owners: none

ref: Add more manual instrumentation to eventstore
  src/sentry/eventstore/base.py
  src/sentry/eventstore/snuba/backend.py
  src/sentry/utils/snuba.py
Owners: @getsentry/owners-snuba

fix(perf-views) Update headings on performance overview
  src/sentry/static/sentry/app/components/gridEditable/sortLink.tsx
  src/sentry/static/sentry/app/utils/discover/eventView.tsx
  src/sentry/static/sentry/app/views/eventsV2/table/headerCell.tsx
  src/sentry/static/sentry/app/views/eventsV2/table/tableView.tsx
  src/sentry/static/sentry/app/views/performance/data.tsx
  src/sentry/static/sentry/app/views/performance/table.tsx
  src/sentry/static/sentry/app/views/performance/transactionSummary/table.tsx
  tests/js/spec/utils/discover/eventView.spec.jsx
Owners: none
