Repository getsentry/sentry, pull requests merged in 2018-09, with the labels that each got.

#9476 feat(integrations): Bitbucket issue and repo search
  src/sentry/integrations/bitbucket/client.py
  src/sentry/integrations/bitbucket/integration.py
  src/sentry/integrations/bitbucket/issues.py
  src/sentry/integrations/bitbucket/search.py
  src/sentry/integrations/bitbucket/urls.py
  tests/sentry/integrations/bitbucket/test_search.py
Labels: Component: Integrations

#9606 feat(bitbucket): Added permissions and webhook stub for pull request.
  src/sentry/integrations/bitbucket/integration.py
  src/sentry/integrations/bitbucket/repository.py
  src/sentry/integrations/bitbucket/webhook.py
Labels: Component: Integrations

#9610 ref: Add indexes to facilitate bulk date-based cleanup of EventAttachment, UserReport
  src/sentry/models/eventattachment.py
  src/sentry/models/userreport.py
  src/sentry/south_migrations/0432_auto__add_index_userreport_date_added__add_index_eventattachment_date_.py
Labels: Impact: Migration

#9579 ref(vsts): Remove url parsing for the base url in the vsts integration.
  src/sentry/integrations/vsts/client.py
  src/sentry/integrations/vsts/integration.py
  src/sentry/integrations/vsts/issues.py
  src/sentry/integrations/vsts_extension/integration.py
  src/sentry/web/frontend/vsts_extension_configuration.py
  tests/sentry/integrations/vsts/test_client.py
  tests/sentry/integrations/vsts/test_integration.py
  tests/sentry/integrations/vsts/test_issues.py
  tests/sentry/integrations/vsts/test_provider.py
  tests/sentry/integrations/vsts/test_repository.py
  tests/sentry/integrations/vsts/test_webhooks.py
  tests/sentry/integrations/vsts/testutils.py
  tests/sentry/integrations/vsts_extension/__init__.py
  tests/sentry/integrations/vsts_extension/test_provider.py
Labels: Component: Integrations

#9671 feat(security): Generate a notice when a new auth token is created
  src/sentry/api/endpoints/api_tokens.py
  src/sentry/security/emails.py
  src/sentry/templates/sentry/emails/api-token-generated.html
  src/sentry/templates/sentry/emails/api-token-generated.txt
Labels: Security

#9534 ref(integrations): Map over errors to form responses
  src/sentry/api/endpoints/group_integration_details.py
  src/sentry/integrations/bitbucket/integration.py
  src/sentry/integrations/bitbucket/issues.py
Labels: Component: Integrations

#9676 feat(security): Expose account session history
  src/sentry/api/endpoints/user_ips.py
  src/sentry/api/serializers/models/userip.py
  src/sentry/api/urls.py
  src/sentry/models/userip.py
  src/sentry/south_migrations/0433_auto__add_field_relay_is_internal__add_field_userip_country_code__add_.py
  src/sentry/static/sentry/app/components/modals/recoveryOptionsModal.jsx
  src/sentry/static/sentry/app/routes.jsx
  src/sentry/static/sentry/app/views/settings/account/accountSecurity/accountSecuritySessionHistory.jsx
  src/sentry/static/sentry/app/views/settings/account/accountSecurity/components/u2fEnrolledDetails.jsx
  src/sentry/static/sentry/app/views/settings/account/accountSecurity/index.jsx
  src/sentry/static/sentry/app/views/settings/account/passwordForm.jsx
  tests/js/spec/components/modals/recoveryOptionsModal.spec.jsx
  tests/js/spec/views/accountSecuritySessionHistory.spec.jsx
  tests/sentry/api/endpoints/test_user_ips.py
Labels: Security

#9706 ref(integrations): VSTS to AzureDevOps name change (ui facing text)
  src/sentry/integrations/vsts/integration.py
  src/sentry/integrations/vsts/issues.py
  src/sentry/integrations/vsts/repository.py
  src/sentry/static/sentry/app/components/issueSyncListElement.jsx
Labels: Component: Integrations

#9772 feat(discover): Add model for saved queries
  src/sentry/deletions/__init__.py
  src/sentry/deletions/defaults/organization.py
  src/sentry/deletions/defaults/project.py
  src/sentry/models/discoversavedquery.py
  src/sentry/south_migrations/0434_auto__add_discoversavedqueryproject__add_unique_discoversavedqueryproj.py
  tests/sentry/models/test_discoversavedquery.py
Labels: Impact: Migration

#9700 feat(integrations): Enable Vsts and Bitbucket to everyone.
  src/sentry/conf/server.py
Labels: Component: Integrations

#9800 fix(integrations): Changed vsts to azure devops in the account selection form.
  src/sentry/templates/sentry/integrations/vsts-config.html
Labels: Component: Integrations

#9802 fix(integrations): Azure DevOps removed default collection from urls as it's no longer needed.
  src/sentry/integrations/vsts/client.py
  tests/sentry/integrations/vsts/test_client.py
  tests/sentry/integrations/vsts/test_integration.py
  tests/sentry/integrations/vsts/test_issues.py
  tests/sentry/integrations/vsts/test_repository.py
  tests/sentry/integrations/vsts/testutils.py
Labels: Component: Integrations

#9721 feat(integrations): Gitlab on Prem Client
  src/sentry/identity/gitlab/provider.py
  src/sentry/integrations/gitlab/client.py
  src/sentry/integrations/gitlab/integration.py
  tests/sentry/integrations/gitlab/test_integration.py
Labels: Component: Integrations

#9900 fix(ui): Fix Alert Editor when no plugins
  src/sentry/static/sentry/app/views/settings/projectAlerts/ruleEditor/ruleNode.jsx
  tests/js/spec/views/__snapshots__/projectAlertRuleDetails.spec.jsx.snap
Labels: Type: Bug

#9867 feat(discover): Add created by field to DiscoverSavedQuery
  src/sentry/api/endpoints/organization_discover_saved_queries.py
  src/sentry/api/serializers/models/discoversavedquery.py
  src/sentry/models/discoversavedquery.py
  src/sentry/south_migrations/0435_auto__add_field_discoversavedquery_created_by.py
  tests/snuba/test_organization_discover_saved_queries.py
  tests/snuba/test_organization_discover_saved_query_detail.py
Labels: Impact: Migration

#9914 ref(integrations): Azure DevOps log accounts.
  src/sentry/integrations/vsts/integration.py
Labels: Component: Integrations

#9925 fix(integrations): Gitlab add base url to gitlab identity external_id.
  src/sentry/integrations/gitlab/integration.py
  tests/sentry/integrations/gitlab/test_integration.py
Labels: Component: Integrations

#9940 fix(discover): Fix reset behavior
  src/sentry/static/sentry/app/views/organizationDiscover/discover.jsx
  tests/js/spec/views/organizationDiscover/discover.spec.jsx
Labels: Type: Bug
