Repository getsentry/sentry, pull requests merged in 2018-08, with the labels that each got.

#9281 fix(relay): Use default sentry cache for relay auth
  src/sentry/api/endpoints/relay_register.py
Labels: Component: Relay

#9228 feat(integrations): Added issue url method to VSTS.
  src/sentry/integrations/vsts/issues.py
  tests/sentry/integrations/vsts/test_issues.py
Labels: Component: Integrations

#9342 fix(vsts): project_selector issue.
  src/sentry/integrations/vsts/integration.py
Labels: Component: Integrations

#9371 fix(discover): Fix column names for tags_key and tags_value
  src/sentry/static/sentry/app/views/organizationDiscover/data.jsx
Labels: Type: Bug

#9269 feat(minidump): Optionally add minidumps as event attachments
  src/sentry/api/endpoints/organization_details.py
  src/sentry/api/endpoints/project_details.py
  src/sentry/api/serializers/models/organization.py
  src/sentry/api/serializers/models/project.py
  src/sentry/attachments/__init__.py
  src/sentry/attachments/base.py
  src/sentry/attachments/default.py
  src/sentry/attachments/redis.py
  src/sentry/cache/base.py
  src/sentry/cache/django.py
  src/sentry/cache/redis.py
  src/sentry/conf/server.py
  src/sentry/coreapi.py
  src/sentry/static/sentry/app/data/forms/organizationGeneralSettings.jsx
  src/sentry/static/sentry/app/data/forms/projectGeneralSettings.jsx
  src/sentry/static/sentry/app/views/settings/projectGeneralSettings.jsx
  src/sentry/tasks/store.py
  src/sentry/web/api.py
  tests/js/setup.js
  tests/js/spec/views/__snapshots__/projectAlertSettings.spec.jsx.snap
  tests/js/spec/views/__snapshots__/projectOwnership.spec.jsx.snap
  tests/js/spec/views/groupDetails/__snapshots__/actions.spec.jsx.snap
  tests/sentry/api/endpoints/test_organization_details.py
  tests/sentry/api/endpoints/test_project_details.py
  tests/sentry/models/test_organization.py
Labels: Component: Core Frontend (React), Component: Event Pipeline

#9187 fix(integrations): Bitbucket Client Key Verification
  src/sentry/identity/bitbucket/provider.py
  src/sentry/integrations/atlassian_connect.py
  src/sentry/integrations/bitbucket/descriptor.py
  src/sentry/integrations/bitbucket/integration.py
  src/sentry/integrations/jira/configure.py
Labels: Component: Integrations

#9380 feat(minidump): Optionally add minidumps as event attachments
  src/sentry/api/endpoints/organization_details.py
  src/sentry/api/endpoints/project_details.py
  src/sentry/api/serializers/models/organization.py
  src/sentry/api/serializers/models/project.py
  src/sentry/attachments/__init__.py
  src/sentry/attachments/base.py
  src/sentry/attachments/default.py
  src/sentry/attachments/redis.py
  src/sentry/cache/base.py
  src/sentry/cache/django.py
  src/sentry/cache/redis.py
  src/sentry/conf/server.py
  src/sentry/coreapi.py
  src/sentry/static/sentry/app/data/forms/organizationGeneralSettings.jsx
  src/sentry/static/sentry/app/data/forms/projectGeneralSettings.jsx
  src/sentry/static/sentry/app/views/settings/projectGeneralSettings.jsx
  src/sentry/tasks/store.py
  src/sentry/testutils/cases.py
  src/sentry/web/api.py
  tests/js/setup.js
  tests/js/spec/views/__snapshots__/projectAlertSettings.spec.jsx.snap
  tests/js/spec/views/__snapshots__/projectOwnership.spec.jsx.snap
  tests/js/spec/views/groupDetails/__snapshots__/actions.spec.jsx.snap
  tests/sentry/api/endpoints/test_organization_details.py
  tests/sentry/api/endpoints/test_project_details.py
  tests/sentry/attachments/__init__.py
  tests/sentry/attachments/test_redis.py
  tests/sentry/lang/native/test_plugin.py
  tests/sentry/models/test_organization.py
Labels: Component: Event Pipeline, Impact: Large

#9385 ref(vsts): Changed the issue display name to include the project name
  src/sentry/integrations/vsts/issues.py
  tests/sentry/integrations/vsts/test_issues.py
Labels: Component: Integrations

#9402 fix(attachments): Ensure attachment files are deleted
  src/sentry/models/eventattachment.py
  src/sentry/testutils/fixtures.py
  tests/sentry/lang/native/test_plugin.py
Labels: Type: Bug

#9406 fix(vsts): Revert "Changed the issue display name to project#id (#9385)"
  src/sentry/integrations/vsts/issues.py
  tests/sentry/integrations/vsts/test_issues.py
Labels: Component: Integrations

#9398 feat(vsts): VSTS Autocomplete link issue
  src/sentry/integrations/vsts/client.py
  src/sentry/integrations/vsts/issues.py
  src/sentry/integrations/vsts/search.py
  src/sentry/integrations/vsts/urls.py
Labels: Component: Integrations

#9437 fix(vsts): Changed direction of slash in Add Repository list.
  src/sentry/integrations/vsts/integration.py
Labels: Component: Integrations

#9425 fix(vsts): Vsts sub delete fix
  src/sentry/integrations/vsts/integration.py
Labels: Component: Integrations

#9433 feat(integrations): Add metadata to ExternalIssues model.
  src/sentry/models/externalissue.py
  src/sentry/south_migrations/0431_auto__add_field_externalissue_metadata.py
Labels: Component: Integrations, Impact: Migration

#9361 fix(chunk_upload): Reduce the chance for races during assembly
  src/sentry/models/dsymfile.py
Labels: Type: Bug

#9516 fix(security): Don't expose SETTINGS on Django error page
  src/sentry/monkey.py
Labels: Security

#9429 ref(integrations): Change VSTS display name.
  src/sentry/api/endpoints/group_integration_details.py
  src/sentry/api/serializers/models/integration.py
  src/sentry/integrations/example/integration.py
  src/sentry/integrations/issues.py
  src/sentry/integrations/vsts/issues.py
  src/sentry/static/sentry/app/components/group/externalIssueActions.jsx
  src/sentry/static/sentry/app/components/issueSyncListElement.jsx
  tests/js/spec/components/group/__snapshots__/externalIssueActions.spec.jsx.snap
  tests/sentry/api/endpoints/test_group_integrations.py
  tests/sentry/integrations/vsts/test_issues.py
Labels: Component: Integrations

#9514 feat(integrations): Direct users to new integrations from old repo page
  src/sentry/static/sentry/app/views/settings/organizationRepositories/organizationRepositories.jsx
  tests/js/spec/views/settings/__snapshots__/organizationRepositories.spec.jsx.snap
Labels: Component: Integrations

#9553 feat(integrations): Feature gate issue sync and issue basic
  src/sentry/api/endpoints/group_integration_details.py
  src/sentry/api/endpoints/group_integrations.py
  src/sentry/api/serializers/models/organization.py
  src/sentry/conf/server.py
  src/sentry/features/__init__.py
  src/sentry/integrations/issues.py
  src/sentry/integrations/jira/integration.py
  src/sentry/integrations/vsts/integration.py
  src/sentry/models/groupassignee.py
  src/sentry/tasks/integrations.py
  tests/sentry/api/endpoints/test_group_integration_details.py
  tests/sentry/api/endpoints/test_group_integrations.py
  tests/sentry/api/endpoints/test_group_notes.py
  tests/sentry/api/endpoints/test_project_group_index.py
  tests/sentry/integrations/test_issues.py
  tests/sentry/integrations/vsts/test_webhooks.py
  tests/sentry/models/test_groupassignee.py
  tests/sentry/test_event_manager.py
Labels: Component: Integrations

#9401 feat: Added separate project config endpoint
  src/sentry/api/endpoints/relay_projectconfigs.py
  src/sentry/api/endpoints/relay_publickeys.py
  src/sentry/api/endpoints/relay_register.py
  src/sentry/api/urls.py
  src/sentry/conf/server.py
  src/sentry/models/relay.py
  src/sentry/relay/__init__.py
  src/sentry/relay/config.py
  src/sentry/relay/queries/get_project_config.py
  src/sentry/south_migrations/0432_auto__add_field_relay_is_internal.py
  src/sentry/web/frontend/js_sdk_loader.py
  tests/sentry/api/endpoints/test_relay_changeset_storev7.py
  tests/sentry/api/endpoints/test_relay_projectconfigs.py
  tests/sentry/api/endpoints/test_relay_publickeys.py
  tests/sentry/api/endpoints/test_relay_query_get_project_config.py
  tests/sentry/models/test_eventuser.py
Labels: Component: Relay, WIP

#8121 fix(api): Correct handling of transaction name as culprit
  src/sentry/event_manager.py
  src/sentry/models/event.py
  tests/sentry/test_event_manager.py
Labels: Status: Accepted

#9584 feat(vsts): Create a feature flag for VSTS.
  src/sentry/api/endpoints/organization_config_integrations.py
  src/sentry/api/endpoints/organization_repositories.py
  src/sentry/api/serializers/models/organization.py
  src/sentry/conf/server.py
  src/sentry/features/__init__.py
Labels: Component: Integrations

#9473 feat(integrations): Disable plugin if migrated
  src/sentry/integrations/bitbucket/integration.py
  src/sentry/integrations/example/integration.py
  src/sentry/integrations/github/integration.py
  src/sentry/integrations/migrate.py
  src/sentry/integrations/vsts/integration.py
  tests/sentry/integrations/bitbucket/test_installed.py
  tests/sentry/integrations/github/test_integration.py
  tests/sentry/integrations/test_migrate.py
  tests/sentry/integrations/test_pipeline.py
  tests/sentry/integrations/vsts/test_integration.py
  tests/sentry/plugins/testutils.py
Labels: Component: Integrations
