Repository getsentry/sentry, pull requests merged in 2018-06, with the labels that each got.

#8615 feat(identity): Step 6 of removing org from IDP
  src/sentry/south_migrations/0421_auto__del_field_identityprovider_organization_id__del_unique_identityp.py
Labels: Impact: Migration

#8595 feat: Add GroupHashTombstone
  src/sentry/api/endpoints/group_details.py
  src/sentry/api/endpoints/project_group_index.py
  src/sentry/deletions/__init__.py
  src/sentry/deletions/defaults/project.py
  src/sentry/models/grouphashtombstone.py
  src/sentry/runner/commands/cleanup.py
  src/sentry/south_migrations/0422_auto__add_grouphashtombstone__add_unique_grouphashtombstone_project_ha.py
  tests/sentry/api/endpoints/test_group_details.py
  tests/sentry/api/endpoints/test_project_group_index.py
  tests/sentry/models/test_grouphashtombstone.py
Labels: Impact: Migration

#8647 feat(integrations): Default Identity
  src/sentry/integrations/base.py
  src/sentry/integrations/pipeline.py
  src/sentry/integrations/vsts/integration.py
  tests/sentry/integrations/test_pipeline.py
Labels: Component: Integrations

#8671 db: Add index to GroupHashTombstone.deleted_at for cleanup
  src/sentry/models/grouphashtombstone.py
  src/sentry/south_migrations/0423_auto__add_index_grouphashtombstone_deleted_at.py
Labels: Impact: Migration

#8681 fix(ui): Fix clearing SelectField
  src/sentry/static/sentry/app/views/settings/components/forms/selectField.jsx
Labels: Type: Bug

#8633 ref(integrations): Changed get_client to get_installation
  src/sentry/integrations/bitbucket/repository.py
  tests/sentry/integrations/bitbucket/test_repository.py
Labels: Component: Integrations

#8621 feat(integrations): VSTS Repository Provider.
  src/sentry/integrations/vsts/integration.py
  src/sentry/integrations/vsts/repository.py
  src/sentry/plugins/providers/integration_repository.py
  tests/sentry/integrations/vsts/test_repository.py
  tests/sentry/integrations/vsts/testutils.py
Labels: Component: Integrations

#8737 feat(integration): Added OrganizationIntegraiton and ProjectIntegration to Integration base
  src/sentry/integrations/base.py
  tests/sentry/integrations/test_base.py
Labels: Component: Integrations

#8747 feat(identity): Added get_provider to Identity Model
  src/sentry/models/identity.py
  tests/sentry/models/test_identity.py
Labels: Component: Integrations

#8742 fix(relay): Update last_seen on every heartbeat
  src/sentry/api/endpoints/relay_heartbeat.py
Labels: Component: Relay, Type: Bug

#8723 feat(ui): Allow SelectControl to support "choices"
  src/sentry/static/sentry/app/components/forms/selectControl.jsx
  src/sentry/static/sentry/app/utils/convertFromSelect2Choices.jsx
  tests/js/spec/components/forms/selectControl.spec.jsx
  tests/js/spec/utils/convertFromSelect2Choices.spec.jsx
Labels: Component: Core Frontend (React)

#8701 fix(ui): Refetch plugins when project changes
  src/sentry/static/sentry/app/utils/withPlugins.jsx
  tests/js/spec/views/projectReleaseTracking.spec.jsx
Labels: Type: Bug

#8731 feat(ui): Change <Select2TextField> to use react-select
  src/sentry/static/sentry/app/components/forms/genericField.jsx
  src/sentry/static/sentry/app/components/forms/index.jsx
  src/sentry/static/sentry/app/components/forms/select2TextField.jsx
  src/sentry/static/sentry/app/components/forms/selectControl.jsx
  src/sentry/static/sentry/app/components/forms/selectCreatableField.jsx
  src/sentry/static/sentry/app/components/forms/selectField.jsx
  src/sentry/static/sentry/app/views/settings/components/forms/fieldFromConfig.jsx
  tests/js/spec/components/forms/__snapshots__/genericField.spec.jsx.snap
  tests/js/spec/components/forms/__snapshots__/select2TextField.spec.jsx.snap
  tests/js/spec/components/forms/genericField.spec.jsx
  tests/js/spec/components/forms/select2TextField.spec.jsx
  tests/js/spec/components/forms/selectCreatableField.spec.jsx
Labels: Component: Core Frontend (React)

#8725 feat(integrations): Vsts OAuth refresh
  src/sentry/identity/base.py
  src/sentry/identity/oauth2.py
  src/sentry/identity/vsts/provider.py
  src/sentry/integrations/client.py
  src/sentry/integrations/vsts/client.py
  src/sentry/integrations/vsts/integration.py
  tests/sentry/integrations/test_client.py
  tests/sentry/integrations/vsts/test_integration.py
  tests/sentry/integrations/vsts/test_provider.py
  tests/sentry/integrations/vsts/test_repository.py
Labels: Component: Integrations

#8568 fix(db): Add index on organization_id and merge_commit_sha in pr table
  src/sentry/models/pullrequest.py
  src/sentry/models/release.py
  src/sentry/south_migrations/0425_auto__add_index_pullrequest_organization_id_merge_commit_sha.py
Labels: Impact: Migration

#8692 feat(integrations): VSTS Issue Sync (pre-existing functionality)
  requirements-base.txt
  src/sentry/api/endpoints/group_integration_details.py
  src/sentry/api/serializers/models/integration.py
  src/sentry/integrations/vsts/integration.py
  src/sentry/integrations/vsts/issues.py
  tests/sentry/integrations/vsts/test_issues.py
  tests/sentry/integrations/vsts/testutils.py
Labels: Component: Integrations

#8770 feat(integrations): Vsts comment sync
  src/sentry/integrations/vsts/integration.py
  src/sentry/tasks/integrations.py
  tests/sentry/api/endpoints/test_group_notes.py
Labels: Component: Integrations

#8787 fix(github): Correctly associate Github IDP to the app id
  src/sentry/integrations/github/integration.py
  src/sentry/integrations/github_enterprise/integration.py
  src/sentry/integrations/pipeline.py
  src/sentry/south_migrations/0425_remove_invalid_github_idps.py
  tests/sentry/integrations/github/test_integration.py
  tests/sentry/integrations/github_enterprise/test_integration.py
Labels: Impact: Migration

#8735 feat(ui): Change <Select2FieldAutocomplete> to react-select
  src/sentry/static/sentry/app/components/customResolutionModal.jsx
  src/sentry/static/sentry/app/components/forms/genericField.jsx
  src/sentry/static/sentry/app/components/forms/index.jsx
  src/sentry/static/sentry/app/components/forms/select2FieldAutocomplete.jsx
  src/sentry/static/sentry/app/components/forms/selectAsyncControl.jsx
  src/sentry/static/sentry/app/components/forms/selectAsyncField.jsx
  src/sentry/static/sentry/app/views/settings/components/forms/fieldFromConfig.jsx
  src/sentry/static/sentry/less/shared-components.less
  tests/js/spec/components/__snapshots__/customResolutionModal.spec.jsx.snap
  tests/js/spec/components/actions/__snapshots__/resolve.spec.jsx.snap
  tests/js/spec/components/forms/selectAsyncField.spec.jsx
Labels: Component: Core Frontend (React)

#8807 fix(integrations): Fixed errors with refresh oauth vsts
  src/sentry/identity/oauth2.py
  src/sentry/identity/vsts/provider.py
  src/sentry/integrations/vsts/client.py
  src/sentry/integrations/vsts/integration.py
  tests/sentry/integrations/vsts/test_integration.py
Labels: Component: Integrations

#8859 fix(plugins): Fix autocomplete fields in legacy integrations
  src/sentry/static/sentry/app/components/forms/selectAsyncField.jsx
  tests/js/spec/components/forms/selectAsyncField.spec.jsx
  tests/js/spec/components/forms/selectCreatableField.spec.jsx
Labels: Component: Integrations, Type: Bug

#8882 fix(ui): Fix CustomResolutionModal + add tests
  src/sentry/static/sentry/app/components/customResolutionModal.jsx
  src/sentry/static/sentry/app/components/forms/selectAsyncControl.jsx
  src/sentry/static/sentry/app/components/forms/selectAsyncField.jsx
  tests/js/fixtures/asana.js
  tests/js/fixtures/release.js
  tests/js/setup.js
  tests/js/spec/components/__snapshots__/customResolutionModal.spec.jsx.snap
  tests/js/spec/components/actions/resolve.spec.jsx
  tests/js/spec/components/customResolutionModal.spec.jsx
  tests/js/spec/integrations/asana.spec.jsx
Labels: Type: Bug
