Repository getsentry/sentry, pull requests merged in 2018-10, with the labels that each got.

#9881 feat(integrations): Add the user to the integration sync comment task.
  src/sentry/api/endpoints/group_notes.py
  src/sentry/integrations/example/integration.py
  src/sentry/integrations/jira/integration.py
  src/sentry/integrations/vsts/integration.py
  src/sentry/tasks/integrations.py
  tests/sentry/api/endpoints/test_group_notes.py
  tests/sentry/integrations/jira/test_integration.py
  tests/sentry/integrations/vsts/test_integration.py
Labels: Component: Integrations

#9923 fix(ui): Align nav and page heading baselines
  src/sentry/static/sentry/app/views/settings/components/settingsLayout.jsx
Labels: Type: Design

#9912 feat(api): Include PII meta data in API context
  requirements-base.txt
  src/sentry/api/serializers/models/event.py
  src/sentry/event_manager.py
  src/sentry/interfaces/base.py
  src/sentry/interfaces/breadcrumbs.py
  src/sentry/interfaces/exception.py
  src/sentry/interfaces/http.py
  src/sentry/interfaces/message.py
  src/sentry/interfaces/sdk.py
  src/sentry/interfaces/stacktrace.py
  src/sentry/interfaces/template.py
  src/sentry/interfaces/threads.py
  src/sentry/interfaces/user.py
  tests/sentry/api/serializers/test_event.py
Labels: Component: Event Pipeline

#9967 ref(integrations): Removed temporary organization_id check from add organization
  src/sentry/models/integration.py
Labels: Component: Integrations

#9704 fix(integrations): Vsts handle missing fields in webhook request
  src/sentry/integrations/vsts/webhooks.py
Labels: Component: Integrations

#9979 ref(integrations): Change IntegrationRepositoryProvider method names for clarity.
  src/sentry/integrations/bitbucket/repository.py
  src/sentry/integrations/github/repository.py
  src/sentry/integrations/github_enterprise/repository.py
  src/sentry/integrations/vsts/repository.py
  src/sentry/models/repository.py
  src/sentry/plugins/providers/integration_repository.py
  src/sentry/plugins/providers/repository.py
  tests/sentry/integrations/bitbucket/test_repository.py
  tests/sentry/integrations/github/test_repository.py
  tests/sentry/integrations/vsts/test_repository.py
Labels: Component: Integrations

#10005 ref(integrations): Fixed typo in IntegrationRepositoryProvider docstrings
  src/sentry/plugins/providers/integration_repository.py
  src/sentry/plugins/providers/repository.py
Labels: Component: Integrations

#9815 fix(environments) Disallow `/` in future environment names
  src/sentry/api/endpoints/project_releases.py
  src/sentry/api/endpoints/release_deploys.py
  src/sentry/constants.py
  src/sentry/interfaces/schemas.py
  src/sentry/models/environment.py
  src/sentry/models/eventerror.py
  tests/sentry/api/endpoints/test_release_deploys.py
  tests/sentry/coreapi/tests.py
  tests/sentry/models/test_environment.py
  tests/sentry/test_event_manager.py
Labels: Component: API, Component: Event Pipeline

#9854 feat(integrations): Github default repo field
  src/sentry/integrations/github/issues.py
  tests/sentry/integrations/github/test_issues.py
Labels: Component: Integrations

#9723 feat(integrations): Gitlab Issues
  src/sentry/integrations/gitlab/client.py
  src/sentry/integrations/gitlab/integration.py
  src/sentry/integrations/gitlab/issues.py
  src/sentry/integrations/gitlab/search.py
  src/sentry/integrations/gitlab/urls.py
  src/sentry/web/urls.py
  tests/sentry/integrations/gitlab/test_integration.py
  tests/sentry/integrations/gitlab/test_issues.py
  tests/sentry/integrations/gitlab/test_search.py
  tests/sentry/integrations/gitlab/testutils.py
Labels: Component: Integrations

#9916 feat(integrations): Gitlab Repository Provider
  src/sentry/integrations/gitlab/client.py
  src/sentry/integrations/gitlab/integration.py
  src/sentry/integrations/gitlab/repository.py
  tests/sentry/integrations/gitlab/test_repository.py
Labels: Component: Integrations

#9733 feat(integrations): Gitlab Webhook.
  src/sentry/integrations/gitlab/client.py
  src/sentry/integrations/gitlab/integration.py
  src/sentry/integrations/gitlab/urls.py
  src/sentry/integrations/gitlab/webhooks.py
  tests/sentry/integrations/gitlab/test_integration.py
  tests/sentry/integrations/gitlab/test_webhook.py
  tests/sentry/integrations/gitlab/testutils.py
Labels: Component: Integrations

#9644 fix(integrations): VSTS Subscription check tasks.
  src/sentry/conf/server.py
  src/sentry/integrations/vsts/client.py
  src/sentry/tasks/integrations.py
  tests/sentry/tasks/test_integrations.py
Labels: Component: Integrations

#9857 feat(integration): Jira added default project field.
  src/sentry/integrations/jira/integration.py
  tests/sentry/integrations/jira/test_integration.py
Labels: Component: Integrations

#10094 fix(integrations): Azure DevOps Subscription creation problem
  src/sentry/integrations/vsts/integration.py
  tests/sentry/integrations/vsts/test_integration.py
Labels: Component: Integrations

#10073 ref(integrations): Abstract retrieving repository choices for issue linking/creation forms.
  src/sentry/integrations/github/issues.py
  src/sentry/integrations/issues.py
  tests/sentry/integrations/github/test_issues.py
Labels: Component: Integrations

#10144 fix(events): Fixes a bug in rendering events by environments per group
  src/sentry/static/sentry/app/views/groupEvents.jsx
Labels: Type: Bug

#10143 fix(integrations): Azure DevOps corrected subscription id
  src/sentry/integrations/vsts/integration.py
  tests/sentry/integrations/vsts/test_integration.py
Labels: Component: Integrations

#10146 fix(discover): Always use the same querybuilder instance
  src/sentry/static/sentry/app/views/organizationDiscover/index.jsx
Labels: Type: Bug

#10152 feat(security): Block abusive email patterns
  src/sentry/api/endpoints/organization_member_index.py
  src/sentry/api/endpoints/user_emails.py
  src/sentry/api/endpoints/user_emails_confirm.py
  src/sentry/api/validators/email.py
  src/sentry/conf/server.py
  src/sentry/security/__init__.py
  src/sentry/security/utils.py
  src/sentry/web/forms/accounts.py
  src/sentry/web/forms/fields.py
  tests/sentry/security/__init__.py
  tests/sentry/security/test_utils.py
Labels: Component: Auth, Security

#10160 fix(debug_files): Fix None query in DIF search
  src/sentry/api/endpoints/debug_files.py
  tests/sentry/api/endpoints/test_debug_files.py
Labels: Type: Bug

#10022 feat(integrations): VSTS error messaging when accounts not found
  src/sentry/integrations/vsts/integration.py
  src/sentry/templates/sentry/integrations/vsts-config.html
  tests/sentry/integrations/vsts/test_provider.py
Labels: Component: Integrations

#9842 feat(integrations): Bitbucket default repo field.
  src/sentry/integrations/bitbucket/issues.py
  tests/sentry/integrations/bitbucket/test_issues.py
Labels: Component: Integrations

#10052 feat(native): Add support for debug file bundles
  requirements-base.txt
  src/sentry/api/endpoints/debug_files.py
  src/sentry/api/serializers/models/debug_file.py
  src/sentry/lang/java/plugin.py
  src/sentry/models/debugfile.py
  src/sentry/south_migrations/0441_auto__add_field_projectdebugfile_data.py
  src/sentry/tasks/assemble.py
  src/sentry/testutils/fixtures.py
  tests/sentry/api/endpoints/test_debug_files.py
  tests/sentry/api/serializers/test_debugfile.py
  tests/sentry/models/test_debugfile.py
Labels: Component: Event Pipeline, Impact: Large, Impact: Migration

#10204 fix(integrations): Add group_id to GitLab metadata.
  src/sentry/integrations/gitlab/integration.py
  tests/sentry/integrations/gitlab/test_integration.py
Labels: Component: Integrations

#10161 feat(native): Introduce CFI Caches
  requirements-base.txt
  src/sentry/models/debugfile.py
  src/sentry/south_migrations/0442_auto__add_projectcficachefile__add_unique_projectcficachefile_project_.py
  src/sentry/tasks/assemble.py
  src/sentry/tasks/symcache_update.py
  src/sentry/testutils/fixtures.py
  tests/sentry/lang/native/test_plugin.py
  tests/sentry/models/fixtures/crash
  tests/sentry/models/fixtures/v1.cficache
  tests/sentry/models/fixtures/v1.symcache
  tests/sentry/models/test_debugfile.py
  tests/sentry/tasks/test_assemble.py
Labels: Component: Event Pipeline, Impact: Migration

#10211 fix(native): Fix a race during debug file deletion
  src/sentry/models/debugfile.py
  src/sentry/utils/db.py
  tests/sentry/models/test_debugfile.py
Labels: Type: Bug

#10167 feat(integrations): GitLab default project field.
  src/sentry/integrations/gitlab/issues.py
  src/sentry/integrations/issues.py
  tests/sentry/integrations/gitlab/test_issues.py
  tests/sentry/integrations/gitlab/testutils.py
Labels: Component: Integrations

#10173 feat: Add new reappeared_event event type
  src/sentry/constants.py
  src/sentry/rules/base.py
  src/sentry/rules/conditions/reappeared_event.py
  src/sentry/rules/processor.py
  src/sentry/tasks/post_process.py
  src/sentry/testutils/cases.py
  tests/sentry/api/endpoints/test_project_rules_configuration.py
  tests/sentry/rules/conditions/test_reappeared_event.py
  tests/sentry/rules/test_processor.py
  tests/sentry/tasks/post_process/tests.py
Labels: Component: Issues, Component: Notifications, Component: Workflow

#10212 ref(integrations): Azure DevOps add logging to Webhook.
  src/sentry/integrations/vsts/webhooks.py
Labels: Component: Integrations

#10263 fix(discover): Fix query property - orderby not orderBy
  src/sentry/static/sentry/app/views/organizationDiscover/sidebar/queryRead.jsx
Labels: Type: Bug

#10113 feat(releases): Non-empty state progress bar
  src/sentry/api/endpoints/prompts_activity.py
  src/sentry/api/serializers/models/organization.py
  src/sentry/api/urls.py
  src/sentry/experiments/manager.py
  src/sentry/models/prompts_activity.py
  src/sentry/south_migrations/0445_auto__add_promptsactivity__add_unique_promptsactivity_user_feature_org.py
  src/sentry/static/sentry/app/actionCreators/prompts.jsx
  src/sentry/static/sentry/app/components/hookOrDefault.jsx
  src/sentry/static/sentry/app/index.js
  src/sentry/static/sentry/app/stores/hookStore.jsx
  src/sentry/static/sentry/app/views/projectReleases/index.jsx
  src/sentry/static/sentry/app/views/projectReleases/releaseEmptyState.jsx
  src/sentry/static/sentry/app/views/projectReleases/releaseLanding.jsx
  src/sentry/static/sentry/app/views/projectReleases/releaseProgress.jsx
  tests/js/spec/views/projectReleasesLanding.spec.jsx
  tests/js/spec/views/projectReleasesProgress.spec.jsx
  tests/sentry/api/endpoints/test_prompts_activity.py
Labels: Impact: Migration

#10277 fix(environments): Fix environment filtering on group events page
  src/sentry/static/sentry/app/views/groupEvents.jsx
  tests/js/spec/views/groupEvents.spec.jsx
Labels: Type: Bug

#9344 feat(minidump): Support CFI for minidumps
  requirements-base.txt
  src/sentry/coreapi.py
  src/sentry/interfaces/schemas.py
  src/sentry/interfaces/stacktrace.py
  src/sentry/lang/native/cfi.py
  src/sentry/lang/native/minidump.py
  src/sentry/lang/native/plugin.py
  src/sentry/lang/native/utils.py
  src/sentry/models/debugfile.py
  src/sentry/plugins/base/v2.py
  src/sentry/stacktraces.py
  src/sentry/static/sentry/app/components/events/interfaces/frame.jsx
  src/sentry/tasks/store.py
  src/sentry/utils/hashlib.py
  src/sentry/web/api.py
  tests/sentry/lang/native/fixtures/linux.cficache
  tests/sentry/lang/native/test_cfi.py
  tests/sentry/lang/native/test_minidump.py
  tests/sentry/lang/native/test_utils.py
Labels: Component: Event Pipeline

#10324 feat(discover): Add slide in animation for Edit Query panel
  src/sentry/static/sentry/app/views/organizationDiscover/styles.jsx
Labels: WIP

#10345 fix(integrations): Removed internal feature flag to Outbound Assignee Sync
  src/sentry/models/groupassignee.py
  tests/sentry/models/test_groupassignee.py
Labels: Component: Integrations

#10348 ref(integrations): Removed unused internal feature flag from integrations related tests.
  tests/sentry/api/endpoints/test_group_notes.py
  tests/sentry/api/endpoints/test_project_group_index.py
  tests/sentry/event_manager/test_event_manager.py
  tests/sentry/integrations/gitlab/test_repository.py
  tests/sentry/models/test_release.py
Labels: Component: Integrations

#10337 fix(ui) Don't overflow on IPv6 data.
  src/sentry/static/sentry/app/views/settings/organizationAuditLog/auditLogList.jsx
Labels: Component: On-Premise

#10351 security: Drop top level crossdomain.xml
  src/sentry/web/api.py
  src/sentry/web/urls.py
  tests/sentry/web/api/tests.py
Labels: Security

#9841 feat(integrations): Vsts default project.
  src/sentry/integrations/vsts/client.py
  src/sentry/integrations/vsts/issues.py
  tests/sentry/integrations/vsts/test_issues.py
Labels: Component: Integrations

#10349 feat(auth): Allow superusers to bypass server rendered auth page
  src/sentry/static/sentry/app/views/organizationContext.jsx
  src/sentry/web/frontend/react_page.py
  tests/js/spec/views/organizationContext.spec.jsx
  tests/sentry/web/frontend/test_react_page.py
Labels: Component: Auth
