Repository getsentry/sentry, pull requests merged in 2018-05, with the labels that each got.

#8250 ref(js): Remove unused propTypes
  src/sentry/static/sentry/app/components/events/eventDataSection.jsx
  src/sentry/static/sentry/app/components/events/interfaces/breadcrumbs.jsx
  src/sentry/static/sentry/app/components/events/interfaces/breadcrumbs/crumbTable.jsx
  src/sentry/static/sentry/app/components/events/interfaces/breadcrumbs/summaryLine.jsx
  src/sentry/static/sentry/app/components/events/interfaces/crashHeader.jsx
  src/sentry/static/sentry/app/components/events/interfaces/csp.jsx
  src/sentry/static/sentry/app/components/events/interfaces/threads.jsx
  src/sentry/static/sentry/app/components/fileChange.jsx
  src/sentry/static/sentry/app/components/group/releaseChart.jsx
  src/sentry/static/sentry/app/components/latestDeployOrReleaseTime.jsx
  src/sentry/static/sentry/app/components/sidebarPanel.jsx
  src/sentry/static/sentry/app/views/groupMerged/mergedItem.jsx
  src/sentry/static/sentry/app/views/routeError.jsx
  src/sentry/static/sentry/app/views/stream/searchBar.jsx
  src/sentry/static/sentry/app/views/stream/sidebar.jsx
Labels: Easy Task

#8298 fix(issues): Fix inlining heuristics for mixed stack traces
  src/sentry/lang/native/applecrashreport.py
Labels: Component: Issues, Type: Bug

#8244 db: Migrate File name to text
  src/sentry/models/file.py
  src/sentry/south_migrations/0412_auto__chg_field_file_name.py
Labels: Impact: Migration

#8294 feat(api): Add basic issue linking endpoint and model for new integrations
  src/sentry/api/endpoints/group_integration_details.py
  src/sentry/api/urls.py
  src/sentry/models/externalissue.py
  src/sentry/south_migrations/0413_auto__add_externalissue__add_unique_externalissue_organization_id_inte.py
  tests/sentry/api/endpoints/test_group_integration_details.py
Labels: Impact: Migration

#8337 fix(native): Do not log invalid debug files as errors
  src/sentry/models/dsymfile.py
Labels: Component: Event Pipeline, Type: Bug

#8356 fix(native): Fix symbolserver lookup for windows symbols
  src/sentry/lang/native/plugin.py
Labels: Component: Event Pipeline, Type: Bug

#8199 feat: Backfill last deploy id field in release project environment table
  src/sentry/south_migrations/0414_backfill_release_project_environment_last_deploy_id.py
Labels: Impact: Migration

#8392 fix(api): Fix org stats endpoint when given project ids
  src/sentry/api/endpoints/organization_stats.py
  tests/sentry/api/endpoints/test_organization_stats.py
Labels: Component: API

#8488 fix(settings): Fix searching of select fields
  src/sentry/static/sentry/app/views/settings/components/forms/formField/index.jsx
Labels: Type: Bug

#8476 feat(pipeline): Integration Pipeline Handles Pre-existing integration object
  src/sentry/integrations/base.py
  src/sentry/integrations/pipeline.py
  tests/sentry/integrations/test_pipeline.py
Labels: Component: Integrations

#8490 ref(integrations): Moved JWT helper methods to common place.
  src/sentry/integrations/atlassian_connect.py
  src/sentry/integrations/jira/client.py
  src/sentry/integrations/jira/configure.py
Labels: Component: Integrations

#8382 feat(integrations): Bitbucket Authentication
  src/sentry/conf/server.py
  src/sentry/identity/__init__.py
  src/sentry/identity/bitbucket/__init__.py
  src/sentry/identity/bitbucket/provider.py
  src/sentry/integrations/bitbucket/__init__.py
  src/sentry/integrations/bitbucket/descriptor.py
  src/sentry/integrations/bitbucket/installed.py
  src/sentry/integrations/bitbucket/integration.py
  src/sentry/integrations/bitbucket/urls.py
  src/sentry/web/urls.py
  tests/sentry/integrations/bitbucket/__init__.py
  tests/sentry/integrations/bitbucket/test_descriptor.py
  tests/sentry/integrations/bitbucket/test_installed.py
Labels: Component: Integrations

#8504 fix(ui): Fix Account Email Routing select styling
  src/sentry/static/sentry/app/views/acceptProjectTransfer.jsx
  src/sentry/static/sentry/app/views/settings/account/accountNotificationFineTuning.jsx
  src/sentry/static/sentry/app/views/settings/components/forms/fieldFromConfig.jsx
  src/sentry/static/sentry/app/views/settings/components/forms/formField/index.jsx
  src/sentry/static/sentry/app/views/settings/components/forms/inputField.jsx
  src/sentry/static/sentry/app/views/settings/components/forms/model.jsx
  src/sentry/static/sentry/app/views/settings/components/forms/selectField.jsx
  tests/acceptance/test_account_notification_settings.py
  tests/js/spec/components/forms/__snapshots__/formField.spec.jsx.snap
  tests/js/spec/components/forms/formField.spec.jsx
Labels: Type: Bug

#8493 feat(integrations): Bitbucket client
  requirements-base.txt
  src/sentry/integrations/bitbucket/client.py
  src/sentry/integrations/bitbucket/descriptor.py
  src/sentry/integrations/bitbucket/integration.py
  tests/sentry/integrations/bitbucket/test_descriptor.py
  tests/sentry/integrations/bitbucket/test_installed.py
Labels: Component: Integrations

#8538 ref(identity): Change org to regular field in IdentityProvider
  src/sentry/integrations/pipeline.py
  src/sentry/integrations/slack/action_endpoint.py
  src/sentry/integrations/slack/link_identity.py
  src/sentry/models/identity.py
  src/sentry/south_migrations/0416_auto__del_field_identityprovider_organization__add_field_identityprovi.py
  src/sentry/web/frontend/account_identity.py
  tests/sentry/integrations/github/test_integration.py
  tests/sentry/integrations/github_enterprise/test_integration.py
  tests/sentry/integrations/slack/test_action_endpoint.py
  tests/sentry/integrations/slack/test_integration.py
  tests/sentry/integrations/slack/test_link_identity.py
  tests/sentry/web/frontend/test_account_identity.py
Labels: Impact: Migration

#8592 fix(native): Fix version normalization related to mechanism
  src/sentry/interfaces/exception.py
  src/sentry/lang/native/utils.py
Labels: Type: Bug

#8586 feat(integrations): Changed scopes for vsts.
  src/sentry/identity/vsts/provider.py
Labels: Component: Integrations

#8571 feat(identity): Step 4 of removing org from IDP
  src/sentry/integrations/pipeline.py
  src/sentry/integrations/slack/action_endpoint.py
  src/sentry/integrations/slack/link_identity.py
  src/sentry/integrations/slack/utils.py
  src/sentry/models/identity.py
  src/sentry/south_migrations/0418_delete_old_idps.py
  src/sentry/south_migrations/0419_auto__add_unique_identityprovider_type_external_id.py
  src/sentry/web/frontend/account_identity.py
  tests/sentry/integrations/github/test_integration.py
  tests/sentry/integrations/github_enterprise/test_integration.py
  tests/sentry/integrations/slack/test_action_endpoint.py
  tests/sentry/integrations/slack/test_integration.py
  tests/sentry/integrations/slack/test_link_identity.py
  tests/sentry/web/frontend/test_account_identity.py
Labels: Impact: Migration
