Repository getsentry/sentry, pull requests merged in 2018-11, with the labels that each got.

#10391 Fix: Add index to project_id in Prompts model
  src/sentry/models/prompts_activity.py
  src/sentry/south_migrations/0446_auto__add_index_promptsactivity_project_id.py
Labels: Impact: Migration

#10373 feat(integrations): GitLab Setup Guide.
  src/sentry/integrations/gitlab/integration.py
  src/sentry/templates/sentry/integrations/gitlab-config.html
  tests/sentry/integrations/gitlab/test_integration.py
Labels: Component: Integrations

#10395 fix: Update prompts model
  src/sentry/api/endpoints/prompts_activity.py
  src/sentry/deletions/defaults/organization.py
  src/sentry/models/prompts_activity.py
  src/sentry/south_migrations/0447_auto__del_field_promptsactivity_organization__add_field_promptsactivit.py
  tests/sentry/api/endpoints/test_prompts_activity.py
Labels: Impact: Migration

#9832 feat(integrations): Gitlab client refresh
  src/sentry/identity/gitlab/provider.py
  src/sentry/integrations/gitlab/client.py
  src/sentry/integrations/gitlab/integration.py
  tests/sentry/integrations/gitlab/test_client.py
  tests/sentry/integrations/gitlab/testutils.py
Labels: Component: Integrations

#10448 fix(integrations): Corrected Bitbucket Repo Provider name.
  src/sentry/integrations/bitbucket/repository.py
Labels: Component: Integrations

#10447 fix(integrations): Added required fields to make bitbucket link issue work.
  src/sentry/integrations/bitbucket/issues.py
  tests/sentry/integrations/bitbucket/test_issues.py
Labels: Component: Integrations

#10407 fix(integrations): Azure DevOps fix subscription check.
  src/sentry/integrations/bitbucket/repository.py
  src/sentry/integrations/vsts/webhooks.py
  src/sentry/tasks/integrations.py
  tests/sentry/tasks/test_integrations.py
Labels: Component: Integrations

#10546 ref(integrations): Expose 503s to the enduser rather than give a 500 Internal Error.
  src/sentry/api/bases/integration.py
  src/sentry/integrations/bitbucket/search.py
  src/sentry/integrations/github/search.py
  src/sentry/integrations/gitlab/search.py
  src/sentry/integrations/jira/search.py
  src/sentry/integrations/vsts/search.py
  tests/sentry/integrations/gitlab/test_search.py
Labels: Component: Integrations

#10594 fix(org-events): Fix events table not updating on changes (APP-781)
  src/sentry/static/sentry/app/views/organizationEvents/events.jsx
  tests/js/spec/views/organizationEvents/events.spec.jsx
  tests/js/spec/views/organizationEvents/index.spec.jsx
Labels: Type: Bug

#10571 feat(integrations): Add Jira Server to the Integrations Page
  src/sentry/conf/server.py
  src/sentry/identity/__init__.py
  src/sentry/identity/jira_server/__init__.py
  src/sentry/identity/jira_server/provider.py
  src/sentry/integrations/jira_server/__init__.py
  src/sentry/integrations/jira_server/integration.py
  src/sentry/integrations/jira_server/urls.py
  src/sentry/utils/pytest/sentry.py
  src/sentry/web/urls.py
  tests/sentry/integrations/jira_server/__init__.py
  tests/sentry/integrations/jira_server/test_integration.py
Labels: Component: Integrations

#10610 fix(settings): Fix org settings nav hooks
  src/sentry/static/sentry/app/views/settings/organization/organizationSettingsNavigation.jsx
Labels: Type: Bug

#10642 feat(integrations): Add Jira Server feature handler.
  src/sentry/api/endpoints/organization_config_integrations.py
  src/sentry/conf/server.py
  src/sentry/features/__init__.py
Labels: Component: Integrations

#10640 fix(integrations): Fix IntegrationEndpoint error handling.
  src/sentry/api/bases/integration.py
  tests/sentry/api/bases/__init__.py
  tests/sentry/api/bases/test_integration.py
Labels: Component: Integrations

#10667 fix(integrations): Azure DevOps check all users in outbound assignee sync.
  src/sentry/integrations/vsts/client.py
  src/sentry/integrations/vsts/issues.py
  tests/sentry/integrations/vsts/test_issues.py
Labels: Component: Integrations

#10706 fix(integrations): Fix bug in default repos when there are no repos.
  src/sentry/integrations/example/integration.py
  src/sentry/integrations/github/issues.py
  src/sentry/integrations/issues.py
  tests/sentry/integrations/bitbucket/test_issues.py
  tests/sentry/integrations/github/test_issues.py
  tests/sentry/integrations/gitlab/test_issues.py
  tests/sentry/integrations/test_issues.py
Labels: Component: Integrations

#10722 fix(integrations): Create issue activity after issues are linked/created with an integration
  src/sentry/api/endpoints/group_integration_details.py
  tests/sentry/api/endpoints/test_group_integration_details.py
Labels: Component: Integrations

#10551 ref(integrations): Prevent Integration Repository Errors from 500ing
  src/sentry/integrations/bitbucket/repository.py
  src/sentry/integrations/gitlab/repository.py
  src/sentry/integrations/vsts/repository.py
  src/sentry/plugins/providers/integration_repository.py
  src/sentry/testutils/cases.py
  tests/sentry/integrations/bitbucket/test_repository.py
  tests/sentry/integrations/gitlab/test_repository.py
  tests/sentry/integrations/vsts/test_repository.py
Labels: Component: Integrations

#10793 fix(integrations): Added Docstring to compare_commit method and timestamps to Bitbucket and Azure
  src/sentry/integrations/bitbucket/repository.py
  src/sentry/integrations/github/repository.py
  src/sentry/integrations/gitlab/repository.py
  src/sentry/integrations/vsts/repository.py
  src/sentry/plugins/providers/integration_repository.py
  tests/sentry/integrations/bitbucket/test_repository.py
  tests/sentry/integrations/vsts/test_repository.py
Labels: Component: Integrations

#10785 db: Delete GroupHashTombstone and drop table
  src/sentry/models/grouphashtombstone.py
  src/sentry/south_migrations/0450_auto__del_grouphashtombstone__del_unique_grouphashtombstone_project_ha.py
Labels: Impact: Migration
