Repository getsentry/sentry, pull requests merged in 2018-02, with the labels that each got.

#7226 fix: Return all DIFs when uploading fat objects
  src/sentry/api/bases/chunk.py
  src/sentry/api/endpoints/dif_files.py
  tests/sentry/api/endpoints/test_dif_assemble.py
Labels: Type: Bug

#7241 feat(minidump): Allow submission of JSON event data
  src/sentry/web/api.py
Labels: Component: Event Pipeline

#7195 feat(api): Add environment filter to UserReport Endpoints
  src/sentry/api/endpoints/group_user_reports.py
  src/sentry/api/endpoints/project_user_reports.py
  src/sentry/event_manager.py
  src/sentry/testutils/cases.py
  tests/sentry/api/endpoints/test_group_user_reports.py
  tests/sentry/api/endpoints/test_project_user_reports.py
  tests/sentry/test_event_manager.py
Labels: Component: API, Component: Event Pipeline, Team: Platform

#7249 feat(ownership): Initial model/schema
  src/sentry/models/projectownership.py
  src/sentry/south_migrations/0392_auto__add_projectownership.py
Labels: Impact: Migration

#7279 fix(eventpipeline): Nonstring transactions cause an error during event ingestion
  src/sentry/event_manager.py
  tests/sentry/test_event_manager.py
Labels: Component: Event Pipeline, Team: Platform

#7268 fix(api): Error page adds environment
  src/sentry/web/frontend/error_page_embed.py
  tests/sentry/web/frontend/test_error_page_embed.py
Labels: Component: Feedback, Team: Platform

#7335 feat(api): Filter Organization and Project Releases by Environment
  src/sentry/api/endpoints/organization_releases.py
  src/sentry/api/endpoints/project_releases.py
  tests/sentry/api/endpoints/test_organization_releases.py
  tests/sentry/api/endpoints/test_project_releases.py
Labels: Component: API, Component: Releases, Team: Platform

#7282 feat(actors): Assign Teams API
  CHANGES
  src/sentry/api/endpoints/group_details.py
  src/sentry/api/endpoints/project_group_index.py
  src/sentry/api/fields/actor.py
  src/sentry/api/serializers/models/actor.py
  src/sentry/api/serializers/models/group.py
  src/sentry/models/groupassignee.py
  src/sentry/plugins/sentry_mail/activity/assigned.py
  src/sentry/static/sentry/app/components/activity/item.jsx
  src/sentry/static/sentry/app/proptypes.jsx
  src/sentry/static/sentry/app/utils.jsx
  src/sentry/static/sentry/app/utils/formatters.jsx
  src/sentry/static/sentry/app/views/groupActivity/index.jsx
  src/sentry/static/sentry/app/views/settings/team/organizationStatOverview.jsx
  src/sentry/templates/sentry/debug/mail/preview.html
  src/sentry/web/debug_urls.py
  src/sentry/web/frontend/debug/debug_assigned_email.py
  tests/js/spec/views/organizationRateLimits.spec.jsx
  tests/sentry/api/endpoints/test_group_details.py
  tests/sentry/api/endpoints/test_project_group_index.py
  tests/sentry/api/serializers/test_fields.py
  tests/sentry/plugins/mail/tests.py
Labels: wcgw

#7337 feat(model): Added ReleaseProjectEnvironment model
  src/sentry/models/releaseprojectenvironment.py
  src/sentry/south_migrations/0395_auto__add_releaseprojectenvironment__add_unique_releaseprojectenvironm.py
  tests/sentry/models/test_releaseprojectenvironment.py
Labels: Component: Releases, Impact: Migration, Team: Platform
