Repository getsentry/sentry, pull requests merged in 2018-12, with the labels that each got.

#10929 fix(ui): Fix API success callback
  src/sentry/static/sentry/app/api.jsx
Labels: Type: Bug

#10961 fix(metrics): Fix sentry for MS IE/Edge
  src/sentry/static/sentry/app/utils/analytics.jsx
Labels: Type: Bug

#10879 ref(integrations): Assure releases api accept patch set data.
  src/sentry/api/endpoints/project_releases.py
  src/sentry/models/commitfilechange.py
  src/sentry/testutils/cases.py
  tests/sentry/api/endpoints/test_organization_releases.py
  tests/sentry/api/endpoints/test_project_releases.py
Labels: Component: Releases

#10924 ref(integrations): Handle Bitbucket no issue tracker error on search.
  src/sentry/integrations/bitbucket/search.py
  tests/sentry/integrations/bitbucket/test_search.py
Labels: Component: Integrations

#10795 fix(api): Fix issue where favourites aren't showing in the Project List
  src/sentry/api/endpoints/organization_projects.py
  src/sentry/api/paginator.py
  src/sentry/testutils/fixtures.py
  tests/sentry/api/endpoints/test_organization_projects.py
  tests/sentry/api/test_paginator.py
Labels: Component: API

#11090 feat(releases): Added link to the releases api docstring to the workflow release example.
  src/sentry/api/endpoints/organization_releases.py
Labels: Component: Releases

#11087 ref(integrations): Bitbucket scopes reduction
  src/sentry/integrations/bitbucket/integration.py
Labels: Component: Integrations, WIP
