Repository getsentry/sentry, pull requests merged in 2018-03, with the labels that each got.

#7405 feat(environments): Added ReleaseProjectEnvironment to team and project transfer_to, project delete, and release merge.
  src/sentry/deletions/defaults/project.py
  src/sentry/models/project.py
  src/sentry/models/release.py
  src/sentry/models/team.py
  tests/sentry/models/test_project.py
  tests/sentry/models/test_release.py
  tests/sentry/models/test_team.py
Labels: Team: Platform

#7396 feat(environments): Support ReleaseProjectEnvironment in event pipeline
  src/sentry/event_manager.py
  tests/sentry/test_event_manager.py
Labels: Component: Event Pipeline, Team: Platform

#7385 ref(db): Remove sentry_project.team_id column
  src/sentry/models/project.py
  src/sentry/south_migrations/0396_auto__del_field_project_team.py
Labels: Impact: Migration

#7194 feat(slack): Implement config UI
  src/sentry/integrations/base.py
  src/sentry/integrations/slack/integration.py
  src/sentry/static/sentry/app/routes.jsx
  src/sentry/static/sentry/app/views/organizationIntegrationConfig.jsx
  src/sentry/static/sentry/app/views/projectPlugins/index.jsx
  src/sentry/static/sentry/app/views/projectPlugins/organizationIntegrations.jsx
  src/sentry/static/sentry/app/views/projectPlugins/projectPlugins.jsx
  tests/js/setup.js
  tests/js/spec/views/__snapshots__/organizationIntegrationConfig.spec.jsx.snap
  tests/js/spec/views/__snapshots__/organizationIntegrations.spec.jsx.snap
  tests/js/spec/views/__snapshots__/organizationRepositories.spec.jsx.snap
  tests/js/spec/views/organizationIntegrationConfig.spec.jsx
  tests/js/spec/views/organizationIntegrations.spec.jsx
  tests/js/spec/views/projectPlugins/__snapshots__/projectPlugins.spec.jsx.snap
  tests/js/spec/views/projectPlugins/index.spec.jsx
  tests/js/spec/views/projectPlugins/pluginNavigation.integration.spec.jsx
  tests/js/spec/views/projectPlugins/projectPlugins.spec.jsx
Labels: Component: Integrations

#7503 feat(owners): Owners notifications
  src/sentry/plugins/sentry_mail/models.py
  src/sentry/rules/actions/notify_event.py
  src/sentry/rules/actions/notify_event_service.py
  tests/sentry/plugins/mail/tests.py
Labels: Team: Platform

#7616 ref: Remove rich metadata for projects from org details
  src/sentry/api/serializers/models/organization.py
  src/sentry/api/serializers/models/project.py
  src/sentry/static/sentry/app/views/organizationDashboard.jsx
  tests/js/setup.js
  tests/js/spec/views/__snapshots__/organizationProjects.spec.jsx.snap
  tests/js/spec/views/__snapshots__/organizationTeamProjects.spec.jsx.snap
  tests/js/spec/views/__snapshots__/ownershipInput.spec.jsx.snap
  tests/js/spec/views/__snapshots__/projectAlertRuleDetails.spec.jsx.snap
  tests/js/spec/views/__snapshots__/projectAlertSettings.spec.jsx.snap
  tests/js/spec/views/__snapshots__/projectOwnership.spec.jsx.snap
  tests/js/spec/views/__snapshots__/projectPluginDetails.spec.jsx.snap
  tests/js/spec/views/projectAlertSettings.spec.jsx
  tests/js/spec/views/projectGeneralSettings.spec.jsx
  tests/js/spec/views/projectOwnership.spec.jsx
  tests/js/spec/views/projectTeamSettings.spec.jsx
  tests/js/spec/views/projectUserFeedback.spec.jsx
Labels: wcgw

#7688 feat(onboarding): Add a desktop category and electron platform
  src/sentry/static/sentry/app/views/onboarding/utils.js
  tests/fixtures/integration-docs/_platforms.json
  tests/fixtures/integration-docs/electron.json
  tests/js/spec/views/onboarding/__snapshots__/createProject.spec.jsx.snap
  tests/js/spec/views/onboarding/__snapshots__/index.spec.jsx.snap
  tests/js/spec/views/onboarding/project/__snapshots__/index.spec.jsx.snap
  tests/js/spec/views/onboarding/project/__snapshots__/platformpicker.spec.jsx.snap
Labels: Component: Core Frontend (React), Component: Documentation

#7397 feat(environments): Changed frontend to use newIssues
  src/sentry/api/endpoints/project_releases.py
  src/sentry/api/serializers/models/release.py
  tests/sentry/api/endpoints/test_organization_release_details.py
  tests/sentry/api/endpoints/test_project_releases.py
  tests/sentry/api/serializers/test_release.py
Labels: Component: Core Frontend (React), Team: Platform
