Repository getsentry/sentry, pull requests merged in 2018-04, with the labels that each got.

#7766 feat: Support history project name redirects
  src/sentry/api/bases/project.py
  src/sentry/api/endpoints/project_details.py
  src/sentry/api/exceptions.py
  src/sentry/models/project.py
  src/sentry/models/projectredirect.py
  src/sentry/south_migrations/0400_auto__add_projectredirect__add_unique_projectredirect_organization_red.py
  src/sentry/static/sentry/app/views/projects/projectContext.jsx
  tests/js/spec/views/projects/projectContext.spec.jsx
  tests/sentry/api/endpoints/test_project_details.py
  tests/sentry/models/test_projectredirect.py
Labels: Component: API

#7802 ref(native): Use debug identifiers instead of UUIDs for DSymFiles
  requirements-base.txt
  src/sentry/api/endpoints/dsym_files.py
  src/sentry/api/serializers/models/dsym_file.py
  src/sentry/interfaces/debug_meta.py
  src/sentry/lang/java/plugin.py
  src/sentry/lang/native/applecrashreport.py
  src/sentry/lang/native/plugin.py
  src/sentry/lang/native/symbolizer.py
  src/sentry/lang/native/utils.py
  src/sentry/models/dsymfile.py
  src/sentry/models/eventerror.py
  src/sentry/south_migrations/0401_auto__chg_field_projectdsymfile_uuid.py
  src/sentry/static/sentry/app/components/events/errorItem.jsx
  src/sentry/static/sentry/app/components/events/interfaces/debugmeta.jsx
  src/sentry/static/sentry/app/views/projectDebugSymbols.jsx
  src/sentry/static/sentry/app/views/settings/project/projectProcessingIssues.jsx
  src/sentry/tasks/assemble.py
  src/sentry/tasks/symcache_update.py
  src/sentry/testutils/fixtures.py
  src/sentry/web/api.py
  tests/js/spec/views/__snapshots__/projectDebugSymbols.spec.jsx.snap
  tests/sentry/api/endpoints/test_dif_assemble.py
  tests/sentry/api/endpoints/test_dsym_files.py
  tests/sentry/api/serializers/test_dsymfile.py
  tests/sentry/deletions/test_project.py
  tests/sentry/interfaces/test_debug_meta.py
  tests/sentry/lang/native/fixtures/linux.dmp
  tests/sentry/lang/native/fixtures/macos.dmp
  tests/sentry/lang/native/fixtures/windows.dmp
  tests/sentry/lang/native/fixtures/windows.sym
  tests/sentry/lang/native/test_plugin.py
  tests/sentry/lang/native/test_utils.py
  tests/sentry/models/fixtures/crash.dsym
  tests/sentry/models/fixtures/v1.symc
  tests/sentry/models/test_dsymfile.py
Labels: Component: API, Component: Event Pipeline, Impact: Migration

#7889 feat(api): Add team avatar settings endpoint
  src/sentry/api/bases/avatar.py
  src/sentry/api/endpoints/team_avatar.py
  src/sentry/api/endpoints/useravatar.py
  src/sentry/api/serializers/models/team.py
  src/sentry/api/urls.py
  src/sentry/models/teamavatar.py
  src/sentry/south_migrations/0403_auto__add_teamavatar.py
  tests/sentry/api/endpoints/test_team_avatar.py
  tests/sentry/api/serializers/test_team.py
Labels: Impact: Migration

#8019 fix(minidump): Allow debug images without identifier
  requirements-base.txt
  src/sentry/interfaces/debug_meta.py
  src/sentry/static/sentry/app/components/events/interfaces/debugmeta.jsx
Labels: Component: Event Pipeline, Type: Bug

#8014 ref(db): Remove unique constraint on project, name for environment
  src/sentry/models/environment.py
  src/sentry/south_migrations/0404_auto__del_unique_environment_project_id_name.py
Labels: Impact: Migration

#8033 feat: Add consent prompt
  bin/mock-user
  src/sentry/api/endpoints/user_emails.py
  src/sentry/api/endpoints/user_subscriptions.py
  src/sentry/api/serializers/models/user.py
  src/sentry/models/user.py
  src/sentry/south_migrations/0405_auto__add_field_user_flags.py
  src/sentry/static/sentry/app/components/forms/formField.jsx
  src/sentry/static/sentry/app/components/forms/radioBooleanField.jsx
  src/sentry/static/sentry/app/views/app.jsx
  src/sentry/static/sentry/app/views/newsletterConsent.jsx
  src/sentry/web/forms/accounts.py
  tests/js/setup.js
  tests/js/spec/components/modals/commandPaletteModal.spec.jsx
  tests/js/spec/components/modals/sudoModal.spec.jsx
  tests/js/spec/views/app.spec.jsx
  tests/sentry/api/endpoints/test_user_emails.py
  tests/sentry/api/endpoints/test_user_subscriptions.py
Labels: Component: Analytics

#8036 feat(minidump): Store minidumps in a temp directory for debugging
  src/sentry/conf/server.py
  src/sentry/lang/native/utils.py
  src/sentry/web/api.py
Labels: Component: Event Pipeline

#8001 fix(email): Added project_link to alert tag links.
  src/sentry/templates/sentry/emails/error.html
Labels: Component: Notifications, Platform: Python, Team: Platform

#8068 fix(native): Add more known user-paths for macOS
  src/sentry/lang/native/symbolizer.py
Labels: Component: Event Pipeline, Type: Bug

#8051 ref(ui): Dynamically render contexts based on availability
  src/sentry/data/samples/cordova.json
  src/sentry/data/samples/javascript.json
  src/sentry/data/samples/native.json
  src/sentry/static/sentry/app/components/events/contextSummary.jsx
  src/sentry/static/sentry/app/components/events/eventEntries.jsx
  tests/acceptance/test_issue_details.py
  tests/js/spec/components/events/__snapshots__/contextSummary.spec.jsx.snap
  tests/js/spec/components/events/contextSummary.spec.jsx
Labels: Component: Issues

#8128 fix(integration): Prepare for backfill of missing extenral_id
  src/sentry/integrations/pipeline.py
  src/sentry/integrations/slack/link_identity.py
  src/sentry/models/identity.py
  src/sentry/south_migrations/0407_auto__add_field_identityprovider_external_id__add_unique_identityprovi.py
Labels: Impact: Migration

#8197 fix(identity): Migrate missing IDP external IDs from integrations
  src/sentry/south_migrations/0408_identity_provider_external_id.py
Labels: Impact: Migration

#8192 feat(db): Add last_deploy_id column to ReleaseProjectEnvironment
  src/sentry/models/releaseprojectenvironment.py
  src/sentry/south_migrations/0409_auto__add_field_releaseprojectenvironment_last_deploy_id.py
Labels: Impact: Migration

#8254 fix(auth): Handle passwordless SSO flows
  src/sentry/auth/helper.py
  src/sentry/testutils/fixtures.py
  tests/sentry/web/frontend/test_auth_organization_login.py
Labels: Component: Auth, Security

#8255 fix(auth): Ratelimit 2FA login attempts
  src/sentry/web/frontend/twofactor.py
Labels: Security
