Repository getsentry/sentry, pull requests merged in 2018-07, with the labels that each got.

#8850 feat(integrations): Vsts Config UI
  src/sentry/integrations/vsts/client.py
  src/sentry/integrations/vsts/integration.py
  tests/sentry/integrations/vsts/test_integration.py
Labels: Component: Integrations

#8783 feat(integrations): VSTS Sync Assignee Outbound
  src/sentry/integrations/vsts/client.py
  src/sentry/integrations/vsts/integration.py
  src/sentry/integrations/vsts/issues.py
  tests/sentry/integrations/vsts/test_issues.py
  tests/sentry/integrations/vsts/testutils.py
  tests/sentry/models/test_groupassignee.py
Labels: Component: Integrations

#8923 feat(integrations): Vsts status sync outbound
  src/sentry/integrations/example/integration.py
  src/sentry/integrations/issues.py
  src/sentry/integrations/vsts/client.py
  src/sentry/integrations/vsts/issues.py
  src/sentry/tasks/integrations.py
  tests/sentry/api/endpoints/test_project_group_index.py
  tests/sentry/integrations/vsts/test_issues.py
  tests/sentry/test_event_manager.py
Labels: Component: Integrations

#8945 fix(integrations): Account Selection Bug
  src/sentry/integrations/vsts/integration.py
Labels: Component: Integrations

#8801 feat(integrations): Bitbucket Issue Link/Create
  src/sentry/integrations/bitbucket/client.py
  src/sentry/integrations/bitbucket/integration.py
  src/sentry/integrations/bitbucket/issues.py
  tests/sentry/integrations/bitbucket/test_issues.py
Labels: Component: Integrations

#9040 feat(integration): Added docstring to repos
  src/sentry/integrations/repositories.py
Labels: Component: Integrations

#8880 feat(integrations): VSTS Assignee sync inbound
  src/sentry/integrations/vsts/client.py
  src/sentry/integrations/vsts/integration.py
  src/sentry/integrations/vsts/urls.py
  src/sentry/integrations/vsts/webhooks.py
  src/sentry/tasks/integrations.py
  tests/sentry/integrations/vsts/test_integration.py
  tests/sentry/integrations/vsts/test_webhooks.py
  tests/sentry/integrations/vsts/testutils.py
Labels: Component: Integrations

#9060 fix(dashboard): Fix "Member Invite" route
  src/sentry/static/sentry/app/views/organizationDashboard/projectNav.jsx
Labels: Type: Bug

#9076 ref(integrations): Change scopes
  src/sentry/identity/vsts/provider.py
Labels: Component: Integrations

#9074 ref(integrations): IntegrationRepositoryProvider
  src/sentry/integrations/bitbucket/repository.py
  src/sentry/integrations/github/repository.py
  src/sentry/integrations/github_enterprise/repository.py
  src/sentry/integrations/vsts/repository.py
  src/sentry/models/repository.py
  src/sentry/plugins/providers/integration_repository.py
  src/sentry/tasks/commits.py
  tests/sentry/integrations/vsts/test_repository.py
Labels: Component: Integrations

#9078 fix(integrations): Ensure that only one subscription is created per VSTS integration
  src/sentry/integrations/vsts/integration.py
  src/sentry/integrations/vsts/webhooks.py
  tests/sentry/integrations/vsts/test_integration.py
  tests/sentry/integrations/vsts/test_webhooks.py
Labels: Component: Integrations

#9110 fix(ui): Fix SelectAsyncField
  src/sentry/static/sentry/app/components/forms/selectAsyncField.jsx
  tests/js/spec/components/customResolutionModal.spec.jsx
  tests/js/spec/components/forms/selectAsyncField.spec.jsx
Labels: Type: Bug

#9041 feat(integrations): Vsts Repository Setup Flow
  src/sentry/api/endpoints/organization_config_repositories.py
  src/sentry/integrations/repositories.py
  src/sentry/integrations/vsts/client.py
  src/sentry/integrations/vsts/integration.py
  src/sentry/integrations/vsts/repository.py
  src/sentry/static/sentry/app/views/organizationIntegrations/integrationRepos.jsx
  tests/sentry/integrations/vsts/test_repository.py
Labels: Component: Integrations

#9100 feat(integrations): Added Description for VSTS
  src/sentry/integrations/vsts/integration.py
Labels: Component: Integrations

#9156 fix(ui): Fix SelectField to support "multiple" property directly...
  docs-ui/components/multipleCheckbox.stories.js
  docs-ui/components/selectFields.stories.js
  src/sentry/static/sentry/app/components/forms/multiSelectField.jsx
  src/sentry/static/sentry/app/components/forms/selectAsyncField.jsx
  src/sentry/static/sentry/app/components/forms/selectCreatableField.jsx
  src/sentry/static/sentry/app/components/forms/selectField.jsx
  tests/js/helpers/select.js
  tests/js/spec/components/forms/__snapshots__/genericField.spec.jsx.snap
  tests/js/spec/components/forms/__snapshots__/multiSelectField.spec.jsx.snap
  tests/js/spec/components/forms/__snapshots__/selectField.spec.jsx.snap
  tests/js/spec/components/forms/multiSelectField.spec.jsx
  tests/js/spec/components/forms/selectField.spec.jsx
  tests/js/spec/views/__snapshots__/ownershipInput.spec.jsx.snap
  tests/js/spec/views/__snapshots__/projectAlertRuleDetails.spec.jsx.snap
  tests/js/spec/views/__snapshots__/ruleBuilder.spec.jsx.snap
  tests/js/spec/views/projectAlertRuleDetails.spec.jsx
Labels: Type: Bug

#8789 feat(canonical): Add a shim for canonical keys
  src/sentry/api/serializers/models/event.py
  src/sentry/conf/server.py
  src/sentry/coreapi.py
  src/sentry/db/models/fields/node.py
  src/sentry/event_manager.py
  src/sentry/eventstream/kafka.py
  src/sentry/eventstream/snuba.py
  src/sentry/interfaces/base.py
  src/sentry/models/event.py
  src/sentry/models/rawevent.py
  src/sentry/tasks/store.py
  src/sentry/testutils/fixtures.py
  src/sentry/utils/canonical.py
  src/sentry/utils/safe.py
  src/sentry/utils/samples.py
  tests/integration/tests.py
  tests/sentry/models/test_event.py
  tests/sentry/test_canonical.py
  tests/sentry/test_event_manager.py
  tests/sentry/utils/test_safe.py
Labels: Impact: Large

#9169 fix(integrations): Capture 401 in VSTS Webhook
  src/sentry/integrations/vsts/webhooks.py
Labels: Component: Integrations

#9032 feat(integrations): Bitbucket Repository Setup Flow
  src/sentry/integrations/bitbucket/integration.py
  src/sentry/integrations/bitbucket/repository.py
  tests/sentry/integrations/bitbucket/test_repository.py
  tests/sentry/integrations/bitbucket/testutils.py
Labels: Component: Integrations

#9168 fix(plugins): Fix old plugins that use `select2`
  src/sentry/static/sentry/less/select2.less
  src/sentry/templates/sentry/plugins/bases/issue/create_issue.html
  webpack.config.js
Labels: Type: Bug

#9176 feat(integrations): Added update_organization_config to VSTS
  src/sentry/integrations/vsts/integration.py
  tests/sentry/integrations/vsts/test_integration.py
Labels: Component: Integrations

#9170 feat(integrations): Handle VSTS Permissions error
  src/sentry/integrations/pipeline.py
  src/sentry/integrations/vsts/integration.py
Labels: Component: Integrations

#8969 feat(integrations): VSTS Status Sync Inbound
  src/sentry/integrations/vsts/client.py
  src/sentry/integrations/vsts/integration.py
  src/sentry/integrations/vsts/issues.py
  src/sentry/integrations/vsts/webhooks.py
  tests/sentry/integrations/vsts/test_webhooks.py
  tests/sentry/integrations/vsts/testutils.py
Labels: Component: Integrations

#9237 feat: Allow coupling superuser to an organizations SSO config
  src/sentry/auth/superuser.py
  tests/sentry/auth/test_superuser.py
Labels: Component: Auth, Security

#9239 feat: Show register values in event details
  requirements-base.txt
  src/sentry/lang/native/utils.py
  src/sentry/static/sentry/app/components/events/interfaces/frame.jsx
  src/sentry/static/sentry/app/components/events/interfaces/frameRegisters.jsx
  src/sentry/static/sentry/app/components/events/interfaces/stacktraceContent.jsx
  src/sentry/static/sentry/less/group-detail.less
  tests/js/spec/components/events/interfaces/__snapshots__/frame.spec.jsx.snap
  tests/js/spec/components/events/interfaces/__snapshots__/frameRegisters.spec.jsx.snap
  tests/js/spec/components/events/interfaces/frame.spec.jsx
  tests/js/spec/components/events/interfaces/frameRegisters.spec.jsx
  tests/sentry/lang/native/test_utils.py
Labels: Component: Event Pipeline, Component: Issues
