Repository getsentry/sentry, pull requests merged in 2019-04, with the labels that each got.

#12567 feat(search): Add analytics to organization-wide saved searches.
  src/sentry/api/__init__.py
  src/sentry/api/analytics.py
  src/sentry/api/endpoints/organization_search_details.py
  src/sentry/api/endpoints/organization_searches.py
Labels: Component: Analytics, Component: Search

#12535 ref(releases): Refactored Releases Serializers
  src/sentry/api/endpoints/organization_release_details.py
  src/sentry/api/endpoints/organization_releases.py
  src/sentry/api/endpoints/project_release_details.py
  src/sentry/api/endpoints/project_releases.py
  src/sentry/api/serializers/rest_framework/commit.py
  src/sentry/api/serializers/rest_framework/release.py
  src/sentry/api/serializers/rest_framework/release_head_commit.py
  src/sentry/models/release.py
  tests/sentry/api/endpoints/test_organization_release_details.py
  tests/sentry/api/endpoints/test_organization_releases.py
  tests/sentry/api/endpoints/test_project_releases.py
Labels: Component: Releases

#12735 ref(native): Separate in_app logic from native plugin
  src/sentry/grouping/enhancement-configs/common:2019-03-23.txt
  src/sentry/grouping/enhancement-configs/legacy:2019-03-12.txt
  src/sentry/lang/native/plugin.py
  src/sentry/lang/native/symbolizer.py
  src/sentry/lang/native/utils.py
  src/sentry/stacktraces.py
  src/sentry/utils/in_app.py
  tests/sentry/lang/native/test_processor.py
  tests/sentry/test_stacktraces.py
  tests/symbolicator/snapshots/SymbolicResolvingIntegrationTest/test_debug_id_resolving.pysnap
  tests/symbolicator/snapshots/SymbolicResolvingIntegrationTest/test_missing_dsym.pysnap
  tests/symbolicator/snapshots/SymbolicResolvingIntegrationTest/test_real_resolving.pysnap
  tests/symbolicator/snapshots/SymbolicatorResolvingIntegrationTest/test_missing_dsym.pysnap
  tests/symbolicator/snapshots/SymbolicatorResolvingIntegrationTest/test_real_resolving.pysnap
  tests/symbolicator/snapshots/SymbolicatorResolvingIntegrationTest/test_real_resolving_with_multiple_requests.pysnap
  tests/symbolicator/test_native_plugin.py
Labels: Component: Event Pipeline

#12573 ref(search): Move `first_seen` to Django search.
  src/sentry/search/snuba/backend.py
  tests/snuba/search/test_backend.py
Labels: Component: Search

#12804 fix(events-link): Add missing question mark before querystring
  src/sentry/static/sentry/app/views/groupDetails/shared/header.jsx
Labels: Type: Bug

#12877 fix(analytics): Updated saved search analytics
  src/sentry/api/analytics.py
  src/sentry/api/endpoints/organization_search_details.py
  src/sentry/api/endpoints/organization_searches.py
Labels: Component: Analytics

#12960 ref(search): Changed regex for raw search.
  src/sentry/api/event_search.py
  tests/sentry/api/test_event_search.py
Labels: Component: Search
