Repository getsentry/sentry, pull requests merged in 2019-05, with the labels that each got.

#12935 feat(search): Added boolean terms to Search Grammar
  src/sentry/api/bases/organization_events.py
  src/sentry/api/endpoints/group_events.py
  src/sentry/api/event_search.py
  src/sentry/api/issue_search.py
  src/sentry/conf/server.py
  src/sentry/features/__init__.py
  tests/sentry/api/test_event_search.py
  tests/sentry/api/test_issue_search.py
  tests/snuba/api/endpoints/test_group_events.py
  tests/snuba/api/endpoints/test_organization_events.py
  tests/snuba/api/endpoints/test_organization_group_index.py
Labels: Component: Search

#13156 feat(incidents): Add IncidentSeen model
  src/sentry/incidents/models.py
  src/sentry/south_migrations/0478_auto__add_incidentseen__add_unique_incidentseen_user_incident.py
Labels: Impact: Migration

#13306 fix(ui): Sentry completely breaks if there is an unencoded `%` in URL
  src/sentry/static/sentry/app/index.js
  src/sentry/static/sentry/app/stores/configStore.jsx
Labels: Type: Bug

#13289 feat(events): Allow Event Graph to show either User count or Event count
  src/sentry/api/endpoints/organization_events.py
  tests/snuba/api/endpoints/test_organization_events.py
Labels: Component: API

#13320 ref(event-search): Fixed unhandled parse error.
  src/sentry/api/event_search.py
  tests/sentry/api/test_event_search.py
  tests/snuba/api/endpoints/test_organization_events.py
Labels: Component: Search

#13350 feat(event-search): event-tags/heatmap api
  src/sentry/api/endpoints/organization_events.py
  src/sentry/api/urls.py
  src/sentry/tagstore/base.py
  src/sentry/tagstore/snuba/backend.py
  tests/snuba/api/endpoints/test_organization_events.py
Labels: Component: API

#13457 feat(search): Added error handling to issue search.
  src/sentry/api/event_search.py
  src/sentry/api/issue_search.py
  tests/sentry/api/test_event_search.py
  tests/snuba/api/endpoints/test_organization_events.py
  tests/snuba/api/endpoints/test_organization_events_v2.py
Labels: Component: Search
