Repository getsentry/sentry, pull requests merged in 2019-03, with the labels that each got.

#12230 Fix(bin/load-mocks): GitHub integration IntegrityError issue
  bin/load-mocks
Labels: Component: Integrations

#12277 fix(activity-feed): Fix re-fetching activity feed when props change
  src/sentry/static/sentry/app/components/activity/feed.jsx
Labels: Type: Bug

#12294 fix(assign): Fix assigning issue to a user
  src/sentry/static/sentry/app/views/groupDetails/shared/header.jsx
Labels: Type: Bug

#12286 ref(integrations): GitHub Refresh token if compare_commits hits a 404
  src/sentry/integrations/github/client.py
  src/sentry/integrations/github/repository.py
  tests/sentry/integrations/github/test_repository.py
Labels: Component: Integrations

#12334 ref(integrations): Migration for backfilling Integration status.
  src/sentry/south_migrations/0467_backfill_integration_status.py
Labels: Component: Integrations

#12320 ref(integrations): Adding Logging to GitLab Installation Process.
  src/sentry/identity/gitlab/provider.py
  src/sentry/identity/oauth2.py
  src/sentry/integrations/gitlab/integration.py
  src/sentry/integrations/pipeline.py
  src/sentry/pipeline/__init__.py
Labels: Component: Integrations, WIP

#12448 ref(debugfile): Add code identifiers
  src/sentry/api/endpoints/debug_files.py
  src/sentry/api/serializers/models/debug_file.py
  src/sentry/models/debugfile.py
  src/sentry/south_migrations/0468_auto__add_field_projectdebugfile_code_id__add_index_projectdebugfile_p.py
  src/sentry/tasks/assemble.py
  src/sentry/testutils/factories.py
  tests/sentry/api/endpoints/test_dif_assemble.py
  tests/sentry/api/serializers/test_debugfile.py
  tests/sentry/deletions/test_project.py
  tests/sentry/lang/native/test_plugin.py
  tests/sentry/models/test_debugfile.py
Labels: Impact: Migration

#12530 fix(seach): Ensure an `aggregated_def` is not a user-created tag
  src/sentry/search/snuba/backend.py
  tests/snuba/search/test_backend.py
Labels: Component: Search

#12549 ref(releases): Added tests to all release serializers.
  tests/sentry/api/endpoints/test_organization_release_details.py
  tests/sentry/api/endpoints/test_organization_releases.py
  tests/sentry/api/endpoints/test_project_release_details.py
  tests/sentry/api/endpoints/test_project_releases.py
Labels: Component: Releases
