Repository getsentry/sentry, pull requests merged in 2019-01, with the labels that each got.

#11113 fix(release): Changed release version so scenarios would be different.
  src/sentry/api/endpoints/organization_releases.py
Labels: Component: Releases

#11116 feat(Releases): OrganizationReleases accept commit ranges.
  src/sentry/models/release.py
  src/sentry/testutils/cases.py
  tests/sentry/api/endpoints/test_organization_releases.py
  tests/sentry/models/test_release.py
Labels: Component: Releases

#11342 feat(releases): Add commit range to api docs
  src/sentry/api/endpoints/organization_releases.py
Labels: Component: Releases

#10997 feat(Releases): Improve test coverage to suspect commits.
  tests/sentry/utils/test_committers.py
Labels: Component: Releases

#11376 fix(ui): Fix Global Selection Header invalid dates
  src/sentry/static/sentry/app/components/organizations/globalSelectionHeader/globalSelectionHeader.jsx
  tests/js/spec/views/userFeedback/__snapshots__/organizationUserFeedback.spec.jsx.snap
Labels: Type: Bug

#11383 feat(integrations): Jira Configure form no longer shows permissions warning unnecessarily.
  src/sentry/templates/sentry/integrations/jira-config.html
  tests/sentry/integrations/jira/test_configure.py
Labels: Component: Integrations

#11406 feat(db): Add first_seen column to GroupEnvironment
  src/sentry/models/groupenvironment.py
  src/sentry/south_migrations/0455_auto__add_field_groupenvironment_first_seen.py
Labels: Impact: Migration

#11490 fix(issues): Fix group event details refetching
  src/sentry/static/sentry/app/views/groupDetails/shared/groupEventDetails.jsx
Labels: Type: Bug

#11505 fix(settings): Change Weekly Reports UI to default to "On" (ISSUE-274)
  src/sentry/static/sentry/app/data/forms/accountNotificationSettings.jsx
  src/sentry/static/sentry/app/views/settings/account/accountNotificationFineTuning.jsx
  src/sentry/static/sentry/app/views/settings/components/forms/formField/index.jsx
Labels: Type: Bug

#11552 fix(user-reports): Remove broken pagination code
  src/sentry/static/sentry/app/views/groupDetails/shared/groupUserFeedback.jsx
Labels: Type: Bug

#11398 feat(dashboards): Dashboard Details Endpoint (get, delete).
  src/sentry/api/bases/__init__.py
  src/sentry/api/bases/dashboard.py
  src/sentry/api/endpoints/organization_dashboard_details.py
  src/sentry/api/serializers/models/dashboard.py
  src/sentry/api/urls.py
  src/sentry/models/widget.py
  tests/sentry/api/endpoints/test_organization_dashboard_details.py
Labels: Component: API

#11608 fix(stream): Fix issue activity url [ISSUE-278]
  src/sentry/static/sentry/app/components/eventOrGroupExtraDetails.jsx
  src/sentry/static/sentry/app/components/stream/group.jsx
  src/sentry/static/sentry/app/views/groupDetails/shared/groupSimilar/similarItem.jsx
  src/sentry/static/sentry/app/views/projectDashboard/eventNode.jsx
  tests/js/spec/components/__snapshots__/streamGroup.spec.jsx.snap
  tests/js/spec/views/groupDetails/__snapshots__/groupSimilar.spec.jsx.snap
Labels: Type: Bug

#11621 fix(routes): Fix organization issue route order
  src/sentry/static/sentry/app/routes.jsx
Labels: Type: Bug

#11599 fix(integrations): Bitbucket no description issue.
  src/sentry/integrations/bitbucket/issues.py
  tests/sentry/integrations/bitbucket/test_issues.py
Labels: Component: Integrations

#11444 feat(rest_framework): Add JSONField from Django Rest Framework.
  src/sentry/api/serializers/rest_framework/json.py
  tests/sentry/api/serializers/rest_framework/test_json.py
Labels: Component: API

#11397 feat(dashboards): Dashboards api endpoint.
  src/sentry/api/endpoints/organization_dashboards.py
  src/sentry/api/serializers/models/organization_dashboard.py
  src/sentry/api/urls.py
  tests/sentry/api/endpoints/test_organization_dashboards.py
Labels: Component: API

#11660 fix(releases): Fix release list page crashing
  src/sentry/static/sentry/app/views/releases/list/shared/releaseLanding.jsx
Labels: Type: Bug

#11667 fix(ui): Fix issue links (again)
  src/sentry/static/sentry/app/components/compactIssue.jsx
  tests/js/spec/views/userFeedback/__snapshots__/organizationUserFeedback.spec.jsx.snap
Labels: Type: Bug

#11725 ref(service-hooks): add organization_id
  src/sentry/api/endpoints/project_servicehooks.py
  src/sentry/mediators/service_hooks/creator.py
  src/sentry/models/servicehook.py
  src/sentry/south_migrations/0460_auto__add_field_servicehook_organization_id.py
  tests/sentry/tasks/post_process/tests.py
Labels: Impact: Migration

#11828 fix(environments): Fix value displayed in environment selector
  src/sentry/static/sentry/app/components/organizations/multipleEnvironmentSelector.jsx
Labels: Type: Bug
