Repository getsentry/sentry, pull requests merged in 2019-06, with the labels that each got.

#13459 feat(event-search): Organization Event Json endpoint
  src/sentry/api/endpoints/project_event_details.py
  src/sentry/api/urls.py
  tests/snuba/api/endpoints/test_project_event_details.py
Labels: Component: API

#13490 feat(event-search): Add projects in heatmaps.
  src/sentry/api/endpoints/organization_events.py
  tests/snuba/api/endpoints/test_organization_events.py
Labels: Component: API

#13510 feat(event-search): Add aggregate comparisons to events v2 endpoint
  src/sentry/api/bases/organization_events.py
  src/sentry/api/event_search.py
  src/sentry/utils/snuba.py
  tests/snuba/api/endpoints/test_organization_events_v2.py
Labels: Component: API, Component: Search

#13659 ref(event-search): Changed total values in heatmaps to reflect the current query
  src/sentry/api/endpoints/organization_events.py
  src/sentry/static/sentry/app/views/organizationEventsV2/utils.jsx
  src/sentry/tagstore/snuba/utils.py
  src/sentry/utils/snuba.py
  tests/snuba/api/endpoints/test_organization_events.py
Labels: Component: API

#13700 featu(search) Use snuba to fetch events by default
  src/sentry/api/endpoints/project_event_details.py
  src/sentry/options/defaults.py
  tests/acceptance/test_issue_details.py
  tests/integration/test_api.py
  tests/sentry/api/endpoints/test_event_attachment_details.py
  tests/sentry/api/endpoints/test_event_attachments.py
  tests/sentry/api/endpoints/test_event_committers.py
  tests/sentry/api/endpoints/test_group_events.py
  tests/sentry/api/endpoints/test_group_events_latest.py
  tests/sentry/api/endpoints/test_group_events_oldest.py
  tests/sentry/api/endpoints/test_project_event_details.py
  tests/sentry/api/endpoints/test_project_events.py
  tests/sentry/incidents/test_logic.py
  tests/sentry/tasks/test_sentry_apps.py
  tests/sentry/web/frontend/test_group_event_json.py
  tests/sentry/web/frontend/test_project_event.py
Labels: Component: Search

#13731 fix(event-search): Ignore special aggregations when the aggregations are not avaliable.
  src/sentry/api/bases/organization_events.py
  tests/snuba/api/endpoints/test_organization_events.py
Labels: Component: API
