Repository getsentry/sentry, pull requests merged in 2021-09, with the labels that each got.

#28213 feat(dev_env): Dev env bootstrap support for two Python versions
  .envrc
  .github/actions/setup-python/action.yml
  .github/workflows/development-environment.yml
  .github/workflows/python-deps.yml
  .python-version
  requirements-base.txt
  scripts/bootstrap-py3-venv
  scripts/do.sh
  scripts/ensure-venv.sh
  scripts/lib.sh
  scripts/pyenv_setup.sh
Labels: Component: Developer Environment

#28347 feat(notifications): Add `actor_id` to Analytics Events
  src/sentry/analytics/events/notifications_sent.py
  src/sentry/analytics/events/notifications_settings_updated.py
  src/sentry/integrations/slack/analytics.py
  src/sentry/integrations/slack/notifications.py
  src/sentry/notifications/manager.py
Labels: Component: Notifications, Team: Ecosystem

#28236 types(python): Slack Integration Types
  mypy.ini
  src/sentry/integrations/base.py
  src/sentry/integrations/slack/__init__.py
  src/sentry/integrations/slack/analytics.py
  src/sentry/integrations/slack/client.py
  src/sentry/integrations/slack/integration.py
  src/sentry/integrations/slack/message_builder/issues.py
  src/sentry/integrations/slack/notifications.py
  src/sentry/integrations/slack/notify_action.py
  src/sentry/integrations/slack/requests/base.py
  src/sentry/integrations/slack/tasks.py
  src/sentry/integrations/slack/unfurl/__init__.py
  src/sentry/integrations/slack/unfurl/discover.py
  src/sentry/integrations/slack/unfurl/incidents.py
  src/sentry/integrations/slack/unfurl/issues.py
  src/sentry/integrations/slack/utils.py
  src/sentry/notifications/notify.py
  src/sentry/search/events/__init__.py
Labels: Status: In Progress, Component: Integrations, Team: Ecosystem

#28216 feat(notifications): Remove NotificationSettings when Slack is uninstalled
  src/sentry/api/urls.py
  src/sentry/integrations/slack/endpoints/base.py
  src/sentry/integrations/slack/integration.py
  src/sentry/models/user.py
  src/sentry/notifications/manager.py
  src/sentry/testutils/factories.py
  src/sentry/testutils/fixtures.py
  tests/sentry/api/endpoints/test_organization_integration_details.py
  tests/sentry/integrations/slack/test_uninstall.py
Labels: Component: Notifications, Team: Ecosystem

#27728 feat(notifications): Confirmation Modal
  static/app/components/confirm.tsx
  static/app/views/settings/account/notifications/constants.tsx
  static/app/views/settings/account/notifications/fields2.tsx
  static/app/views/settings/account/notifications/notificationSettings.tsx
  static/app/views/settings/account/notifications/notificationSettingsByType.tsx
  static/app/views/settings/account/notifications/utils.tsx
  static/app/views/settings/components/forms/selectField.tsx
  static/app/views/settings/components/forms/type.tsx
Labels: Status: In Progress, Component: Notifications, Team: Ecosystem

#28416 chore(integrations): Add organization slug to internal sentry app metrics
  src/sentry/mediators/external_requests/util.py
  src/sentry/models/sentryapp.py
  src/sentry/tasks/sentry_apps.py
Labels: Component: Integrations, Team: Ecosystem

#28386 feat(notifications): Collapsible Panel
  static/app/components/events/groupingInfo/groupingComponent.tsx
  static/app/components/events/groupingInfo/groupingComponentFrames.tsx
  static/app/components/events/interfaces/frame/line.tsx
  static/app/components/events/interfaces/frame/lineV2/native.tsx
  static/app/components/events/interfaces/stacktraceContent.tsx
  static/app/components/events/interfaces/stacktraceContentV2.tsx
  static/app/components/repositoryFileSummary.tsx
  static/app/views/settings/account/notifications/notificationSettingsByProjects.tsx
  static/app/views/settings/components/forms/formPanel.tsx
  static/app/views/settings/components/forms/jsonForm.tsx
Labels: Component: Notifications, Team: Ecosystem

#28328 DO NOT MERGE feat(notification platform): Remove feature flag
  src/sentry/api/endpoints/team_notification_settings_details.py
  src/sentry/api/endpoints/user_notification_settings_details.py
  src/sentry/conf/server.py
  src/sentry/features/__init__.py
  src/sentry/integrations/slack/endpoints/base.py
  src/sentry/integrations/slack/integration.py
  src/sentry/integrations/slack/message_builder/event.py
  static/app/routes.tsx
  static/app/views/settings/account/accountNotificationFineTuning.tsx
  static/app/views/settings/account/accountNotifications.tsx
  static/app/views/settings/account/notifications/notificationSettings.tsx
  static/app/views/settings/organizationTeams/teamDetails.tsx
  tests/acceptance/test_account_settings.py
  tests/acceptance/test_dashboard.py
  tests/acceptance/test_link_team.py
  tests/js/spec/views/accountNotifications.spec.jsx
  tests/js/spec/views/settings/account/notifications/notificationSettingsByType.spec.tsx
  tests/sentry/api/endpoints/test_integrations_slack_commands.py
  tests/sentry/api/endpoints/test_team_notification_settings.py
  tests/sentry/api/endpoints/test_user_notification_settings.py
  tests/sentry/integrations/slack/test_event_endpoint.py
  tests/sentry/integrations/slack/test_integration.py
  tests/sentry/notifications/test_notifications.py
Labels: Do Not Merge

#28352 fix(ci): Remove automation to initialize Docker on Mac
  .github/workflows/development-environment.yml
  .github/workflows/files/com.docker.vmnetd.plist
  .github/workflows/python-deps.yml
  scripts/lib.sh
Labels: Component: CI

#28445 Revert "chore(integrations): Add organization slug to internal sentry app metrics"
  src/sentry/mediators/external_requests/util.py
  src/sentry/models/sentryapp.py
  src/sentry/tasks/sentry_apps.py
Labels: Component: Integrations, Team: Ecosystem

#28433 feat(notifications): Re-install Slack CTA
  src/sentry/api/serializers/models/integration.py
  static/app/types/index.tsx
  static/app/utils/integrationUtil.tsx
  static/app/views/onboarding/sdkConfiguration.tsx
  static/app/views/organizationIntegrations/installedIntegration.tsx
  static/app/views/organizationIntegrations/integrationListDirectory.tsx
  static/app/views/projectInstall/platformOrIntegration.tsx
  tests/acceptance/test_organization_integration_detail_view.py
  tests/sentry/api/endpoints/test_group_integration_details.py
  tests/sentry/api/endpoints/test_group_integrations.py
  tests/sentry/api/endpoints/test_project_stacktrace_link.py
Labels: Component: Notifications, Team: Ecosystem

#28387 ref(api): Adding a tag to track backend api hits
  src/sentry/api/base.py
Labels: Component: API, Team: Ecosystem

#24893 ref(integrations): Remove unused task `sentry.tasks.signals`
  src/sentry/api/serializers/models/userreport.py
  src/sentry/conf/server.py
  src/sentry/mail/adapter.py
  src/sentry/models/userreport.py
  src/sentry/plugins/base/v1.py
  src/sentry/plugins/base/v2.py
  src/sentry/tasks/signals.py
  src/sentry/tasks/user_report.py
  tests/sentry/mail/test_adapter.py
  tests/sentry/tasks/test_signals.py
  tests/sentry/tasks/test_user_report.py
Labels: Status: In Progress, Team: Ecosystem

#28456 chore(integrations): Add debugging logs for specific sentry apps
  src/sentry/conf/server.py
  src/sentry/features/__init__.py
  src/sentry/tasks/sentry_apps.py
Labels: Component: Integrations, Team: Ecosystem

#28500 fix(ci): Python deps requires libxmlsec1 to be installed
  .github/workflows/python-deps.yml
Labels: Component: Developer Environment

#28465 ref(issue-link): Move UISchema-to-Form logic to separate component
  static/app/components/group/sentryAppExternalIssueForm.tsx
  static/app/views/organizationIntegrations/sentryAppExternalForm.tsx
Labels: Component: Integrations, Team: Ecosystem

#28536 feat(alert-rules): Add a JSON column for sentry app config
  migrations_lockfile.txt
  src/sentry/incidents/models.py
  src/sentry/migrations/0230_sentry_app_config_jsonfield.py
Labels: Impact: Migration, Team: Ecosystem

#28481 types(python): Azure DevOps Integration
  mypy.ini
  src/sentry/integrations/vsts/__init__.py
  src/sentry/integrations/vsts/client.py
  src/sentry/integrations/vsts/integration.py
  src/sentry/integrations/vsts/issues.py
  src/sentry/integrations/vsts/notify_action.py
  src/sentry/integrations/vsts/repository.py
  src/sentry/integrations/vsts/search.py
  src/sentry/integrations/vsts/webhooks.py
Labels: Component: Integrations, Team: Ecosystem

#28574 feat(dev): Upgrade kafka and zookeeper to support Apple M1
  .github/actions/setup-sentry/action.yml
  src/sentry/conf/server.py
Labels: Component: Developer Environment

#28470 fix(notifications): Update alert copy
  static/app/utils/integrationUtil.tsx
  static/app/views/organizationIntegrations/addIntegration.tsx
  static/app/views/organizationIntegrations/installedIntegration.tsx
  static/app/views/organizationIntegrations/integrationDetailedView.tsx
  static/app/views/organizationIntegrations/integrationListDirectory.tsx
  static/app/views/organizationIntegrations/integrationRow.tsx
  static/app/views/organizationIntegrations/pluginDetailedView.tsx
  static/app/views/organizationIntegrations/sentryAppDetailedView.tsx
Labels: Component: Integrations, Team: Ecosystem

#28601 fix(feature-flag): Lookup `notification-slack-automatic` less often
  src/sentry/api/serializers/models/project.py
  src/sentry/models/groupsubscription.py
  src/sentry/notifications/helpers.py
  src/sentry/notifications/manager.py
  src/sentry/notifications/utils/participants.py
  tests/sentry/api/endpoints/test_organization_details.py
  tests/sentry/notifications/test_utils.py
  tests/sentry/notifications/utils/test_get_groups_for_query.py
Labels: Component: Notifications, Team: Ecosystem

#28639 feat(alert-rule): Created an alert rule mediator
  src/sentry/mediators/external_requests/__init__.py
  src/sentry/mediators/external_requests/alert_rule_action_requester.py
  src/sentry/utils/sentryappwebhookrequests.py
  tests/sentry/mediators/external_requests/test_alert_rule_action_requester.py
Labels: Team: Ecosystem, Feature: Alert Rule

#28578 chore(integrations): More diagnostic logging for inconsistent sentry apps
  src/sentry/tasks/sentry_apps.py
Labels: Component: Integrations, Team: Ecosystem

#28689 fix(slack): Catch bad or expired tokens
  src/sentry/integrations/msteams/link_identity.py
  src/sentry/integrations/msteams/unlink_identity.py
  src/sentry/integrations/slack/utils.py
  src/sentry/integrations/slack/views/link_identity.py
  src/sentry/integrations/slack/views/link_team.py
  src/sentry/integrations/slack/views/unlink_identity.py
  src/sentry/integrations/slack/views/unlink_team.py
  src/sentry/templates/sentry/integrations/msteams/expired-link.html
  src/sentry/templates/sentry/integrations/msteams/linked.html
  src/sentry/templates/sentry/integrations/msteams/no-identity.html
  src/sentry/templates/sentry/integrations/msteams/unlink-identity.html
  src/sentry/templates/sentry/integrations/msteams/unlinked.html
  src/sentry/templates/sentry/integrations/slack/expired-link.html
  src/sentry/templates/sentry/integrations/slack/link-team-error.html
  src/sentry/templates/sentry/integrations/slack/link-team.html
  src/sentry/templates/sentry/integrations/slack/linked.html
  src/sentry/templates/sentry/integrations/slack/post-linked-team.html
  src/sentry/templates/sentry/integrations/slack/reauth-details.html
  src/sentry/templates/sentry/integrations/slack/reauth-introduction.html
  src/sentry/templates/sentry/integrations/slack/unlink-team.html
  src/sentry/templates/sentry/integrations/slack/unlinked-team.html
  src/sentry/templates/sentry/integrations/slack/unlinked.html
  tests/sentry/api/endpoints/test_integrations_slack_commands.py
  tests/sentry/integrations/msteams/test_unlink_identity.py
Labels: Type: Bug, Team: Ecosystem

#28664 fix(jira): More explicitly excise `itemKey` in `removeRow`
  static/app/views/settings/components/forms/choiceMapperField.tsx
Labels: Type: Bug, Team: Ecosystem

#28695 fix(notifications): Do not truncate version string
  src/sentry/__init__.py
  src/sentry/models/release.py
  src/sentry/notifications/notifications/activity/release.py
  tests/sentry/integrations/slack/test_notifications.py
  tests/sentry/models/test_release.py
  tests/sentry/notifications/test_notifications.py
Labels: Type: Bug, Component: Notifications, Team: Ecosystem

#28724 fix(dev): Use full path for Kafka container
  src/sentry/conf/server.py
Labels: Component: Developer Environment

#28624 ref(notifications): Clean up Team Notifications for Issue Owners
  src/sentry/api/serializers/models/notification_setting.py
  src/sentry/api/serializers/models/project.py
  src/sentry/incidents/action_handlers.py
  src/sentry/integrations/slack/message_builder/issues.py
  src/sentry/integrations/slack/message_builder/notifications.py
  src/sentry/integrations/slack/notifications.py
  src/sentry/integrations/slack/utils.py
  src/sentry/mail/notifications.py
  src/sentry/models/actor.py
  src/sentry/models/groupsubscription.py
  src/sentry/models/projectcodeowners.py
  src/sentry/models/projectownership.py
  src/sentry/notifications/helpers.py
  src/sentry/notifications/manager.py
  src/sentry/notifications/notifications/activity/base.py
  src/sentry/notifications/notifications/activity/release.py
  src/sentry/notifications/notifications/base.py
  src/sentry/notifications/notifications/digest.py
  src/sentry/notifications/notifications/rules.py
  src/sentry/notifications/notifications/user_report.py
  src/sentry/notifications/notify.py
  src/sentry/notifications/utils/participants.py
  src/sentry/ownership/grammar.py
  src/sentry/plugins/bases/notify.py
  src/sentry/templatetags/sentry_api.py
  tests/sentry/mail/__init__.py
  tests/sentry/mail/activity/test_release.py
  tests/sentry/mail/test_adapter.py
  tests/sentry/models/test_project.py
  tests/sentry/notifications/utils/test_get_most_specific.py
  tests/sentry/notifications/utils/test_participants.py
  tests/sentry/notifications/utils/test_should_be_notified.py
  tests/sentry/notifications/utils/test_transforms.py
Labels: Component: Notifications, Team: Ecosystem

#28548 feat(alert-rules): Add rule settings modal to alert-rule-actions
  src/sentry/api/endpoints/project_rules_configuration.py
  src/sentry/api/serializers/models/sentry_app_component.py
  static/app/components/group/sentryAppExternalIssueForm.tsx
  static/app/types/alerts.tsx
  static/app/views/alerts/issueRuleEditor/ruleNode.tsx
  static/app/views/alerts/issueRuleEditor/sentryAppRuleModal.tsx
  static/app/views/organizationIntegrations/sentryAppExternalForm.tsx
  static/app/views/settings/components/forms/selectField.tsx
  tests/js/spec/views/alerts/issueRuleEditor/sentryAppRuleModal.spec.jsx
  tests/sentry/api/endpoints/test_project_rules_configuration.py
Labels: Component: Integrations, Team: Ecosystem

#28780 fix(codeowners): String split
  src/sentry/ownership/grammar.py
Labels: Type: Bug, Team: Ecosystem

#28772 fix(notifications): Include experiment fallback in the serializer
  src/sentry/api/serializers/models/notification_setting.py
  tests/sentry/notifications/test_utils.py
  tests/sentry/notifications/utils/test_get_fallback_settings.py
Labels: Type: Bug, Component: Notifications, Team: Ecosystem

#28607 feat(dev): Install postgresql on Apple M1 to build psycopg2-binary
  .github/workflows/development-environment.yml
  .github/workflows/python-deps.yml
  Makefile
  requirements-base.txt
  scripts/lib.sh
Labels: Component: Developer Environment

#28545 fix(webhook): Weird JSON array
  src/sentry/integrations/slack/endpoints/event.py
Labels: Type: Bug, Team: Ecosystem

#28769 feat(dev): Upgrade cryptography on Apple's M1 machines
  requirements-base.txt
Labels: Component: Developer Environment

#28828 fix(alert-rules): Force the RuleNode select values to be strings
  static/app/views/alerts/issueRuleEditor/ruleNode.tsx
Labels: Type: Bug, Team: Ecosystem

#28844 ref(api-logging): Added several more metrics
  src/sentry/api/base.py
Labels: Component: API, Team: Ecosystem

#28881 ref(api-logging): Added user agent to api logging
  src/sentry/api/base.py
Labels: Component: API, Team: Ecosystem

#28901 feat(ci): Python deps to install specific packages
  .github/workflows/python-deps.yml
Labels: Component: CI

#28885 ref(integrations): Move functions to Model Managers
  src/sentry/api/bases/project.py
  src/sentry/api/endpoints/group_activities.py
  src/sentry/api/endpoints/group_details.py
  src/sentry/api/endpoints/group_notes.py
  src/sentry/api/endpoints/organization_details.py
  src/sentry/api/endpoints/shared_group_details.py
  src/sentry/api/endpoints/user_emails.py
  src/sentry/api/endpoints/user_subscriptions.py
  src/sentry/api/helpers/group_index.py
  src/sentry/api/invite_helper.py
  src/sentry/api/serializers/models/useremail.py
  src/sentry/event_manager.py
  src/sentry/integrations/issues.py
  src/sentry/integrations/msteams/link_identity.py
  src/sentry/integrations/pipeline.py
  src/sentry/integrations/slack/views/link_identity.py
  src/sentry/models/activity.py
  src/sentry/models/group.py
  src/sentry/models/groupassignee.py
  src/sentry/models/identity.py
  src/sentry/models/organizationmember.py
  src/sentry/models/sentryapp.py
  src/sentry/models/useremail.py
  src/sentry/newsletter/dummy.py
  src/sentry/runner/commands/cleanup.py
  src/sentry/tasks/auth.py
  src/sentry/web/forms/__init__.py
  tests/sentry/api/serializers/test_release.py
  tests/sentry/models/test_group.py
  tests/sentry/models/test_organizationmember.py
  tests/sentry/receivers/test_releases.py
  tests/sentry/tasks/test_activity.py
Labels: Component: Integrations, Team: Ecosystem

#28916 fix(integrations): Integration ID TypeError
  src/sentry/integrations/pagerduty/notify_action.py
Labels: Component: Integrations, Team: Ecosystem

#28887 ref(integrations): f-strings
  src/sentry/api/serializers/models/group.py
  src/sentry/integrations/aws_lambda/client.py
  src/sentry/integrations/bitbucket/client.py
  src/sentry/integrations/bitbucket/integration.py
  src/sentry/integrations/bitbucket_server/integration.py
  src/sentry/integrations/example/integration.py
  src/sentry/integrations/github/client.py
  src/sentry/integrations/github/integration.py
  src/sentry/integrations/github/webhook.py
  src/sentry/integrations/github_enterprise/webhook.py
  src/sentry/integrations/gitlab/repository.py
  src/sentry/integrations/issues.py
  src/sentry/integrations/jira/base_hook.py
  src/sentry/integrations/jira/integration.py
  src/sentry/integrations/jira/utils.py
  src/sentry/integrations/jira_server/integration.py
  src/sentry/integrations/jira_server/webhooks.py
  src/sentry/integrations/msteams/card_builder.py
  src/sentry/integrations/msteams/webhook.py
  src/sentry/integrations/repositories.py
  src/sentry/integrations/slack/endpoints/action.py
  src/sentry/integrations/slack/endpoints/event.py
  src/sentry/integrations/slack/message_builder/issues.py
  src/sentry/integrations/slack/utils.py
  src/sentry/integrations/vercel/generic_webhook.py
  src/sentry/integrations/vercel/integration.py
  src/sentry/integrations/vsts/client.py
  src/sentry/integrations/vsts/issues.py
  src/sentry/integrations/vsts/repository.py
  src/social_auth/backends/asana.py
  tests/sentry/api/endpoints/test_sentry_apps.py
  tests/sentry/integrations/msteams/test_webhook.py
  tests/sentry/integrations/vsts/test_issues.py
  tests/snuba/api/endpoints/test_organization_group_index.py
  tests/snuba/api/endpoints/test_project_group_index.py
Labels: Component: Integrations, Team: Ecosystem

#28955 fix(integrations): User is None
  src/sentry/db/models/manager/base_query_set.py
  src/sentry/integrations/example/integration.py
  src/sentry/integrations/issues.py
  src/sentry/integrations/jira/integration.py
  src/sentry/integrations/vsts/issues.py
Labels: Type: Bug, Component: Integrations, Team: Ecosystem

#28846 ref(slack): Clean up tests
  src/sentry/integrations/slack/endpoints/action.py
  tests/sentry/integrations/slack/__init__.py
  tests/sentry/integrations/slack/endpoints/__init__.py
  tests/sentry/integrations/slack/endpoints/test_action.py
  tests/sentry/integrations/slack/endpoints/test_commands.py
  tests/sentry/integrations/slack/endpoints/test_event.py
  tests/sentry/integrations/slack/notifications/__init__.py
  tests/sentry/integrations/slack/notifications/test_assigned.py
  tests/sentry/integrations/slack/notifications/test_deploy.py
  tests/sentry/integrations/slack/notifications/test_issue_alert.py
  tests/sentry/integrations/slack/notifications/test_new_processing_issues.py
  tests/sentry/integrations/slack/notifications/test_note.py
  tests/sentry/integrations/slack/notifications/test_regression.py
  tests/sentry/integrations/slack/notifications/test_resolved.py
  tests/sentry/integrations/slack/notifications/test_resolved_in_release.py
  tests/sentry/integrations/slack/notifications/test_unassigned.py
  tests/sentry/integrations/slack/test_link_identity.py
  tests/sentry/integrations/slack/test_notify_action.py
  tests/sentry/integrations/slack/test_tasks.py
  tests/sentry/integrations/slack/test_unfurl.py
  tests/sentry/integrations/slack/test_unlink_identity.py
  tests/sentry/integrations/slack/test_utils.py
Labels: Component: Integrations, Team: Ecosystem

#28811 fix(slack): Unlink Identity
  src/sentry/integrations/msteams/link_identity.py
  src/sentry/integrations/slack/endpoints/action.py
  src/sentry/integrations/slack/endpoints/base.py
  src/sentry/integrations/slack/views/link_identity.py
  src/sentry/integrations/slack/views/unlink_identity.py
  src/sentry/integrations/slack/views/unlink_team.py
  src/sentry/integrations/utils/__init__.py
  src/sentry/integrations/utils/identities.py
  src/sentry/models/organization.py
  tests/sentry/integrations/slack/endpoints/test_action.py
  tests/sentry/integrations/slack/endpoints/test_commands.py
  tests/sentry/integrations/slack/test_link_identity.py
Labels: Type: Bug, Component: Notifications, Team: Ecosystem
