Repository getsentry/sentry, pull requests merged in 2021-07, with the labels that each got.

#26901 feat(notifications): Link/Unlink Slack Commands
  src/sentry/integrations/slack/client.py
  src/sentry/integrations/slack/endpoints/action.py
  src/sentry/integrations/slack/endpoints/command.py
  src/sentry/integrations/slack/message_builder/disconnected.py
  src/sentry/integrations/slack/message_builder/event.py
  src/sentry/integrations/slack/message_builder/help.py
  src/sentry/integrations/slack/requests/base.py
  src/sentry/integrations/slack/requests/command.py
  src/sentry/integrations/slack/views/link_identity.py
  src/sentry/integrations/slack/views/link_team.py
  src/sentry/integrations/slack/views/unlink_identity.py
  src/sentry/templates/sentry/auth-unlink-identity.html
  tests/sentry/api/endpoints/test_integrations_slack_commands.py
  tests/sentry/integrations/slack/test_link_identity.py
Labels: Component: Integrations, Component: Notifications, Team: Ecosystem

#27184 fix(notifications): Use `get_email_addresses` to get project specific email addresses
  src/sentry/incidents/action_handlers.py
  tests/sentry/incidents/test_action_handlers.py
Labels: Component: Notifications, Type: Bug

#26235 Invite new members CTA update
  static/app/views/settings/organizationMembers/organizationMembersWrapper.tsx
  tests/js/spec/views/settings/organizationMembers/organizationMembersWrapper.spec.jsx
Labels: Status: Stale, WIP

#27220 fix(notifications): Slack "ok" Logging
  src/sentry/integrations/slack/client.py
Labels: Component: Integrations, Team: Ecosystem

#27301 feat(search): Shake invalid tokens
  static/app/components/searchSyntax/renderer.tsx
Labels: WIP

#27460 fix(integrations): Add `ExpiredSignatureError` to catch statement
  src/sentry_plugins/jira_ac/views.py
Labels: Component: Integrations, Team: Ecosystem

#27482 fix(integrations): Vercel webhook KeyError
  src/sentry/integrations/vercel/generic_webhook.py
  src/sentry/integrations/vercel/webhook.py
  tests/sentry/integrations/vercel/test_webhook.py
  tests/sentry/integrations/vercel/testutils.py
Labels: Component: Integrations, Team: Ecosystem, Type: Bug

#27510 feat(ci): Add workdir input to setup-sentry action
  .github/actions/setup-sentry/action.yml
Labels: Component: CI

#27564 fix(notifications): Pass `collapse` and `expand` to the serializer
  src/sentry/api/endpoints/team_details.py
  static/app/views/settings/organizationTeams/teamNotifications.tsx
  tests/js/spec/views/team/organizationTeamProjects.spec.jsx
  tests/js/spec/views/team/teamCreate.spec.jsx
  tests/js/spec/views/team/teamMembers.spec.jsx
  tests/js/spec/views/team/teamNotificationSettings.spec.jsx
  tests/js/spec/views/team/teamSettings.spec.jsx
Labels: Component: Notifications, Team: Ecosystem, Type: Bug

#26393 chore(deps): Upgrade jest to v27
  package.json
  tests/js/instrumentedEnv/index.js
  tests/js/jest-pegjs-transform.js
  tests/js/spec/components/settingsBreadcrumbDropdown.spec.jsx
  tests/js/spec/views/sentryAppExternalInstallation.spec.jsx
  yarn.lock
Labels: Do Not Merge, Status: Backlog

#27636 ref(notifications): Clean up Notifications module
  src/sentry/integrations/slack/utils.py
  src/sentry/mail/adapter.py
  src/sentry/notifications/activity/assigned.py
  src/sentry/notifications/activity/base.py
  src/sentry/notifications/activity/new_processing_issues.py
  src/sentry/notifications/activity/note.py
  src/sentry/notifications/activity/regression.py
  src/sentry/notifications/activity/release.py
  src/sentry/notifications/activity/resolved.py
  src/sentry/notifications/activity/resolved_in_release.py
  src/sentry/notifications/activity/unassigned.py
  src/sentry/notifications/base.py
  src/sentry/notifications/rules.py
  src/sentry/notifications/utils/__init__.py
  src/sentry/notifications/utils/participants.py
Labels: Component: Notifications, Team: Ecosystem

#27639 ref(notifications): UserReportNotification
  src/sentry/mail/adapter.py
  src/sentry/mail/notifications.py
  src/sentry/notifications/activity/base.py
  src/sentry/notifications/base.py
  src/sentry/notifications/helpers.py
  src/sentry/notifications/rules.py
  src/sentry/notifications/user_report.py
  src/sentry/notifications/utils/__init__.py
Labels: Component: Notifications, Team: Ecosystem

#27612 fix(notifications): Padding
  static/app/views/settings/organizationTeams/teamNotifications.tsx
Labels: Team: Ecosystem, Type: Bug

#26613 ref(notifications): More should_be_participating tests
  src/sentry/api/endpoints/group_details.py
  src/sentry/api/endpoints/group_participants.py
  src/sentry/models/groupsubscription.py
  src/sentry/notifications/helpers.py
  tests/sentry/api/endpoints/test_group_participants.py
  tests/sentry/notifications/test_utils.py
  tests/sentry/notifications/utils/test_should_be_notified.py
  tests/sentry/notifications/utils/test_should_be_participating.py
Labels: Component: Notifications, Status: In Progress, Team: Ecosystem

#27795 ref(notifications): Reorganize the notifications module
  src/sentry/integrations/slack/message_builder/issues.py
  src/sentry/integrations/slack/message_builder/notifications.py
  src/sentry/integrations/slack/notifications.py
  src/sentry/integrations/slack/utils.py
  src/sentry/mail/adapter.py
  src/sentry/mail/notifications.py
  src/sentry/notifications/activity/__init__.py
  src/sentry/notifications/notifications/__init__.py
  src/sentry/notifications/notifications/activity/__init__.py
  src/sentry/notifications/notifications/activity/assigned.py
  src/sentry/notifications/notifications/activity/base.py
  src/sentry/notifications/notifications/activity/new_processing_issues.py
  src/sentry/notifications/notifications/activity/note.py
  src/sentry/notifications/notifications/activity/regression.py
  src/sentry/notifications/notifications/activity/release.py
  src/sentry/notifications/notifications/activity/resolved.py
  src/sentry/notifications/notifications/activity/resolved_in_release.py
  src/sentry/notifications/notifications/activity/unassigned.py
  src/sentry/notifications/notifications/base.py
  src/sentry/notifications/notifications/rules.py
  src/sentry/notifications/notifications/user_report.py
  src/sentry/notifications/utils/__init__.py
  src/sentry/web/frontend/debug/debug_new_processing_issues_email.py
  src/sentry/web/frontend/debug/mail.py
  tests/sentry/integrations/slack/test_notifications.py
  tests/sentry/mail/activity/test_note.py
  tests/sentry/mail/activity/test_release.py
  tests/sentry/mail/test_adapter.py
Labels: Component: Notifications, Team: Ecosystem

#24622 chore(inbox): Remove old inbox sort code
  src/sentry/search/snuba/executors.py
  tests/snuba/search/test_backend.py
Labels: Status: In Progress

#26904 Add more information to process_suspect_commits stats
  src/sentry/conf/server.py
  src/sentry/tasks/groupowner.py
  src/sentry/utils/sdk.py
Labels: Status: Stale
