Repository getsentry/sentry, pull requests merged in 2021-05, with the labels that each got.

#25523 ref(notifications): Consolidate ActivityNotifications and RuleNotifications
  src/sentry/integrations/slack/message_builder/notifications.py
  src/sentry/integrations/slack/notifications.py
  src/sentry/mail/adapter.py
  src/sentry/mail/notifications.py
  src/sentry/mail/notify.py
  src/sentry/notifications/activity/base.py
  src/sentry/notifications/base.py
  src/sentry/notifications/helpers.py
  src/sentry/notifications/manager.py
  src/sentry/notifications/notify.py
  src/sentry/notifications/rules.py
  src/sentry/notifications/utils/__init__.py
  src/sentry/notifications/utils/participants.py
  src/sentry/utils/email.py
  tests/sentry/integrations/slack/test_notifications.py
  tests/sentry/mail/test_adapter.py
  tests/sentry/models/test_project.py
Labels: Component: Notifications, Team: Ecosystem

#25845 fix(direnv): Do not call pre-commit but check the command's existance
  .envrc
  scripts/lib.sh
Labels: Component: Developer Environment

#25781 feat(notifications): Move Email Digest to `send_notification_as_email`
  src/sentry/mail/adapter.py
  src/sentry/mail/notifications.py
  src/sentry/notifications/helpers.py
  src/sentry/notifications/rules.py
  src/sentry/notifications/utils/participants.py
  tests/sentry/integrations/slack/test_notifications.py
  tests/sentry/mail/test_adapter.py
  tests/sentry/notifications/test_utils.py
Labels: Component: Notifications, Team: Ecosystem

#25987 ref(vercel): Remove UI Hook
  src/sentry/integrations/vercel/uihook.py
  src/sentry/integrations/vercel/urls.py
  src/sentry/templates/sentry/vercel-ui-hook.vercel
  tests/sentry/integrations/vercel/test_integration.py
Labels: Component: Integrations

#26039 build(ci): Fix eslint for backend changes
  .github/workflows/js-build-and-lint.yml
Labels: Component: CI

#25880 feat(notifications): Provider Selector
  src/sentry/api/exceptions.py
  src/sentry/api/serializers/models/notification_setting.py
  src/sentry/api/validators/notifications.py
  src/sentry/notifications/types.py
  static/app/components/acl/feature.tsx
  static/app/components/panels/panelHeader.tsx
  static/app/views/settings/account/accountNotificationFineTuning.tsx
  static/app/views/settings/account/notifications/fields2.tsx
  static/app/views/settings/account/notifications/notificationSettings.tsx
  static/app/views/settings/account/notifications/utils.tsx
Labels: Component: Notifications, Team: Ecosystem

#26090 fix(notifications): Slack Notification Settings Fallbacks
  src/sentry/notifications/helpers.py
  src/sentry/notifications/types.py
  src/sentry/notifications/utils/participants.py
  tests/sentry/notifications/test_utils.py
Labels: Component: Notifications, Team: Ecosystem, Type: Bug

#26040 feat(notifications): Calculate Fallback Settings
  src/sentry/api/bases/user.py
  src/sentry/api/endpoints/team_notification_settings_details.py
  src/sentry/api/endpoints/user_notification_settings_details.py
  src/sentry/api/serializers/models/notification_setting.py
  src/sentry/api/urls.py
  src/sentry/models/organization.py
  src/sentry/models/project.py
  src/sentry/models/team.py
  src/sentry/models/user.py
  src/sentry/notifications/helpers.py
  tests/sentry/api/endpoints/test_team_notification_settings.py
  tests/sentry/api/endpoints/test_user_notification_settings.py
  tests/sentry/models/test_team.py
  tests/sentry/models/test_user.py
  tests/sentry/notifications/test_utils.py
Labels: Component: Notifications, Team: Ecosystem

#26111 fix(notifications): Notification Settings Toggle
  src/sentry/api/serializers/models/notification_setting.py
  src/sentry/models/project.py
  src/sentry/notifications/helpers.py
  static/app/views/settings/account/notifications/fields2.tsx
  static/app/views/settings/account/notifications/notificationSettings.tsx
  static/app/views/settings/account/notifications/utils.tsx
  tests/sentry/api/endpoints/test_user_notification_settings.py
  tests/sentry/notifications/test_utils.py
Labels: Component: Notifications, Team: Ecosystem

#26120 fix(notifications): Deeply merge objects
  static/app/views/settings/account/notifications/utils.tsx
Labels: Component: Notifications, Team: Ecosystem, Type: Bug

#25733 Add "demo" to the list of reserved org slugs.
  src/sentry/constants.py
Labels: Status: Stale

#26198 fix(notifications): Check user ID in validator
  src/sentry/api/validators/notifications.py
  tests/sentry/api/endpoints/test_user_notification_settings.py
Labels: Component: Notifications, Team: Ecosystem

#26149 feat(notifications): Notification Settings Page
  static/app/views/settings/account/accountNotificationFineTuning.tsx
  static/app/views/settings/account/accountNotifications.tsx
  static/app/views/settings/account/notifications/feedbackAlert.tsx
  static/app/views/settings/account/notifications/fields2.tsx
  static/app/views/settings/account/notifications/notificationSettings.tsx
  static/app/views/settings/account/notifications/notificationSettingsByType.tsx
  static/app/views/settings/account/notifications/utils.tsx
  static/app/views/settings/components/forms/blankField.tsx
  static/app/views/settings/components/forms/fieldFromConfig.tsx
  static/app/views/settings/components/forms/type.tsx
  tests/js/spec/utils/settings/notifications/testUtils.spec.tsx
Labels: Component: Notifications, Team: Ecosystem

#26229 fix(notifications): Malformed Nested Data
  src/sentry/api/validators/notifications.py
  tests/sentry/api/endpoints/test_user_notification_settings.py
Labels: Component: Notifications, Team: Ecosystem, Type: Bug

#26234 feat(notifications): Project Search
  src/sentry/api/validators/notifications.py
  static/app/views/settings/account/notifications/constants.tsx
  static/app/views/settings/account/notifications/notificationSettings.tsx
  static/app/views/settings/account/notifications/notificationSettingsByOrganization.tsx
  static/app/views/settings/account/notifications/notificationSettingsByProjects.tsx
  static/app/views/settings/account/notifications/notificationSettingsByType.tsx
  static/app/views/settings/account/notifications/parentLabel.tsx
  static/app/views/settings/account/notifications/utils.tsx
Labels: Component: Notifications, Status: In Progress, Team: Ecosystem

#26114 feat(integrations): Unhide published sentry apps from metric alerts
  src/sentry/incidents/endpoints/organization_alert_rule_available_action_index.py
  src/sentry/incidents/logic.py
  src/sentry/models/sentryapp.py
  src/sentry/rules/actions/notify_event_service.py
  tests/sentry/incidents/endpoints/test_organization_alert_rule_available_action_index.py
Labels: Component: Integrations, Status: In Progress, Team: Ecosystem
