Repository getsentry/sentry, pull requests merged in 2021-11, with the labels that each got.

#29679 ref(digests): Move `Pipeline` to a file
  src/sentry/digests/__init__.py
  src/sentry/digests/notifications.py
  src/sentry/digests/utilities.py
  src/sentry/utils/pipeline.py
Labels: Component: Notifications, Team: Ecosystem

#29063 ref(slack): Clean MessageBuilder
  src/sentry/api/endpoints/group_integration_details.py
  src/sentry/api/serializers/models/integration.py
  src/sentry/integrations/slack/message_builder/issues.py
  src/sentry/integrations/utils/sync.py
  src/sentry/models/externalissue.py
  src/sentry/models/group.py
  src/sentry/models/grouplink.py
  src/sentry/tasks/integrations/sync_status_inbound.py
  tests/sentry/integrations/slack/test_message_builder.py
  tests/sentry/manager/test_group_manager.py
  tests/sentry/manager/test_team_manager.py
Labels: Component: Integrations, Team: Ecosystem

#26597 fix(stack-trace): Forward 403 Errors
  src/sentry/api/endpoints/project_stacktrace_link.py
  src/sentry/integrations/custom_scm/integration.py
  src/sentry/integrations/example/integration.py
  src/sentry/integrations/github/client.py
  src/sentry/integrations/github/integration.py
  src/sentry/integrations/gitlab/client.py
  src/sentry/integrations/gitlab/integration.py
  src/sentry/integrations/repositories.py
  src/sentry/shared_integrations/client.py
  static/app/components/events/interfaces/frame/stacktraceLink.tsx
  static/app/utils/analytics/integrationAnalyticsEvents.tsx
Labels: Status: In Progress, Team: Ecosystem

#29494 feat(dev): Use experimental arm64 Snuba image
  src/sentry/conf/server.py
Labels: Component: Developer Environment

#29739 feat(dev): Install uwsgi from wheel on Apple M1 hosts
  scripts/lib.sh
Labels: Component: Developer Environment

#29682 feat(slack): Allow team unlinking from slack in the UI
  src/sentry/api/endpoints/external_team_details.py
  src/sentry/integrations/base.py
  src/sentry/integrations/notifications.py
  src/sentry/integrations/slack/integration.py
  src/sentry/integrations/slack/notifications.py
  src/sentry/integrations/slack/utils/__init__.py
  src/sentry/integrations/slack/utils/notifications.py
  src/sentry/integrations/slack/views/link_team.py
  src/sentry/integrations/slack/views/unlink_team.py
  src/sentry/models/externalactor.py
  static/app/views/settings/organizationTeams/teamNotifications.tsx
  tests/js/spec/views/team/teamNotificationSettings.spec.jsx
Labels: Component: Integrations, Team: Ecosystem

#29751 feat(api-ratelimit): Create a rate limit middleware
  src/sentry/api/base.py
  src/sentry/conf/server.py
  src/sentry/middleware/ratelimit.py
  tests/sentry/middleware/test_ratelimit_middleware.py
Labels: Component: API, Team: Ecosystem

#29757 fix(notifications): Get default settings in `where_should_be_participating`
  src/sentry/notifications/helpers.py
  src/sentry/testutils/helpers/slack.py
  tests/sentry/notifications/notifications/test_organization_request.py
  tests/sentry/notifications/test_utils.py
  tests/sentry/notifications/utils/test_get_setting_mapping_from_mapping.py
Labels: Component: Notifications, Team: Ecosystem

#29767 ref(notifications): Only notify would-be assignee when alert is triggered
  src/sentry/conf/server.py
  src/sentry/features/__init__.py
  src/sentry/notifications/utils/participants.py
Labels: Component: Notifications, Team: Ecosystem

#29802 fix(notification): Correct overriding in `where_should_be_participating`
  src/sentry/notifications/helpers.py
  tests/sentry/notifications/utils/test_get_setting_mapping_from_mapping.py
  tests/sentry/notifications/utils/test_should_be_participating.py
Labels: Component: Notifications, Team: Ecosystem

#29155 ref: Remove JS tests from precommit
  config/hooks/pre-commit
  src/sentry/lint/engine.py
Labels: Status: Stale

#29818 fix(slack): Allow identity unlinking from slack.
  src/sentry/api/endpoints/external_team_details.py
  src/sentry/api/endpoints/external_user_details.py
  static/app/views/settings/organizationTeams/teamNotifications.tsx
  tests/sentry/api/endpoints/test_external_team_details.py
  tests/sentry/api/endpoints/test_external_user_details.py
Labels: Component: Integrations, Team: Ecosystem

#29721 ref(notifications): Simplify MessageBuilder hierarchy
  src/sentry/api/helpers/group_index/update.py
  src/sentry/integrations/slack/endpoints/action.py
  src/sentry/integrations/slack/message_builder/__init__.py
  src/sentry/integrations/slack/message_builder/base/base.py
  src/sentry/integrations/slack/message_builder/issues.py
  src/sentry/integrations/slack/message_builder/notifications.py
  src/sentry/integrations/slack/message_builder/organization_requests.py
  src/sentry/integrations/slack/notifications.py
  src/sentry/integrations/slack/utils/notifications.py
  src/sentry/notifications/notifications/activity/base.py
  src/sentry/notifications/notifications/activity/new_processing_issues.py
  src/sentry/notifications/notifications/activity/note.py
  src/sentry/notifications/notifications/activity/release.py
  src/sentry/notifications/notifications/base.py
  src/sentry/notifications/notifications/organization_request.py
  src/sentry/notifications/notifications/rules.py
  src/sentry/notifications/notifications/user_report.py
  src/sentry/notifications/utils/__init__.py
  src/sentry/notifications/utils/actions.py
  src/sentry/notifications/utils/participants.py
  tests/sentry/integrations/slack/endpoints/test_action.py
  tests/sentry/integrations/slack/test_message_builder.py
  tests/sentry/integrations/slack/test_unfurl.py
Labels: Component: Notifications, Team: Ecosystem

#29848 ref(notifications): Revert-Revert Simplify MessageBuilder hierarchy
  src/sentry/api/helpers/group_index/update.py
  src/sentry/integrations/slack/endpoints/action.py
  src/sentry/integrations/slack/message_builder/__init__.py
  src/sentry/integrations/slack/message_builder/base/base.py
  src/sentry/integrations/slack/message_builder/issues.py
  src/sentry/integrations/slack/message_builder/notifications.py
  src/sentry/integrations/slack/message_builder/organization_requests.py
  src/sentry/integrations/slack/notifications.py
  src/sentry/integrations/slack/utils/notifications.py
  src/sentry/notifications/notifications/activity/base.py
  src/sentry/notifications/notifications/activity/new_processing_issues.py
  src/sentry/notifications/notifications/activity/note.py
  src/sentry/notifications/notifications/activity/release.py
  src/sentry/notifications/notifications/base.py
  src/sentry/notifications/notifications/organization_request.py
  src/sentry/notifications/notifications/rules.py
  src/sentry/notifications/notifications/user_report.py
  src/sentry/notifications/utils/__init__.py
  src/sentry/notifications/utils/actions.py
  src/sentry/notifications/utils/participants.py
  tests/sentry/integrations/slack/endpoints/test_action.py
  tests/sentry/integrations/slack/test_message_builder.py
  tests/sentry/integrations/slack/test_unfurl.py
Labels: Component: Notifications, Team: Ecosystem

#29835 ref(notifications): Only use fallthrough to override unmatched issues
  src/sentry/models/projectownership.py
  src/sentry/notifications/utils/participants.py
  tests/sentry/mail/test_adapter.py
  tests/sentry/notifications/utils/test_participants.py
Labels: Component: Notifications, Team: Ecosystem

#29854 py(types): Add type annotations to email utils.
  mypy.ini
  src/sentry/integrations/vsts/webhooks.py
  src/sentry/utils/email/__init__.py
  src/sentry/utils/email/address.py
  src/sentry/utils/email/backend.py
  src/sentry/utils/email/faker.py
  src/sentry/utils/email/list_resolver.py
  src/sentry/utils/email/manager.py
  src/sentry/utils/email/message_builder.py
  src/sentry/utils/email/send.py
  src/sentry/utils/email/signer.py
  src/sentry/utils/strings.py
  tests/sentry/utils/email/test_address.py
Labels: Team: Ecosystem

#29159 ref(integrations): Move methods to Managers
  migrations_lockfile.txt
  src/sentry/db/models/fields/foreignkey.py
  src/sentry/db/models/fields/onetoone.py
  src/sentry/integrations/utils/sync.py
  src/sentry/migrations/0244_organization_and_integration_foreign_keys.py
  src/sentry/models/externalissue.py
  src/sentry/models/grouplink.py
Labels: Component: Notifications, Team: Ecosystem

#28879 ref(integrations): Clean up Issues Webhooks
  src/sentry/integrations/issues.py
  src/sentry/integrations/jira/webhooks.py
  src/sentry/integrations/vsts/integration.py
  src/sentry/integrations/vsts/webhooks.py
  src/sentry/models/group.py
  src/sentry/models/groupassignee.py
  src/sentry/models/integration.py
  src/sentry/models/useremail.py
  tests/sentry/integrations/vsts/test_webhooks.py
Labels: Status: In Progress, Component: Integrations, Team: Ecosystem

#29766 ref(ratelimit): Change RedisRatelimiter to use redis cluster
  src/sentry/ratelimits/redis.py
Labels: Component: API

#29880 fix(notifications): Guard against no "settings"
  src/sentry/rules/actions/notify_event_service.py
Labels: Type: Bug, Component: Notifications, Team: Ecosystem

#27733 feat(semver): Determine latest release using semver when applicable
  src/sentry/api/issue_search.py
  src/sentry/search/events/filter.py
  src/sentry/search/utils.py
  src/sentry/testutils/factories.py
  tests/sentry/search/events/test_builder.py
  tests/sentry/search/events/test_filter.py
  tests/sentry/search/test_utils.py
  tests/sentry/snuba/test_discover.py
  tests/snuba/api/endpoints/test_organization_events_v2.py
  tests/snuba/api/endpoints/test_organization_group_index.py
  tests/snuba/tagstore/test_tagstore_backend.py
Labels: Status: In Progress

#29895 fix(slack): MessageAction dataclass
  src/sentry/notifications/utils/actions.py
Labels: Type: Bug, Component: Notifications, Team: Ecosystem

#29422 feat(auth): Implement SSO session expiry
  src/sentry/testutils/cases.py
  src/sentry/utils/auth.py
  tests/integration/test_api.py
  tests/integration/test_sso.py
Labels: Deploy: Risky

#29862 ref(integrations): Allow pagination on team and user mappings pages
  static/app/components/integrationExternalMappings.tsx
  static/app/views/organizationIntegrations/integrationExternalTeamMappings.tsx
  static/app/views/organizationIntegrations/integrationExternalUserMappings.tsx
Labels: Component: Integrations, Team: Ecosystem

#29955 chore(logo-upload): Migrate SentryApp table to include popularity column
  migrations_lockfile.txt
  src/sentry/migrations/0248_add_popularity_column.py
  src/sentry/models/sentryapp.py
Labels: Component: Integrations, Team: Ecosystem

#29978 feat(logo-upload): Update serializer to account for popularity
  src/sentry/api/endpoints/sentry_app_details.py
  src/sentry/api/endpoints/sentry_apps.py
  src/sentry/api/serializers/models/sentry_app.py
  src/sentry/api/serializers/rest_framework/sentry_app.py
  src/sentry/mediators/sentry_apps/creator.py
  src/sentry/mediators/sentry_apps/updater.py
  tests/sentry/api/endpoints/test_organization_sentry_apps.py
  tests/sentry/api/endpoints/test_sentry_app_details.py
  tests/sentry/api/endpoints/test_sentry_apps.py
  tests/sentry/mediators/sentry_apps/test_creator.py
  tests/sentry/mediators/sentry_apps/test_updater.py
Labels: Component: Integrations, Team: Ecosystem

#29677 feat(notifications): Slack Digests
  src/sentry/digests/utilities.py
  src/sentry/digests/utils.py
  src/sentry/integrations/slack/message_builder/notifications.py
  src/sentry/integrations/slack/notifications.py
  src/sentry/mail/notifications.py
  src/sentry/notifications/notifications/activity/base.py
  src/sentry/notifications/notifications/digest.py
  src/sentry/notifications/notifications/rules.py
  src/sentry/notifications/notifications/user_report.py
  src/sentry/notifications/notify.py
  src/sentry/web/frontend/debug/debug_new_processing_issues_email.py
  src/sentry/web/frontend/debug/mail.py
  tests/sentry/api/endpoints/test_relay_healthcheck.py
  tests/sentry/api/endpoints/test_relay_projectids.py
  tests/sentry/digests/test_utilities.py
  tests/sentry/integrations/slack/notifications/test_new_processing_issues.py
Labels: Component: Notifications, Team: Ecosystem

#29887 fix(dev): Patch firefox_profile.py from Selenium package
  requirements-base.txt
  scripts/lib.sh
  scripts/patches/firefox_profile.diff
Labels: Component: Developer Environment

#29956 feat(ci): Drop ubuntu from dev env CI
  .github/workflows/development-environment.yml
Labels: Component: CI

#29065 feat(notifications): Request Notifications
  src/sentry/analytics/event_manager.py
  src/sentry/api/endpoints/organization_integration_request.py
  src/sentry/api/endpoints/organization_invite_request_index.py
  src/sentry/api/endpoints/organization_join_request.py
  src/sentry/integrations/slack/analytics.py
  src/sentry/integrations/slack/message_builder/issues.py
  src/sentry/integrations/slack/utils/__init__.py
  src/sentry/integrations/slack/utils/notifications.py
  src/sentry/mail/__init__.py
  src/sentry/mail/analytics.py
  src/sentry/mail/notifications.py
  src/sentry/models/organization.py
  src/sentry/notifications/notifications/activity/base.py
  src/sentry/notifications/notifications/base.py
  src/sentry/notifications/notifications/invitations/__init__.py
  src/sentry/notifications/notifications/organization_request/__init__.py
  src/sentry/notifications/notifications/organization_request/abstract_invite_request.py
  src/sentry/notifications/notifications/organization_request/base.py
  src/sentry/notifications/notifications/organization_request/integration_request.py
  src/sentry/notifications/notifications/organization_request/invite_request.py
  src/sentry/notifications/notifications/organization_request/join_request.py
  src/sentry/notifications/notifications/rules.py
  src/sentry/types/integrations.py
  tests/sentry/api/endpoints/test_organization_integration_request.py
Labels: Component: Notifications, Team: Ecosystem

#30034 fix(typing): Bad import
  src/sentry/db/models/manager/__init__.py
  src/sentry/utils/email/list_resolver.py
Labels: Team: Ecosystem

#30033 fix(stacktrace-linking): Swallow Identity error
  src/sentry/api/endpoints/project_stacktrace_link.py
  src/sentry/integrations/gitlab/client.py
  src/sentry/integrations/repositories.py
Labels: Type: Bug, Component: Integrations, Team: Ecosystem

#29805 feat(ratelimit): Implement the rate limit check
  src/sentry/middleware/ratelimit.py
  src/sentry/ratelimits/base.py
  src/sentry/ratelimits/redis.py
  tests/sentry/middleware/test_ratelimit_middleware.py
  tests/sentry/ratelimits/test_redis.py
Labels: Component: API, Team: Ecosystem

#30036 chore(logo-upload): Backfill popularity values for SentryApp tables
  migrations_lockfile.txt
  src/sentry/migrations/0250_backfill_popularity.py
Labels: Impact: Migration, Team: Ecosystem

#30043 ref(github): Use client for installations instead of manually calling API
  src/sentry/integrations/github/integration.py
Labels: Component: Integrations, Team: Ecosystem

#30050 fix(dev): Install Command Line Tools when git is missing
  .envrc
Labels: Component: Developer Environment

#30071 fix(dev): Use LDFLAGS for uwsgi on Apple's M1
  scripts/lib.sh
Labels: Component: Developer Environment

#30053 fix(bitbucket): Identity.DoesNotExist
  src/sentry/integrations/bitbucket/repository.py
  src/sentry/integrations/bitbucket/urls.py
  src/sentry/integrations/bitbucket/webhook.py
  src/sentry/integrations/bitbucket_server/repository.py
  src/sentry/integrations/bitbucket_server/webhook.py
  src/sentry/integrations/custom_scm/repository.py
  src/sentry/integrations/example/repository.py
  src/sentry/integrations/github/repository.py
  src/sentry/integrations/github/webhook.py
  src/sentry/integrations/github_enterprise/repository.py
  src/sentry/integrations/gitlab/repository.py
  src/sentry/integrations/gitlab/webhooks.py
  src/sentry/integrations/vsts/repository.py
  src/sentry/plugins/base/bindings.py
  src/sentry/plugins/providers/__init__.py
  src/sentry/plugins/providers/integration_repository.py
  src/sentry/testutils/cases.py
  src/sentry/utils/email/__init__.py
  src/sentry/utils/email/address.py
  src/sentry_plugins/bitbucket/endpoints/webhook.py
  src/sentry_plugins/bitbucket/repository_provider.py
  src/sentry_plugins/bitbucket/testutils.py
  src/sentry_plugins/github/endpoints/webhook.py
  src/sentry_plugins/github/plugin.py
  tests/sentry/api/endpoints/test_organization_details.py
  tests/sentry/integrations/bitbucket/test_webhook.py
  tests/sentry/integrations/bitbucket_server/test_webhook.py
  tests/sentry/utils/email/test_address.py
  tests/sentry_plugins/bitbucket/endpoints/test_webhooks.py
  tests/snuba/api/endpoints/test_organization_events_stats.py
Labels: Type: Bug, Component: Integrations, Team: Ecosystem

#30110 fix(slack): SlackUnlinkIdentityView Identity.DoesNotExist
  src/sentry/integrations/slack/views/unlink_identity.py
Labels: Type: Bug, Component: Notifications, Team: Ecosystem

#30128 fix(discover): Apply a rate limit to discover
  src/sentry/discover/endpoints/discover_query.py
Labels: Component: API

#30094 feat: Set variables on Apple M1 to build Python packages
  Makefile
  requirements-base.txt
  scripts/lib.sh
Labels: Component: Developer Environment

#30132 fix(events): Apply a rate limit to GroupEventsLatestEndpoint
  src/sentry/api/endpoints/group_events_latest.py
Labels: Component: API

#30151 ref(sentryapps): Change API behavior for logo-upload prep
  src/sentry/api/endpoints/sentry_apps.py
  src/sentry/api/serializers/models/sentry_app.py
  tests/sentry/api/endpoints/test_sentry_app_avatar.py
Labels: Component: Integrations, Team: Ecosystem

#29912 types(py): Slack Endpoints
  mypy.ini
  src/sentry/api/helpers/group_index/__init__.py
  src/sentry/integrations/msteams/unlink_identity.py
  src/sentry/integrations/slack/endpoints/action.py
  src/sentry/integrations/slack/endpoints/base.py
  src/sentry/integrations/slack/endpoints/command.py
  src/sentry/integrations/slack/endpoints/event.py
  src/sentry/integrations/slack/message_builder/base/block.py
  src/sentry/integrations/slack/message_builder/discover.py
  src/sentry/integrations/slack/message_builder/event.py
  src/sentry/integrations/slack/message_builder/help.py
  src/sentry/integrations/slack/message_builder/prompt.py
  src/sentry/integrations/slack/requests/action.py
  src/sentry/integrations/slack/requests/base.py
  src/sentry/integrations/slack/requests/command.py
  src/sentry/integrations/slack/requests/event.py
  src/sentry/integrations/slack/unfurl/__init__.py
  src/sentry/integrations/slack/unfurl/discover.py
  tests/sentry/integrations/slack/endpoints/commands/__init__.py
  tests/sentry/integrations/slack/endpoints/commands/test_post.py
  tests/sentry/integrations/slack/endpoints/test_action.py
  tests/sentry/integrations/slack/endpoints/test_event.py
Labels: Team: Ecosystem

#30113 fix(pagerduty): Handle missing service
  src/sentry/integrations/pagerduty/notify_action.py
Labels: Type: Bug, Component: Integrations, Team: Ecosystem

#30158 feat(ratelimit): Add default values for the rate limiter
  src/sentry/api/base.py
  src/sentry/conf/server.py
  src/sentry/middleware/ratelimit.py
  src/sentry/types/ratelimit.py
  tests/sentry/middleware/test_ratelimit_middleware.py
Labels: Component: API, Team: Ecosystem

#18915 build(js): Change `app` alias to `sentry`
  .git-blame-ignore-revs
  .storybook/preview.tsx
  .storybook/previewGlobalStyles.tsx
  config/tsconfig.build.json
  config/webpack.chartcuterie.config.ts
  jest.config.ts
  static/app/bootstrap/initializeSdk.tsx
  static/app/views/performance/landing/vitalsCards.tsx
  webpack.config.ts
Labels: Status: In Progress

#30185 chore(notifications): Remove Slack automatic feature flag
  src/sentry/api/serializers/models/notification_setting.py
  src/sentry/api/serializers/models/project.py
  src/sentry/conf/server.py
  src/sentry/features/__init__.py
  src/sentry/models/groupsubscription.py
  src/sentry/notifications/defaults.py
  src/sentry/notifications/helpers.py
  src/sentry/notifications/manager.py
  src/sentry/notifications/utils/participants.py
  tests/sentry/notifications/utils/test_get_fallback_settings.py
Labels: Component: Notifications, Team: Ecosystem
