Repository getsentry/sentry, pull requests merged in 2021-08, with the labels that each got.

#27870 test(ci): Ignore annotation for pytest retries
  .github/actions/setup-sentry/action.yml
  conftest.py
Labels: Component: CI

#27783 ref(notifications): Add digest emails to Notifications hierarchy
  src/sentry/digests/__init__.py
  src/sentry/digests/utilities.py
  src/sentry/mail/adapter.py
  src/sentry/mail/notifications.py
  src/sentry/notifications/notifications/activity/base.py
  src/sentry/notifications/notifications/base.py
  src/sentry/notifications/notifications/digest.py
  src/sentry/notifications/utils/digest.py
  tests/sentry/mail/test_adapter.py
Labels: Component: Notifications, Team: Ecosystem

#27940 build(ci): Add second snuba test instance
  .github/workflows/snuba-integration-test.yml
Labels: Component: CI

#27177 fix(workflow): Update date_modified when alert rule is updated
  src/sentry/incidents/logic.py
  tests/sentry/incidents/endpoints/test_organization_alert_rule_details.py
  tests/sentry/incidents/endpoints/test_project_alert_rule_details.py
Labels: Status: In Progress

#27928 ref(notifications): Add digest emails to Notifications hierarchy
  src/sentry/digests/__init__.py
  src/sentry/digests/utilities.py
  src/sentry/mail/adapter.py
  src/sentry/mail/notifications.py
  src/sentry/notifications/notifications/activity/base.py
  src/sentry/notifications/notifications/base.py
  src/sentry/notifications/notifications/digest.py
  src/sentry/notifications/utils/digest.py
  tests/sentry/mail/test_adapter.py
  tests/sentry/notifications/__init__.py
  tests/sentry/notifications/test_digests.py
  tests/sentry/tasks/test_digests.py
Labels: Component: Notifications, Team: Ecosystem

#27969 fix(notifications): Re-enable sending Slacks in notify_digest()
  src/sentry/notifications/notifications/digest.py
  tests/sentry/integrations/slack/test_notifications.py
Labels: Type: Bug, Component: Notifications, Team: Ecosystem

#27522 feat(issue-details): Add git activities section
  static/app/components/group/gitActivity/activity.tsx
  static/app/components/group/gitActivity/index.tsx
  static/app/components/group/gitActivity/status.tsx
  static/app/components/group/sidebar.tsx
  static/app/icons/IconGitPullRequestClosed.tsx
  static/app/icons/IconGitPullRequestMerged.tsx
  static/app/icons/iconGitPullRequestDraft.tsx
  static/app/icons/iconGitPullRequestOpen.tsx
  static/app/routes.tsx
  static/app/views/settings/organization/navigationConfiguration.tsx
  static/app/views/settings/organizationGitHelpers.tsx
  tests/js/spec/components/group/sidebar.spec.jsx
  tests/js/spec/views/organizationGroupDetails/groupEventDetails.spec.jsx
Labels: Do Not Merge

#28018 fix(slack): Don't show unknown command message when there is no command
  src/sentry/integrations/slack/message_builder/help.py
Labels: Type: Bug, Team: Ecosystem

#27984 fix(notifications): Use all providers in `is_subscribed`
  src/sentry/api/serializers/models/group.py
  src/sentry/api/serializers/models/project.py
  src/sentry/notifications/helpers.py
  tests/sentry/notifications/test_utils.py
  tests/sentry/notifications/utils/test_get_groups_for_query.py
  tests/sentry/notifications/utils/test_get_most_specific.py
  tests/sentry/notifications/utils/test_get_user_subscriptions_for_groups.py
  tests/sentry/notifications/utils/test_transforms.py
Labels: Type: Bug, Component: Notifications, Team: Ecosystem

#28116 fix(integrations): VSTS `update_comment()`
  src/sentry/integrations/vsts/issues.py
  tests/sentry/integrations/vsts/test_integration.py
Labels: Type: Bug, Team: Ecosystem

#28140 fix(plugins): Check if user is anonymous
  src/sentry_plugins/jira_ac/views.py
Labels: Type: Bug, Component: Integrations

#27711 ref(sdk-updates-broadcast): Update design & add raven alert
  src/sentry/conf/server.py
  static/app/components/alert.tsx
  static/app/components/idBadge/projectBadge.tsx
  static/app/components/sidebar/broadcastSdkUpdates.tsx
  static/app/components/sidebar/sidebarPanel.tsx
  static/app/utils/getSdkUpdateSuggestion.tsx
Labels: WIP

#26497 Fix cross-origin attribute on dynamically inserted 'script' element
  src/sentry/templates/sentry/js-sdk-loader.js.tmpl
  src/sentry/templates/sentry/js-sdk-loader.min.js.tmpl
Labels: Status: In Progress, Component: SDK

#28189 feat(notifications): Add Analytics
  src/sentry/analytics/events/notifications_sent.py
  src/sentry/analytics/events/notifications_settings_updated.py
  src/sentry/api/endpoints/team_notification_settings_details.py
  src/sentry/api/endpoints/user_notification_settings_details.py
  src/sentry/demo/data_population.py
  src/sentry/integrations/slack/notifications.py
  src/sentry/notifications/manager.py
  static/app/utils/analytics/integrationAnalyticsEvents.tsx
Labels: Component: Notifications, Team: Ecosystem

#28190 feat(notifications): Automatically Opt Users into Slack Notifications
  src/sentry/api/endpoints/user_notification_settings_details.py
  src/sentry/conf/server.py
  src/sentry/features/__init__.py
  src/sentry/features/helpers.py
  src/sentry/notifications/defaults.py
  src/sentry/notifications/helpers.py
  src/sentry/notifications/utils/participants.py
  tests/sentry/api/endpoints/test_organization_details.py
  tests/sentry/notifications/test_utils.py
  tests/sentry/notifications/utils/test_get_groups_for_query.py
  tests/sentry/notifications/utils/test_get_most_specific.py
  tests/sentry/notifications/utils/test_get_user_subscriptions_for_groups.py
Labels: Component: Notifications, Team: Ecosystem

#27945 fix(dev): Cleanup `SENTRY_DEVSERVICES` code to only expect a callable
  src/sentry/runner/commands/devservices.py
Labels: Status: In Progress
