Repository getsentry/sentry, pull requests merged in 2021-06, with the labels that each got.

#25954 fix: Correct typo in perf guide
  static/app/components/assistant/getGuidesContent.tsx
Labels: Status: Stale

#26315 ref(dev): direnv to call ensure-venv script without using PWD
  .envrc
Labels: Component: Developer Environment

#26281 fix(GithubEnterpriseIntegration): Adding Authorization-header for installations-request
  src/sentry/integrations/github_enterprise/integration.py
  tests/sentry/integrations/github_enterprise/test_integration.py
Labels: Team: Ecosystem

#26296 fix(ci): Fix dev env workflow Docker initialization code
  .github/workflows/development-environment.yml
  .github/workflows/files/com.docker.vmnetd.plist
  scripts/lib.sh
Labels: Component: CI

#26309 feat(dev): Add support for pyenv v2 and drop support for pyenv v1
  .github/workflows/development-environment.yml
  scripts/pyenv_setup.sh
Labels: Component: CI, Component: Developer Environment

#26369 feat(ci): Initializing Docker should be more robust
  .github/workflows/development-environment.yml
  Brewfile
  scripts/lib.sh
Labels: Component: CI, Component: Developer Environment

#26365 fix(notifications): Organizations in Alerts
  static/app/views/settings/account/notifications/notificationSettingsByType.tsx
  static/app/views/settings/account/notifications/utils.tsx
  tests/js/spec/views/settings/account/notifications/notificationSettingsByOrganizations.spec.tsx
  tests/js/spec/views/settings/account/notifications/notificationSettingsByProjects.spec.tsx
  tests/js/spec/views/settings/account/notifications/notificationSettingsByType.spec.tsx
Labels: Component: Notifications, Team: Ecosystem, Type: Bug

#26389 feat(notifications): Deploy Notifications Slow Query
  src/sentry/models/commitfilechange.py
  src/sentry/notifications/activity/release.py
  src/sentry/notifications/utils/__init__.py
  tests/sentry/models/test_commitfilechange.py
Labels: Component: Notifications, Team: Ecosystem

#26322 ref(ci): Make dev env workflow for sentry and getsentry closer to each other
  .github/workflows/development-environment.yml
  scripts/lib.sh
Labels: Component: CI, Component: Developer Environment

#26428 feat(dev): Install wheel as part of make install-py-dev
  .github/workflows/development-environment.yml
  .github/workflows/python-versions.yml
  scripts/bootstrap-py3-venv
  scripts/lib.sh
Labels: Component: Developer Environment

#26430 feat(ci): Python and dev env workflow improvements
  .github/workflows/development-environment.yml
  .github/workflows/python-deps.yml
Labels: Component: CI

#26387 feat(notifications): Combine notification setting JSONForms
  static/app/views/settings/account/notifications/notificationSettings.tsx
  tests/js/spec/views/settings/account/notifications/notificationSettings.spec.tsx
Labels: Component: Notifications, Team: Ecosystem

#26353 feat(dev): Run bootstrap script when dev env changes happens
  .github/workflows/bootstrap.yml
Labels: Component: CI, Component: Developer Environment

#26517 ref(notifications): MessageBuilder
  mypy.ini
  src/sentry/eventstore/models.py
  src/sentry/incidents/action_handlers.py
  src/sentry/integrations/slack/event_endpoint.py
  src/sentry/integrations/slack/message_builder/__init__.py
  src/sentry/integrations/slack/message_builder/base/__init__.py
  src/sentry/integrations/slack/message_builder/base/base.py
  src/sentry/integrations/slack/message_builder/base/block.py
  src/sentry/integrations/slack/message_builder/discover.py
  src/sentry/integrations/slack/message_builder/event.py
  src/sentry/integrations/slack/message_builder/incidents.py
  src/sentry/integrations/slack/message_builder/issues.py
  src/sentry/integrations/slack/message_builder/notifications.py
  src/sentry/integrations/slack/utils.py
  src/sentry/models/group.py
  src/sentry/utils/dates.py
  src/sentry_plugins/slack/plugin.py
  tests/sentry/integrations/slack/test_message_builder.py
  tests/sentry_plugins/slack/test_plugin.py
Labels: Component: Notifications, Team: Ecosystem

#26516 ref(notifications): Slack Request Classes
  mypy.ini
  src/sentry/integrations/slack/action_endpoint.py
  src/sentry/integrations/slack/event_endpoint.py
  src/sentry/integrations/slack/requests/__init__.py
  src/sentry/integrations/slack/requests/action.py
  src/sentry/integrations/slack/requests/base.py
  src/sentry/integrations/slack/requests/event.py
  tests/sentry/integrations/slack/test_requests.py
Labels: Component: Notifications, Team: Ecosystem

#26569 feat(notifications): Slack Commands
  mypy.ini
  src/sentry/integrations/slack/action_endpoint.py
  src/sentry/integrations/slack/command_endpoint.py
  src/sentry/integrations/slack/event_endpoint.py
  src/sentry/integrations/slack/message_builder/base/base.py
  src/sentry/integrations/slack/message_builder/help.py
  src/sentry/integrations/slack/requests/base.py
  src/sentry/integrations/slack/requests/command.py
  src/sentry/integrations/slack/unfurl/__init__.py
  src/sentry/integrations/slack/urls.py
  src/sentry/integrations/slack/util/__init__.py
  src/sentry/integrations/slack/util/auth.py
  tests/sentry/api/endpoints/test_integrations_slack_commands.py
  tests/sentry/integrations/slack/test_requests.py
Labels: Component: Notifications, Team: Ecosystem

#26603 fix(integrations): Downgrade error to warning
  src/sentry/api/endpoints/sentry_app_authorizations.py
  src/sentry/web/frontend/oauth_token.py
  tests/sentry/api/endpoints/test_sentry_app_authorizations.py
Labels: Component: Logging, Team: Ecosystem

#26663 fix(notifications): Check feature flag one organization at a time
  src/sentry/features/helpers.py
  src/sentry/integrations/slack/message_builder/event.py
  tests/sentry/features/test_helpers.py
Labels: Component: Notifications, Team: Ecosystem, Type: Bug

#26756 feat(notifications): Allow TEAM scope
  src/sentry/notifications/helpers.py
  src/sentry/notifications/manager.py
  tests/sentry/notifications/test_utils.py
  tests/sentry/notifications/utils/test_get_scope.py
Labels: Component: Notifications, Team: Ecosystem

#25744 build(webpack): Change webpack to have smaller chunks and make all entries async
  build-utils/optional-locale-chunk-plugin.js
  config/tsconfig.build.json
  jest.config.js
  src/sentry/templates/sentry/layout.html
  src/sentry/templates/sentry/plugins/bases/issue/create_issue.html
  src/sentry/templatetags/sentry_assets.py
  static/app/__mocks__/translations.tsx
  static/app/bootstrap/initializeApp.tsx
  static/app/bootstrap/initializeLocale.tsx
  static/app/bootstrap/initializeMain.tsx
  static/app/index.tsx
  static/app/locale.tsx
  static/app/stores/configStore.tsx
  static/app/translations.tsx
  static/app/views/integrationPipeline/index.tsx
  tests/js/setup.js
  tests/sentry/templatetags/test_sentry_assets.py
  webpack.config.js
Labels: Status: In Progress

#26881 ref(slack): Reorganize Slack Files
  src/sentry/integrations/msteams/link_identity.py
  src/sentry/integrations/slack/endpoints/__init__.py
  src/sentry/integrations/slack/endpoints/action.py
  src/sentry/integrations/slack/endpoints/command.py
  src/sentry/integrations/slack/endpoints/event.py
  src/sentry/integrations/slack/urls.py
  src/sentry/integrations/slack/views/__init__.py
  src/sentry/integrations/slack/views/link_identity.py
  src/sentry/integrations/slack/views/link_team.py
  src/sentry/integrations/slack/views/unlink_identity.py
  src/sentry/templates/sentry/integrations/msteams-linked.html
  src/sentry/templates/sentry/integrations/slack-link-team-error.html
  src/sentry/templates/sentry/integrations/slack-link-team.html
  src/sentry/templates/sentry/integrations/slack-linked.html
  src/sentry/templates/sentry/integrations/slack-post-linked-team.html
  src/sentry/templates/sentry/integrations/slack-unlinked.html
  tests/sentry/api/endpoints/test_integrations_slack_commands.py
  tests/sentry/integrations/slack/test_action_endpoint.py
  tests/sentry/integrations/slack/test_event_endpoint.py
  tests/sentry/integrations/slack/test_link_identity.py
  tests/sentry/integrations/slack/test_unlink_identity.py
Labels: Team: Ecosystem

#26885 ref(slack): Add types to Slack endpoints
  mypy.ini
  src/sentry/integrations/slack/endpoints/action.py
  src/sentry/integrations/slack/endpoints/command.py
  src/sentry/integrations/slack/endpoints/event.py
  src/sentry/integrations/slack/requests/base.py
  src/sentry/integrations/slack/views/__init__.py
  src/sentry/integrations/slack/views/link_identity.py
  src/sentry/integrations/slack/views/link_team.py
  src/sentry/integrations/slack/views/unlink_identity.py
  src/sentry/web/decorators.py
  tests/sentry/integrations/slack/test_action_endpoint.py
  tests/sentry/integrations/slack/test_link_identity.py
  tests/sentry/integrations/slack/test_unlink_identity.py
Labels: Component: Integrations, Team: Ecosystem
